In [1]:
import numpy as np
import pandas as pd

In [2]:
! pip install --user researchpy

Requirement already satisfied: researchpy in /Users/valazeinali/.local/lib/python3.7/site-packages (0.2.2)
Requirement already satisfied: statsmodels in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (0.11.0)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (1.18.1)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (1.4.1)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (1.0.1)
Requirement already satisfied: patsy>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas->researchpy) (2019.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from patsy>=0.5->statsmodels->researchpy) (1.14.0)

In [3]:
import researchpy # for t-test stuff!

In [4]:
df = pd.read_csv('minmax_OAS_with_Returns_Final_NO_Outliers_EM.csv')

In [5]:
df.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg),Quadrant
0,1999-01-31 00:00:00,1.00000,#VALUE!,#VALUE!,0.061413,0.0000,0.742285,0.734467,0.911793,0.896788,0.754677,0.726411,1.000000,0.981686,0.786902,0.725754,0.739139,0.398443,3.0
1,1999-02-28 00:00:00,1.00000,#VALUE!,#VALUE!,0.822168,0.8923,1.000000,1.000000,1.000000,1.000000,0.977482,0.950245,1.000000,1.000000,0.917165,0.888962,0.853224,0.502272,3.0
2,1999-03-31 00:00:00,1.00000,#VALUE!,#VALUE!,1.000000,1.0000,0.887461,0.894749,0.846522,0.876495,0.966473,0.916707,1.000000,1.000000,0.818541,0.754026,0.815425,0.469207,3.0
3,1999-04-30 00:00:00,0.91866,#VALUE!,#VALUE!,1.000000,1.0000,0.756134,0.787182,0.649044,0.635819,0.917259,0.875811,0.969175,0.952241,0.682769,0.549867,0.734817,0.375368,3.0
4,1999-05-31 00:00:00,1.00000,#VALUE!,#VALUE!,0.043678,0.0000,0.331229,0.325447,0.536516,0.486732,0.699631,0.662173,0.737502,0.687860,0.570753,0.362783,0.542768,0.190791,3.0

In [6]:
df = df.drop(columns=["Total Return % 1-mo-LOC", "Agg Returns" ,
"Excess Return % 1-mo (Treasury)", "Excess Return % 1-mo (Agg)"], axis = 0) # get rid of these useless columns

In [7]:
df.describe()

,OAS,Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg),Quadrant
count,256.000000,254.000000,254.000000,251.000000,251.000000,248.000000,248.000000,245.000000,245.000000,233.000000,233.000000,221.000000,221.000000,255.000000
mean,0.395713,0.497792,0.493628,0.511375,0.500867,0.512766,0.497830,0.507787,0.495017,0.500095,0.487434,0.504781,0.497593,2.564706
std,0.269082,0.209246,0.211150,0.233158,0.229447,0.213667,0.212037,0.227149,0.227807,0.200797,0.234734,0.244943,0.232889,1.058677
min,-0.237986,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.228001,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,2.000000
50%,0.309549,0.517296,0.509105,0.521826,0.521492,0.518177,0.502495,0.501572,0.495088,0.495392,0.517583,0.487873,0.540138,3.000000
75%,0.523819,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,3.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000

# drop outliers that we have identified as 0 and 1s (1 is > upper fence, 0 is < lower fence)

In [8]:
# Getting rid of outliers below. When we ran the script to label outliers, the script
# would label a number an outlier a 1 if it was above the Upper fence and would label
# it a 0 if it was an outlier below the lower fence.
# This script replaces all outliers as "NaN"

df["OAS"] = df["OAS"].replace([0],["NaN"])
df["OAS"] = df["OAS"].replace([1],["Nan"])

df = df.dropna()

df['OAS'] = pd.to_numeric(df['OAS'],errors='coerce') # converting back to float64 

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221 entries, 0 to 220
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              221 non-null    object
 1   OAS                               205 non-null    float64
 2   Excess Return % 3-mo (Treasury)   221 non-null    float64
 3   Excess Return % 3-mo (Agg)        221 non-null    float64
 4   Excess Return % 6-mo (Treasury)   221 non-null    float64
 5   Excess Return % 6-mo (Agg)        221 non-null    float64
 6   Excess Return % 9-mo (Treasury)   221 non-null    float64
 7   Excess Return % 9-mo (Agg)        221 non-null    float64
 8   Excess Return % 12-mo (Treasury)  221 non-null    float64
 9   Excess Return % 12-mo (Agg)       221 non-null    float64
 10  Excess Return % 24-mo (Treasury)  221 non-null    float64
 11  Excess Return % 24-mo (Agg)       221 non-null    float64
 12  Excess Return % 36-mo (Treasury)  221 non-null    float64
 13  Excess Return % 36-mo (Agg)       221 non-null    float64
 14  Quadrant                          221 non-null    float64
dtypes: float64(14), object(1)
memory usage: 27.6+ KB

# Now lets select all OAS levels and their coresponding excess returns that are above the 75th percentile (top 25%)

In [9]:
# Select * 
# From OAS
# Where OAS >= 75th percentile
## SQL version above ## 
highspread = df["OAS"].quantile(.75) # every data point over the 85th percentile
print(highspread)

# pandas version of the SQL function 
df = df[(df['OAS'] > highspread)]

0.515914292

In [10]:
df.describe()

,OAS,Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg),Quadrant
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,0.724042,0.538474,0.494571,0.546108,0.466925,0.561368,0.466444,0.572443,0.457277,0.559444,0.417165,0.632939,0.441815,2.882353
std,0.123823,0.286801,0.308006,0.310743,0.342460,0.260548,0.302899,0.262702,0.324393,0.228835,0.343379,0.251196,0.329244,0.972565
min,0.520907,0.000000,0.000000,0.000000,0.000000,0.129939,0.000000,0.130558,0.000000,0.088057,0.000000,0.190742,0.000000,1.000000
25%,0.634075,0.296517,0.211848,0.297949,0.174047,0.347780,0.210418,0.380161,0.174846,0.375666,0.021053,0.441994,0.121897,2.000000
50%,0.703973,0.608032,0.545003,0.525938,0.455256,0.492095,0.355966,0.497411,0.365179,0.600016,0.522175,0.612914,0.385404,3.000000
75%,0.805492,0.744911,0.726624,0.844697,0.789074,0.829055,0.757661,0.774266,0.744865,0.723358,0.675065,0.866135,0.675339,4.000000
max,0.983566,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000

In [11]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 3-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 3-mo (Treasury)   51.0  0.538474  0.286801  0.040160
 2                         combined  102.0  0.631258  0.238756  0.023640

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.457810  0.619138
 2   0.584362  0.678154  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Treasu...    0.1856
 1                              Degrees of freedom =   100.0000
 2                                               t =     4.2422
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8401
 7                                       Hedge's g =     0.8338
 8                                   Glass's delta =     1.4987
 9                                               r =     0.3905)

In [12]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 3-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   51.0  0.724042  0.123823  0.017339   0.689216
 1  Excess Return % 3-mo (Agg)   51.0  0.494571  0.308006  0.043129   0.407943
 2                    combined  102.0  0.609306  0.260478  0.025791   0.558144

    Interval
 0  0.758868
 1  0.581199
 2  0.660469  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Agg)) =     0.2295
 1                             Degrees of freedom =   100.0000
 2                                              t =     4.9366
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     0.9776
 7                                      Hedge's g =     0.9702
 8                                  Glass's delta =     1.8532
 9                                              r =     0.4427)

In [13]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 6-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 6-mo (Treasury)   51.0  0.546108  0.310743  0.043513
 2                         combined  102.0  0.635075  0.251766  0.024929

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.458710  0.633506
 2   0.585624  0.684527  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Treasu...    0.1779
 1                              Degrees of freedom =   100.0000
 2                                               t =     3.7988
 3                           Two side test p value =     0.0002
 4                          Difference < 0 p value =     0.9999
 5                          Difference > 0 p value =     0.0001
 6                                       Cohen's d =     0.7523
 7                                       Hedge's g =     0.7466
 8                                   Glass's delta =     1.4370
 9                                               r =     0.3551)

In [14]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 6-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   51.0  0.724042  0.123823  0.017339   0.689216
 1  Excess Return % 6-mo (Agg)   51.0  0.466925  0.342460  0.047954   0.370607
 2                    combined  102.0  0.595484  0.286949  0.028412   0.539121

    Interval
 0  0.758868
 1  0.563243
 2  0.651846  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Agg)) =     0.2571
 1                             Degrees of freedom =   100.0000
 2                                              t =     5.0423
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     0.9985
 7                                      Hedge's g =     0.9910
 8                                  Glass's delta =     2.0765
 9                                              r =     0.4502)

In [15]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 9-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 9-mo (Treasury)   51.0  0.561368  0.260548  0.036484
 2                         combined  102.0  0.642705  0.218810  0.021665

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.488087  0.634648
 2   0.599726  0.685683  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Treasu...    0.1627
 1                              Degrees of freedom =   100.0000
 2                                               t =     4.0271
 3                           Two side test p value =     0.0001
 4                          Difference < 0 p value =     0.9999
 5                          Difference > 0 p value =     0.0001
 6                                       Cohen's d =     0.7975
 7                                       Hedge's g =     0.7915
 8                                   Glass's delta =     1.3138
 9                                               r =     0.3736)

In [16]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 9-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   51.0  0.724042  0.123823  0.017339   0.689216
 1  Excess Return % 9-mo (Agg)   51.0  0.466444  0.302899  0.042414   0.381252
 2                    combined  102.0  0.595243  0.264127  0.026153   0.543364

    Interval
 0  0.758868
 1  0.551636
 2  0.647123  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Agg)) =     0.2576
 1                             Degrees of freedom =   100.0000
 2                                              t =     5.6218
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     1.1133
 7                                      Hedge's g =     1.1049
 8                                  Glass's delta =     2.0804
 9                                              r =     0.4900)

In [17]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 12-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 12-mo (Treasury)   51.0  0.572443  0.262702  0.036786
 2                          combined  102.0  0.648243  0.218076  0.021593

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.498557  0.646330
 2   0.605408  0.691077  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Treas...    0.1516
 1                              Degrees of freedom =   100.0000
 2                                               t =     3.7278
 3                           Two side test p value =     0.0003
 4                          Difference < 0 p value =     0.9998
 5                          Difference > 0 p value =     0.0002
 6                                       Cohen's d =     0.7382
 7                                       Hedge's g =     0.7327
 8                                   Glass's delta =     1.2243
 9                                               r =     0.3493)

In [18]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 12-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 12-mo (Agg)   51.0  0.457277  0.324393  0.045424
 2                     combined  102.0  0.590660  0.278661  0.027592

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.366040  0.548514
 2   0.535926  0.645394  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Agg)) =     0.2668
 1                              Degrees of freedom =   100.0000
 2                                               t =     5.4866
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0865
 7                                       Hedge's g =     1.0783
 8                                   Glass's delta =     2.1544
 9                                               r =     0.4810)

In [19]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 24-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 24-mo (Treasury)   51.0  0.559444  0.228835  0.032043
 2                          combined  102.0  0.641743  0.200883  0.019890

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.495083  0.623805
 2   0.602286  0.681200  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Treas...    0.1646
 1                              Degrees of freedom =   100.0000
 2                                               t =     4.5178
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8946
 7                                       Hedge's g =     0.8879
 8                                   Glass's delta =     1.3293
 9                                               r =     0.4117)

In [20]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 24-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 24-mo (Agg)   51.0  0.417165  0.343379  0.048083
 2                     combined  102.0  0.570604  0.299562  0.029661

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.320588  0.513742
 2   0.511764  0.629443  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Agg)) =     0.3069
 1                              Degrees of freedom =   100.0000
 2                                               t =     6.0038
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.1889
 7                                       Hedge's g =     1.1800
 8                                   Glass's delta =     2.4783
 9                                               r =     0.5147)

In [21]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 36-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 36-mo (Treasury)   51.0  0.632939  0.251196  0.035174
 2                          combined  102.0  0.678491  0.202294  0.020030

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.562289  0.703589
 2   0.638756  0.718225  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Treas...    0.0911
 1                              Degrees of freedom =   100.0000
 2                                               t =     2.3231
 3                           Two side test p value =     0.0222
 4                          Difference < 0 p value =     0.9889
 5                          Difference > 0 p value =     0.0111
 6                                       Cohen's d =     0.4600
 7                                       Hedge's g =     0.4566
 8                                   Glass's delta =     0.7358
 9                                               r =     0.2263)

In [22]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 36-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 36-mo (Agg)   51.0  0.441815  0.329244  0.046103
 2                     combined  102.0  0.582928  0.285245  0.028243

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.349213  0.534416
 2   0.526901  0.638956  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Agg)) =     0.2822
 1                              Degrees of freedom =   100.0000
 2                                               t =     5.7298
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.1347
 7                                       Hedge's g =     1.1261
 8                                   Glass's delta =     2.2793
 9                                               r =     0.4972)

# Now lets run the same t-test but with High spreads to all returns

In [23]:
df1 = pd.read_csv('minmax_OAS_with_Returns_Final_NO_Outliers_HY.csv')

In [24]:
df1.describe()

,OAS,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg)
count,279.000000,279.000000,279.000000,278.000000,278.000000,275.000000,275.000000,272.000000,272.000000,269.000000,269.000000,257.000000,257.000000,245.000000,245.000000
mean,0.351159,0.492857,0.494827,0.490379,0.489711,0.495175,0.499683,0.507613,0.505828,0.497147,0.499497,0.507319,0.498248,0.493073,0.484863
std,0.247503,0.237344,0.233785,0.235178,0.219736,0.223090,0.225057,0.219753,0.213179,0.207683,0.201386,0.215835,0.219765,0.208462,0.217124
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.155043,0.371940,0.372569,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000
50%,0.289734,0.500462,0.504350,0.512762,0.514750,0.512260,0.523454,0.533540,0.522281,0.512685,0.503557,0.541286,0.537844,0.517038,0.523230
75%,0.489075,0.624134,0.622223,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
des, res = researchpy.ttest(df['OAS'], 
            df1['Excess Return % 3-mo (Treasury)']) # notice we are using the High Spread Data for OAS

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 3-mo (Treasury)  278.0  0.490379  0.235178  0.014105
 2                         combined  329.0  0.526600  0.237107  0.013072

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.462612  0.518146
 2   0.500885  0.552316  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Treasu...    0.2337
 1                              Degrees of freedom =   327.0000
 2                                               t =     6.9157
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0535
 7                                       Hedge's g =     1.0511
 8                                   Glass's delta =     1.8871
 9                                               r =     0.3572)

In [26]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 3-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   51.0  0.724042  0.123823  0.017339   0.689216
 1  Excess Return % 3-mo (Agg)  278.0  0.489711  0.219736  0.013179   0.463767
 2                    combined  329.0  0.526036  0.224339  0.012368   0.501705

    Interval
 0  0.758868
 1  0.515654
 2  0.550367  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Agg)) =     0.2343
 1                             Degrees of freedom =   327.0000
 2                                              t =     7.3973
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     1.1268
 7                                      Hedge's g =     1.1243
 8                                  Glass's delta =     1.8925
 9                                              r =     0.3786)

In [27]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 6-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 6-mo (Treasury)  275.0  0.495175  0.223090  0.013453
 2                         combined  326.0  0.530980  0.226389  0.012539

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.468691  0.521659
 2   0.506313  0.555647  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Treasu...    0.2289
 1                              Degrees of freedom =   324.0000
 2                                               t =     7.1198
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0855
 7                                       Hedge's g =     1.0830
 8                                   Glass's delta =     1.8483
 9                                               r =     0.3678)

In [28]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 6-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   51.0  0.724042  0.123823  0.017339   0.689216
 1  Excess Return % 6-mo (Agg)  275.0  0.499683  0.225057  0.013571   0.472965
 2                    combined  326.0  0.534782  0.227431  0.012596   0.510001

    Interval
 0  0.758868
 1  0.526400
 2  0.559562  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Agg)) =     0.2244
 1                             Degrees of freedom =   324.0000
 2                                              t =     6.9218
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     1.0553
 7                                      Hedge's g =     1.0528
 8                                  Glass's delta =     1.8119
 9                                              r =     0.3589)

In [29]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 9-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 9-mo (Treasury)  272.0  0.507613  0.219753  0.013325
 2                         combined  323.0  0.541786  0.221971  0.012351

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.481380  0.533846
 2   0.517488  0.566085  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Treasu...    0.2164
 1                              Degrees of freedom =   321.0000
 2                                               t =     6.8274
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0418
 7                                       Hedge's g =     1.0394
 8                                   Glass's delta =     1.7479
 9                                               r =     0.3561)

In [30]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 9-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   51.0  0.724042  0.123823  0.017339   0.689216
 1  Excess Return % 9-mo (Agg)  272.0  0.505828  0.213179  0.012926   0.480380
 2                    combined  323.0  0.540283  0.216747  0.012060   0.516556

    Interval
 0  0.758868
 1  0.531276
 2  0.564009  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Agg)) =     0.2182
 1                             Degrees of freedom =   321.0000
 2                                              t =     7.0837
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     1.0809
 7                                      Hedge's g =     1.0784
 8                                  Glass's delta =     1.7623
 9                                              r =     0.3677)

In [31]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 12-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 12-mo (Treasury)  269.0  0.497147  0.207683  0.012663
 2                          combined  320.0  0.533309  0.213444  0.011932

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.472216  0.522078
 2   0.509833  0.556784  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Treas...    0.2269
 1                              Degrees of freedom =   318.0000
 2                                               t =     7.5459
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.1525
 7                                       Hedge's g =     1.1497
 8                                   Glass's delta =     1.8324
 9                                               r =     0.3897)

In [32]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 12-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 12-mo (Agg)  269.0  0.499497  0.201386  0.012279
 2                     combined  320.0  0.535283  0.207970  0.011626

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.475322  0.523672
 2   0.512410  0.558157  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Agg)) =     0.2245
 1                              Degrees of freedom =   318.0000
 2                                               t =     7.6861
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.1739
 7                                       Hedge's g =     1.1711
 8                                   Glass's delta =     1.8134
 9                                               r =     0.3958)

In [33]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 24-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 24-mo (Treasury)  257.0  0.507319  0.215835  0.013463
 2                          combined  308.0  0.543205  0.218755  0.012465

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.480806  0.533832
 2   0.518678  0.567732  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Treas...    0.2167
 1                              Degrees of freedom =   306.0000
 2                                               t =     6.9418
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0641
 7                                       Hedge's g =     1.0615
 8                                   Glass's delta =     1.7503
 9                                               r =     0.3689)

In [34]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 24-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 24-mo (Agg)  257.0  0.498248  0.219765  0.013709
 2                     combined  308.0  0.535636  0.223243  0.012720

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.471252  0.525244
 2   0.510606  0.560666  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Agg)) =     0.2258
 1                              Degrees of freedom =   306.0000
 2                                               t =     7.1106
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0900
 7                                       Hedge's g =     1.0873
 8                                   Glass's delta =     1.8235
 9                                               r =     0.3766)

In [35]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 36-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 36-mo (Treasury)  245.0  0.493073  0.208462  0.013318
 2                          combined  296.0  0.532868  0.214886  0.012490

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.466840  0.519306
 2   0.508288  0.557449  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Treas...    0.2310
 1                              Degrees of freedom =   294.0000
 2                                               t =     7.6308
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.1745
 7                                       Hedge's g =     1.1715
 8                                   Glass's delta =     1.8653
 9                                               r =     0.4066)

In [36]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 36-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   51.0  0.724042  0.123823  0.017339
 1  Excess Return % 36-mo (Agg)  245.0  0.484863  0.217124  0.013872
 2                     combined  296.0  0.526073  0.223108  0.012968

    95% Conf.  Interval
 0   0.689216  0.758868
 1   0.457540  0.512186
 2   0.500551  0.551594  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Agg)) =     0.2392
 1                              Degrees of freedom =   294.0000
 2                                               t =     7.6069
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.1708
 7                                       Hedge's g =     1.1678
 8                                   Glass's delta =     1.9316
 9                                               r =     0.4055)