In [1]:
import numpy as np
import pandas as pd

In [2]:
! pip install --user researchpy

Requirement already satisfied: researchpy in /Users/valazeinali/.local/lib/python3.7/site-packages (0.2.2)
Requirement already satisfied: statsmodels in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (0.11.0)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (1.18.1)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (1.4.1)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (1.0.1)
Requirement already satisfied: patsy>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas->researchpy) (2019.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from patsy>=0.5->statsmodels->researchpy) (1.14.0)

In [3]:
import researchpy # for t-test stuff!

In [4]:
df = pd.read_csv('minmax_OAS_with_Returns_Final_NO_Outliers_FRPS.csv')

In [5]:
df.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg),Quadrant
0,1997-01-31 00:00:00,0.668464,#VALUE!,#VALUE!,0.567248,0.506609,0.655030,0.636979,0.536181,0.506654,0.518761,0.496152,0.459147,0.449182,0.353947,0.357103,0.329711,0.304403,4
1,1997-02-28 00:00:00,0.624202,#VALUE!,#VALUE!,0.680081,0.668988,0.563555,0.562441,0.449556,0.436823,0.418170,0.399000,0.432388,0.428415,0.347527,0.347865,0.350774,0.343032,4
2,1997-03-31 00:00:00,0.636686,#VALUE!,#VALUE!,0.502622,0.568925,0.479497,0.450737,0.450872,0.413733,0.399141,0.374429,0.405359,0.388403,0.373381,0.367970,0.286711,0.279589,4
3,1997-04-30 00:00:00,0.671868,#VALUE!,#VALUE!,0.427443,0.382158,0.399787,0.374874,0.405612,0.390073,0.368219,0.351346,0.356374,0.340721,0.337753,0.348024,0.255888,0.283248,4
4,1997-05-31 00:00:00,0.653710,#VALUE!,#VALUE!,0.551612,0.482485,0.356650,0.347836,0.343839,0.322845,0.385693,0.368022,0.375736,0.351954,0.371183,0.374078,0.293054,0.312884,4

In [6]:
df = df.drop(columns=["Total Return % 1-mo-LOC", "Agg Returns" ,
"Excess Return % 1-mo (Treasury)", "Excess Return % 1-mo (Agg)"], axis = 0) # get rid of these useless columns

In [7]:
df.describe()

,OAS,Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg),Quadrant
count,279.000000,278.000000,278.000000,275.000000,275.000000,272.000000,272.000000,269.000000,269.000000,257.000000,257.000000,245.000000,245.000000,279.00000
mean,0.499596,0.486959,0.491705,0.485184,0.488772,0.494764,0.495848,0.487819,0.497761,0.473469,0.482113,0.462641,0.461482,2.55914
std,0.199647,0.233621,0.234617,0.232990,0.235452,0.231428,0.236072,0.225139,0.229379,0.231109,0.227496,0.227934,0.220252,1.08418
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000
25%,0.371684,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,2.00000
50%,0.515250,0.514152,0.507158,0.507324,0.513215,0.510664,0.510860,0.502246,0.500336,0.479800,0.491677,0.482190,0.470409,3.00000
75%,0.623067,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,3.00000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.00000

# drop outliers that we have identified as 0 and 1s (1 is > upper fence, 0 is < lower fence)

In [8]:
# Getting rid of outliers below. When we ran the script to label outliers, the script
# would label a number an outlier a 1 if it was above the Upper fence and would label
# it a 0 if it was an outlier below the lower fence.
# This script replaces all outliers as "NaN"

df["OAS"] = df["OAS"].replace([0],["NaN"])
df["OAS"] = df["OAS"].replace([1],["Nan"])

df = df.dropna()

df['OAS'] = pd.to_numeric(df['OAS'],errors='coerce') # converting back to float64 

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 245 entries, 0 to 244
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              245 non-null    object
 1   OAS                               240 non-null    float64
 2   Excess Return % 3-mo (Treasury)   245 non-null    float64
 3   Excess Return % 3-mo (Agg)        245 non-null    float64
 4   Excess Return % 6-mo (Treasury)   245 non-null    float64
 5   Excess Return % 6-mo (Agg)        245 non-null    float64
 6   Excess Return % 9-mo (Treasury)   245 non-null    float64
 7   Excess Return % 9-mo (Agg)        245 non-null    float64
 8   Excess Return % 12-mo (Treasury)  245 non-null    float64
 9   Excess Return % 12-mo (Agg)       245 non-null    float64
 10  Excess Return % 24-mo (Treasury)  245 non-null    float64
 11  Excess Return % 24-mo (Agg)       245 non-null    float64
 12  Excess Return % 36-mo (Treasury)  245 non-null    float64
 13  Excess Return % 36-mo (Agg)       245 non-null    float64
 14  Quadrant                          245 non-null    int64
dtypes: float64(13), int64(1), object(1)
memory usage: 30.6+ KB

# Now lets select all OAS levels and their coresponding excess returns that are above the 75th percentile (top 25%)

In [9]:
# Select * 
# From OAS
# Where OAS >= 75th percentile
## SQL version above ## 
highspread = df["OAS"].quantile(.75) # every data point over the 85th percentile
print(highspread)

# pandas version of the SQL function 
df = df[(df['OAS'] > highspread)]

0.63129521925

In [10]:
df.describe()

,OAS,Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg),Quadrant
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,0.726363,0.462733,0.463937,0.459782,0.446456,0.468864,0.453503,0.472639,0.468094,0.468662,0.458421,0.480487,0.477430,2.950000
std,0.087563,0.286872,0.283242,0.307265,0.298437,0.287572,0.280598,0.274206,0.276618,0.248151,0.247743,0.190650,0.188811,1.032112
min,0.632146,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.018519,0.110442,1.000000
25%,0.658817,0.258909,0.294854,0.250302,0.267065,0.323012,0.350291,0.343324,0.354506,0.372115,0.360323,0.388140,0.365064,2.000000
50%,0.696836,0.445823,0.432338,0.459952,0.409702,0.473566,0.436712,0.440579,0.444454,0.432172,0.411079,0.458818,0.448932,3.000000
75%,0.790183,0.660763,0.648886,0.654021,0.588639,0.629940,0.542668,0.655679,0.569682,0.572860,0.509672,0.515875,0.479782,4.000000
max,0.968081,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000

In [11]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 3-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 3-mo (Treasury)   60.0  0.462733  0.286872  0.037035
 2                         combined  120.0  0.594548  0.249248  0.022753

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.388626  0.536840
 2   0.549495  0.639601  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Treasu...    0.2636
 1                              Degrees of freedom =   118.0000
 2                                               t =     6.8083
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.2430
 7                                       Hedge's g =     1.2351
 8                                   Glass's delta =     3.0108
 9                                               r =     0.5311)

In [12]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 3-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   60.0  0.726363  0.087563  0.011304   0.703743
 1  Excess Return % 3-mo (Agg)   60.0  0.463937  0.283242  0.036566   0.390768
 2                    combined  120.0  0.595150  0.246858  0.022535   0.550528

    Interval
 0  0.748983
 1  0.537106
 2  0.639771  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Agg)) =     0.2624
 1                             Degrees of freedom =   118.0000
 2                                              t =     6.8565
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     1.2518
 7                                      Hedge's g =     1.2439
 8                                  Glass's delta =     2.9970
 9                                              r =     0.5338)

In [13]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 6-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 6-mo (Treasury)   60.0  0.459782  0.307265  0.039668
 2                         combined  120.0  0.593072  0.261776  0.023897

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.380407  0.539157
 2   0.545754  0.640390  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Treasu...    0.2666
 1                              Degrees of freedom =   118.0000
 2                                               t =     6.4630
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.1800
 7                                       Hedge's g =     1.1725
 8                                   Glass's delta =     3.0445
 9                                               r =     0.5113)

In [14]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 6-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   60.0  0.726363  0.087563  0.011304   0.703743
 1  Excess Return % 6-mo (Agg)   60.0  0.446456  0.298437  0.038528   0.369362
 2                    combined  120.0  0.586410  0.260213  0.023754   0.539374

    Interval
 0  0.748983
 1  0.523551
 2  0.633445  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Agg)) =     0.2799
 1                             Degrees of freedom =   118.0000
 2                                              t =     6.9711
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     1.2728
 7                                      Hedge's g =     1.2646
 8                                  Glass's delta =     3.1966
 9                                              r =     0.5401)

In [15]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 9-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 9-mo (Treasury)   60.0  0.468864  0.287572  0.037125
 2                         combined  120.0  0.597613  0.248030  0.022642

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.394576  0.543152
 2   0.552780  0.642447  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Treasu...    0.2575
 1                              Degrees of freedom =   118.0000
 2                                               t =     6.6352
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.2114
 7                                       Hedge's g =     1.2037
 8                                   Glass's delta =     2.9407
 9                                               r =     0.5213)

In [16]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 9-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   60.0  0.726363  0.087563  0.011304   0.703743
 1  Excess Return % 9-mo (Agg)   60.0  0.453503  0.280598  0.036225   0.381017
 2                    combined  120.0  0.589933  0.248209  0.022658   0.545067

    Interval
 0  0.748983
 1  0.525989
 2  0.634799  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Agg)) =     0.2729
 1                             Degrees of freedom =   118.0000
 2                                              t =     7.1904
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     1.3128
 7                                      Hedge's g =     1.3044
 8                                  Glass's delta =     3.1162
 9                                              r =     0.5520)

In [17]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 12-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 12-mo (Treasury)   60.0  0.472639  0.274206  0.035400
 2                          combined  120.0  0.599501  0.239393  0.021854

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.401804  0.543474
 2   0.556229  0.642773  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Treas...    0.2537
 1                              Degrees of freedom =   118.0000
 2                                               t =     6.8277
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.2466
 7                                       Hedge's g =     1.2386
 8                                   Glass's delta =     2.8976
 9                                               r =     0.5322)

In [18]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 12-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 12-mo (Agg)   60.0  0.468094  0.276618  0.035711
 2                     combined  120.0  0.597228  0.241981  0.022090

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.396636  0.539552
 2   0.553489  0.640968  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Agg)) =     0.2583
 1                              Degrees of freedom =   118.0000
 2                                               t =     6.8950
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.2588
 7                                       Hedge's g =     1.2508
 8                                   Glass's delta =     2.9495
 9                                               r =     0.5359)

In [19]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 24-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 24-mo (Treasury)   60.0  0.468662  0.248151  0.032036
 2                          combined  120.0  0.597512  0.225996  0.020631

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.404557  0.532766
 2   0.556662  0.638363  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Treas...    0.2577
 1                              Degrees of freedom =   118.0000
 2                                               t =     7.5857
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.3849
 7                                       Hedge's g =     1.3761
 8                                   Glass's delta =     2.9431
 9                                               r =     0.5725)

In [20]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 24-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 24-mo (Agg)   60.0  0.458421  0.247743  0.031984
 2                     combined  120.0  0.592392  0.228760  0.020883

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.394422  0.522419
 2   0.551042  0.633742  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Agg)) =     0.2679
 1                              Degrees of freedom =   118.0000
 2                                               t =     7.8987
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.4421
 7                                       Hedge's g =     1.4329
 8                                   Glass's delta =     3.0600
 9                                               r =     0.5881)

In [21]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 36-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 36-mo (Treasury)   60.0  0.480487  0.190650  0.024613
 2                          combined  120.0  0.603425  0.192518  0.017574

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.431237  0.529737
 2   0.568626  0.638224  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Treas...    0.2459
 1                              Degrees of freedom =   118.0000
 2                                               t =     9.0781
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.6574
 7                                       Hedge's g =     1.6469
 8                                   Glass's delta =     2.8080
 9                                               r =     0.6413)

In [22]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 36-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 36-mo (Agg)   60.0  0.477430  0.188811  0.024375
 2                     combined  120.0  0.601896  0.192610  0.017583

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.428655  0.526205
 2   0.567081  0.636712  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Agg)) =     0.2489
 1                              Degrees of freedom =   118.0000
 2                                               t =     9.2647
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.6915
 7                                       Hedge's g =     1.6807
 8                                   Glass's delta =     2.8429
 9                                               r =     0.6489)

# Now lets run the same t-test but with High spreads to all returns

In [23]:
df1 = pd.read_csv('minmax_OAS_with_Returns_Final_NO_Outliers_HY.csv')

In [24]:
df1.describe()

,OAS,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg)
count,279.000000,279.000000,279.000000,278.000000,278.000000,275.000000,275.000000,272.000000,272.000000,269.000000,269.000000,257.000000,257.000000,245.000000,245.000000
mean,0.351159,0.492857,0.494827,0.490379,0.489711,0.495175,0.499683,0.507613,0.505828,0.497147,0.499497,0.507319,0.498248,0.493073,0.484863
std,0.247503,0.237344,0.233785,0.235178,0.219736,0.223090,0.225057,0.219753,0.213179,0.207683,0.201386,0.215835,0.219765,0.208462,0.217124
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.155043,0.371940,0.372569,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000
50%,0.289734,0.500462,0.504350,0.512762,0.514750,0.512260,0.523454,0.533540,0.522281,0.512685,0.503557,0.541286,0.537844,0.517038,0.523230
75%,0.489075,0.624134,0.622223,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
des, res = researchpy.ttest(df['OAS'], 
            df1['Excess Return % 3-mo (Treasury)']) # notice we are using the High Spread Data for OAS

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 3-mo (Treasury)  278.0  0.490379  0.235178  0.014105
 2                         combined  338.0  0.532270  0.234433  0.012751

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.462612  0.518146
 2   0.507187  0.557352  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Treasu...    0.2360
 1                              Degrees of freedom =   336.0000
 2                                               t =     7.6513
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0892
 7                                       Hedge's g =     1.0867
 8                                   Glass's delta =     2.6950
 9                                               r =     0.3852)

In [26]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 3-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   60.0  0.726363  0.087563  0.011304   0.703743
 1  Excess Return % 3-mo (Agg)  278.0  0.489711  0.219736  0.013179   0.463767
 2                    combined  338.0  0.531720  0.221880  0.012069   0.507981

    Interval
 0  0.748983
 1  0.515654
 2  0.555459  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Agg)) =     0.2367
 1                             Degrees of freedom =   336.0000
 2                                              t =     8.1951
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     1.1666
 7                                      Hedge's g =     1.1640
 8                                  Glass's delta =     2.7027
 9                                              r =     0.4081)

In [27]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 6-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 6-mo (Treasury)  275.0  0.495175  0.223090  0.013453
 2                         combined  335.0  0.536582  0.223752  0.012225

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.468691  0.521659
 2   0.512535  0.560629  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Treasu...    0.2312
 1                              Degrees of freedom =   333.0000
 2                                               t =     7.8880
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.1239
 7                                       Hedge's g =     1.1214
 8                                   Glass's delta =     2.6403
 9                                               r =     0.3968)

In [28]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 6-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   60.0  0.726363  0.087563  0.011304   0.703743
 1  Excess Return % 6-mo (Agg)  275.0  0.499683  0.225057  0.013571   0.472965
 2                    combined  335.0  0.540282  0.224686  0.012276   0.516134

    Interval
 0  0.748983
 1  0.526400
 2  0.564430  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Agg)) =     0.2267
 1                             Degrees of freedom =   333.0000
 2                                              t =     7.6687
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     1.0927
 7                                      Hedge's g =     1.0902
 8                                  Glass's delta =     2.5888
 9                                              r =     0.3874)

In [29]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 9-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 9-mo (Treasury)  272.0  0.507613  0.219753  0.013325
 2                         combined  332.0  0.547146  0.219114  0.012025

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.481380  0.533846
 2   0.523490  0.570802  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Treasu...    0.2188
 1                              Degrees of freedom =   330.0000
 2                                               t =     7.5718
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0800
 7                                       Hedge's g =     1.0775
 8                                   Glass's delta =     2.4982
 9                                               r =     0.3847)

In [30]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 9-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   60.0  0.726363  0.087563  0.011304   0.703743
 1  Excess Return % 9-mo (Agg)  272.0  0.505828  0.213179  0.012926   0.480380
 2                    combined  332.0  0.545684  0.214002  0.011745   0.522580

    Interval
 0  0.748983
 1  0.531276
 2  0.568788  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Agg)) =     0.2205
 1                             Degrees of freedom =   330.0000
 2                                              t =     7.8608
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     1.1212
 7                                      Hedge's g =     1.1186
 8                                  Glass's delta =     2.5186
 9                                              r =     0.3971)

In [31]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 12-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 12-mo (Treasury)  269.0  0.497147  0.207683  0.012663
 2                          combined  329.0  0.538949  0.210902  0.011627

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.472216  0.522078
 2   0.516076  0.561823  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Treas...    0.2292
 1                              Degrees of freedom =   327.0000
 2                                               t =     8.3766
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.1960
 7                                       Hedge's g =     1.1932
 8                                   Glass's delta =     2.6177
 9                                               r =     0.4203)

In [32]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 12-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 12-mo (Agg)  269.0  0.499497  0.201386  0.012279
 2                     combined  329.0  0.540870  0.205462  0.011327

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.475322  0.523672
 2   0.518587  0.563154  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Agg)) =     0.2269
 1                              Degrees of freedom =   327.0000
 2                                               t =     8.5398
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.2193
 7                                       Hedge's g =     1.2165
 8                                   Glass's delta =     2.5909
 9                                               r =     0.4270)

In [33]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 24-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 24-mo (Treasury)  257.0  0.507319  0.215835  0.013463
 2                          combined  317.0  0.548779  0.215771  0.012119

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.480806  0.533832
 2   0.524935  0.572622  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Treas...    0.2190
 1                              Degrees of freedom =   315.0000
 2                                               t =     7.7068
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.1050
 7                                       Hedge's g =     1.1024
 8                                   Glass's delta =     2.5016
 9                                               r =     0.3983)

In [34]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 24-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 24-mo (Agg)  257.0  0.498248  0.219765  0.013709
 2                     combined  317.0  0.541425  0.220382  0.012378

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.471252  0.525244
 2   0.517071  0.565778  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Agg)) =     0.2281
 1                              Degrees of freedom =   315.0000
 2                                               t =     7.8875
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.1309
 7                                       Hedge's g =     1.1282
 8                                   Glass's delta =     2.6052
 9                                               r =     0.4061)

In [35]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 36-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 36-mo (Treasury)  245.0  0.493073  0.208462  0.013318
 2                          combined  305.0  0.538966  0.212123  0.012146

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.466840  0.519306
 2   0.515065  0.562867  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Treas...    0.2333
 1                              Degrees of freedom =   303.0000
 2                                               t =     8.4788
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.2213
 7                                       Hedge's g =     1.2183
 8                                   Glass's delta =     2.6643
 9                                               r =     0.4379)

In [36]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 36-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   60.0  0.726363  0.087563  0.011304
 1  Excess Return % 36-mo (Agg)  245.0  0.484863  0.217124  0.013872
 2                     combined  305.0  0.532371  0.220392  0.012620

    95% Conf.  Interval
 0   0.703743  0.748983
 1   0.457540  0.512186
 2   0.507538  0.557204  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Agg)) =     0.2415
 1                              Degrees of freedom =   303.0000
 2                                               t =     8.4405
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.2158
 7                                       Hedge's g =     1.2128
 8                                   Glass's delta =     2.7580
 9                                               r =     0.4363)