In [1]:
import numpy as np
import pandas as pd

In [2]:
! pip install --user researchpy

Requirement already satisfied: researchpy in /Users/valazeinali/.local/lib/python3.7/site-packages (0.2.2)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (1.0.1)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (1.18.1)
Requirement already satisfied: statsmodels in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (0.11.0)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.7/site-packages (from researchpy) (1.4.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas->researchpy) (2019.3)
Requirement already satisfied: patsy>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->researchpy) (1.14.0)

In [3]:
import researchpy # for t-test stuff!

In [4]:
df = pd.read_csv('minmax_OAS_with_Returns_Final_NO_Outliers_CMBS.csv')

In [5]:
df.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg),Quadrant
0,1997-01-31 00:00:00,0.032073,0.584587,0.517158,0.511626,0.396204,0.523567,0.400107,0.497321,0.463135,0.456587,0.526603,0.411268,0.507779,0.321350,0.437807,0.389493,0.394455,4
1,1997-02-28 00:00:00,0.022910,0.593261,0.509066,0.551748,0.466362,0.494901,0.455225,0.503095,0.605420,0.427400,0.512503,0.411863,0.501391,0.331717,0.463633,0.371790,0.400467,4
2,1997-03-31 00:00:00,0.013746,0.477740,0.317745,0.511322,0.405427,0.457001,0.448342,0.478600,0.528539,0.411794,0.528331,0.420693,0.524060,0.342466,0.418786,0.345951,0.383512,4
3,1997-04-30 00:00:00,0.022910,0.697805,0.685033,0.448404,0.513258,0.478501,0.542739,0.470552,0.588306,0.392140,0.521106,0.431853,0.513958,0.358566,0.445930,0.308511,0.380955,4
4,1997-05-31 00:00:00,0.032073,0.643998,0.607264,0.468161,0.451746,0.516262,0.714240,0.426636,0.569584,0.410815,0.517072,0.440628,0.540596,0.363678,0.441016,0.285278,0.339880,4

In [6]:
df = df.drop(columns=["Total Return % 1-mo-LOC", "Agg Returns" ,
"Excess Return % 1-mo (Treasury)", "Excess Return % 1-mo (Agg)"], axis = 0) # get rid of these useless columns

In [7]:
df.describe()

,OAS,Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg),Quadrant
count,279.000000,277.000000,277.000000,274.000000,274.000000,270.000000,270.000000,267.000000,267.000000,257.000000,257.000000,245.000000,245.000000,279.00000
mean,0.417782,0.494780,0.503562,0.482637,0.502400,0.492097,0.498393,0.491650,0.504837,0.509006,0.492070,0.501216,0.509136,2.55914
std,0.243309,0.227093,0.207410,0.224126,0.208517,0.216277,0.201213,0.212409,0.208761,0.226952,0.198216,0.196648,0.187849,1.08418
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000
25%,0.238259,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,2.00000
50%,0.375716,0.516951,0.505593,0.477463,0.484370,0.501543,0.487557,0.504171,0.498794,0.502269,0.492280,0.526284,0.541649,3.00000
75%,0.542955,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,3.00000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.00000

# drop outliers that we have identified as 0 and 1s (1 is > upper fence, 0 is < lower fence)

In [8]:
# Getting rid of outliers below. When we ran the script to label outliers, the script
# would label a number an outlier a 1 if it was above the Upper fence and would label
# it a 0 if it was an outlier below the lower fence.
# This script replaces all outliers as "NaN"

df["OAS"] = df["OAS"].replace([0],["NaN"])
df["OAS"] = df["OAS"].replace([1],["Nan"])

df = df.dropna()

df['OAS'] = pd.to_numeric(df['OAS'],errors='coerce') # converting back to float64 

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 245 entries, 0 to 244
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              245 non-null    object
 1   OAS                               231 non-null    float64
 2   Excess Return % 3-mo (Treasury)   245 non-null    float64
 3   Excess Return % 3-mo (Agg)        245 non-null    float64
 4   Excess Return % 6-mo (Treasury)   245 non-null    float64
 5   Excess Return % 6-mo (Agg)        245 non-null    float64
 6   Excess Return % 9-mo (Treasury)   245 non-null    float64
 7   Excess Return % 9-mo (Agg)        245 non-null    float64
 8   Excess Return % 12-mo (Treasury)  245 non-null    float64
 9   Excess Return % 12-mo (Agg)       245 non-null    float64
 10  Excess Return % 24-mo (Treasury)  245 non-null    float64
 11  Excess Return % 24-mo (Agg)       245 non-null    float64
 12  Excess Return % 36-mo (Treasury)  245 non-null    float64
 13  Excess Return % 36-mo (Agg)       245 non-null    float64
 14  Quadrant                          245 non-null    int64
dtypes: float64(13), int64(1), object(1)
memory usage: 30.6+ KB

# Now lets select all OAS levels and their coresponding excess returns that are above the 75th percentile (top 25%)

In [9]:
# Select * 
# From OAS
# Where OAS >= 75th percentile
## SQL version above ## 
highspread = df["OAS"].quantile(.75) # every data point over the 85th percentile
print(highspread)

# pandas version of the SQL function 
df = df[(df['OAS'] > highspread)]

0.5383734250000001

In [10]:
df.describe()

,OAS,Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg),Quadrant
count,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000
mean,0.689576,0.534697,0.576690,0.556222,0.593430,0.575207,0.585405,0.572485,0.596531,0.649506,0.621833,0.636887,0.647727,2.413793
std,0.121905,0.298628,0.250328,0.270376,0.257120,0.253373,0.250454,0.246948,0.255936,0.191476,0.126105,0.073239,0.067866,1.108729
min,0.540664,0.000000,0.025155,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.264213,0.305579,0.439550,0.509455,1.000000
25%,0.587629,0.310605,0.415476,0.392256,0.452046,0.512871,0.522391,0.517741,0.506534,0.480269,0.542208,0.583540,0.610398,1.000000
50%,0.664376,0.595094,0.594174,0.615902,0.634622,0.630077,0.645372,0.636972,0.670735,0.625143,0.650613,0.637395,0.643328,3.000000
75%,0.776632,0.710653,0.728272,0.755391,0.767751,0.746188,0.742360,0.746194,0.774971,0.813682,0.699814,0.683217,0.693032,3.000000
max,0.966781,1.000000,1.000000,1.000000,1.000000,0.915222,0.907077,0.874431,0.938608,0.998973,0.876645,0.810577,0.805064,4.000000

In [11]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 3-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 3-mo (Treasury)   58.0  0.534697  0.298628  0.039212
 2                         combined  116.0  0.612136  0.240035  0.022287

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.456176  0.613217
 2   0.567991  0.656282  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Treasu...    0.1549
 1                              Degrees of freedom =   114.0000
 2                                               t =     3.6569
 3                           Two side test p value =     0.0004
 4                          Difference < 0 p value =     0.9998
 5                          Difference > 0 p value =     0.0002
 6                                       Cohen's d =     0.6791
 7                                       Hedge's g =     0.6746
 8                                   Glass's delta =     1.2705
 9                                               r =     0.3240)

In [12]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 3-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   58.0  0.689576  0.121905  0.016007   0.657523
 1  Excess Return % 3-mo (Agg)   58.0  0.576690  0.250328  0.032870   0.510870
 2                    combined  116.0  0.633133  0.204056  0.018946   0.595604

    Interval
 0  0.721629
 1  0.642510
 2  0.670662  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Agg)) =     0.1129
 1                             Degrees of freedom =   114.0000
 2                                              t =     3.0877
 3                          Two side test p value =     0.0025
 4                         Difference < 0 p value =     0.9987
 5                         Difference > 0 p value =     0.0013
 6                                      Cohen's d =     0.5734
 7                                      Hedge's g =     0.5696
 8                                  Glass's delta =     0.9260
 9                                              r =     0.2778)

In [13]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 6-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 6-mo (Treasury)   58.0  0.556222  0.270376  0.035502
 2                         combined  116.0  0.622899  0.219280  0.020360

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.485131  0.627314
 2   0.582571  0.663228  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Treasu...    0.1334
 1                              Degrees of freedom =   114.0000
 2                                               t =     3.4243
 3                           Two side test p value =     0.0009
 4                          Difference < 0 p value =     0.9996
 5                          Difference > 0 p value =     0.0004
 6                                       Cohen's d =     0.6359
 7                                       Hedge's g =     0.6317
 8                                   Glass's delta =     1.0939
 9                                               r =     0.3054)

In [14]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 6-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   58.0  0.689576  0.121905  0.016007   0.657523
 1  Excess Return % 6-mo (Agg)   58.0  0.593430  0.257120  0.033761   0.525824
 2                    combined  116.0  0.641503  0.206070  0.019133   0.603604

    Interval
 0  0.721629
 1  0.661036
 2  0.679402  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Agg)) =     0.0961
 1                             Degrees of freedom =   114.0000
 2                                              t =     2.5732
 3                          Two side test p value =     0.0114
 4                         Difference < 0 p value =     0.9943
 5                         Difference > 0 p value =     0.0057
 6                                      Cohen's d =     0.4778
 7                                      Hedge's g =     0.4747
 8                                  Glass's delta =     0.7887
 9                                              r =     0.2343)

In [15]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 9-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 9-mo (Treasury)   58.0  0.575207  0.253373  0.033270
 2                         combined  116.0  0.632392  0.206117  0.019137

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.508586  0.641829
 2   0.594484  0.670299  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Treasu...    0.1144
 1                              Degrees of freedom =   114.0000
 2                                               t =     3.0977
 3                           Two side test p value =     0.0025
 4                          Difference < 0 p value =     0.9988
 5                          Difference > 0 p value =     0.0012
 6                                       Cohen's d =     0.5752
 7                                       Hedge's g =     0.5714
 8                                   Glass's delta =     0.9382
 9                                               r =     0.2786)

In [16]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 9-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   58.0  0.689576  0.121905  0.016007   0.657523
 1  Excess Return % 9-mo (Agg)   58.0  0.585405  0.250454  0.032886   0.519552
 2                    combined  116.0  0.637491  0.202961  0.018844   0.600163

    Interval
 0  0.721629
 1  0.651258
 2  0.674818  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Agg)) =     0.1042
 1                             Degrees of freedom =   114.0000
 2                                              t =     2.8482
 3                          Two side test p value =     0.0052
 4                         Difference < 0 p value =     0.9974
 5                         Difference > 0 p value =     0.0026
 6                                      Cohen's d =     0.5289
 7                                      Hedge's g =     0.5254
 8                                  Glass's delta =     0.8545
 9                                              r =     0.2577)

In [17]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 12-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 12-mo (Treasury)   58.0  0.572485  0.246948  0.032426
 2                          combined  116.0  0.631030  0.202607  0.018812

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.507553  0.637416
 2   0.593768  0.668293  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Treas...    0.1171
 1                              Degrees of freedom =   114.0000
 2                                               t =     3.2380
 3                           Two side test p value =     0.0016
 4                          Difference < 0 p value =     0.9992
 5                          Difference > 0 p value =     0.0008
 6                                       Cohen's d =     0.6013
 7                                       Hedge's g =     0.5973
 8                                   Glass's delta =     0.9605
 9                                               r =     0.2902)

In [18]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 12-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 12-mo (Agg)   58.0  0.596531  0.255936  0.033606
 2                     combined  116.0  0.643054  0.204978  0.019032

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.529236  0.663826
 2   0.605355  0.680752  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Agg)) =     0.0930
 1                              Degrees of freedom =   114.0000
 2                                               t =     2.4996
 3                           Two side test p value =     0.0139
 4                          Difference < 0 p value =     0.9931
 5                          Difference > 0 p value =     0.0069
 6                                       Cohen's d =     0.4642
 7                                       Hedge's g =     0.4611
 8                                   Glass's delta =     0.7633
 9                                               r =     0.2279)

In [19]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 24-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 24-mo (Treasury)   58.0  0.649506  0.191476  0.025142
 2                          combined  116.0  0.669541  0.161068  0.014955

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.599160  0.699852
 2   0.639919  0.699164  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Treas...    0.0401
 1                              Degrees of freedom =   114.0000
 2                                               t =     1.3444
 3                           Two side test p value =     0.1815
 4                          Difference < 0 p value =     0.9093
 5                          Difference > 0 p value =     0.0907
 6                                       Cohen's d =     0.2496
 7                                       Hedge's g =     0.2480
 8                                   Glass's delta =     0.3287
 9                                               r =     0.1249)

In [20]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 24-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 24-mo (Agg)   58.0  0.621833  0.126105  0.016558
 2                     combined  116.0  0.655704  0.128083  0.011892

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.588675  0.654990
 2   0.632148  0.679260  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Agg)) =     0.0677
 1                              Degrees of freedom =   114.0000
 2                                               t =     2.9415
 3                           Two side test p value =     0.0040
 4                          Difference < 0 p value =     0.9980
 5                          Difference > 0 p value =     0.0020
 6                                       Cohen's d =     0.5462
 7                                       Hedge's g =     0.5426
 8                                   Glass's delta =     0.5557
 9                                               r =     0.2656)

In [21]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 36-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 36-mo (Treasury)   58.0  0.636887  0.073239  0.009617
 2                          combined  116.0  0.663231  0.103560  0.009615

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.617629  0.656144
 2   0.644185  0.682277  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Treas...    0.0527
 1                              Degrees of freedom =   114.0000
 2                                               t =     2.8216
 3                           Two side test p value =     0.0056
 4                          Difference < 0 p value =     0.9972
 5                          Difference > 0 p value =     0.0028
 6                                       Cohen's d =     0.5240
 7                                       Hedge's g =     0.5205
 8                                   Glass's delta =     0.4322
 9                                               r =     0.2555)

In [22]:
des, res = researchpy.ttest(df['OAS'], df['Excess Return % 36-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 36-mo (Agg)   58.0  0.647727  0.067866  0.008911
 2                     combined  116.0  0.668652  0.100451  0.009327

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.629883  0.665572
 2   0.650178  0.687126  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Agg)) =     0.0418
 1                              Degrees of freedom =   114.0000
 2                                               t =     2.2843
 3                           Two side test p value =     0.0242
 4                          Difference < 0 p value =     0.9879
 5                          Difference > 0 p value =     0.0121
 6                                       Cohen's d =     0.4242
 7                                       Hedge's g =     0.4214
 8                                   Glass's delta =     0.3433
 9                                               r =     0.2092)

# Now lets run the same t-test but with High spreads to all returns

In [23]:
df1 = pd.read_csv('minmax_OAS_with_Returns_Final_NO_Outliers_HY.csv')

In [24]:
df1.describe()

,OAS,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg)
count,279.000000,279.000000,279.000000,278.000000,278.000000,275.000000,275.000000,272.000000,272.000000,269.000000,269.000000,257.000000,257.000000,245.000000,245.000000
mean,0.351159,0.492857,0.494827,0.490379,0.489711,0.495175,0.499683,0.507613,0.505828,0.497147,0.499497,0.507319,0.498248,0.493073,0.484863
std,0.247503,0.237344,0.233785,0.235178,0.219736,0.223090,0.225057,0.219753,0.213179,0.207683,0.201386,0.215835,0.219765,0.208462,0.217124
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.155043,0.371940,0.372569,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000
50%,0.289734,0.500462,0.504350,0.512762,0.514750,0.512260,0.523454,0.533540,0.522281,0.512685,0.503557,0.541286,0.537844,0.517038,0.523230
75%,0.489075,0.624134,0.622223,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000,0.625000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
des, res = researchpy.ttest(df['OAS'], 
            df1['Excess Return % 3-mo (Treasury)']) # notice we are using the High Spread Data for OAS

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 3-mo (Treasury)  278.0  0.490379  0.235178  0.014105
 2                         combined  336.0  0.524764  0.232262  0.012671

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.462612  0.518146
 2   0.499840  0.549689  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Treasu...    0.1992
 1                              Degrees of freedom =   334.0000
 2                                               t =     6.2719
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9054
 7                                       Hedge's g =     0.9034
 8                                   Glass's delta =     1.6340
 9                                               r =     0.3246)

In [26]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 3-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   58.0  0.689576  0.121905  0.016007   0.657523
 1  Excess Return % 3-mo (Agg)  278.0  0.489711  0.219736  0.013179   0.463767
 2                    combined  336.0  0.524211  0.219488  0.011974   0.500657

    Interval
 0  0.721629
 1  0.515654
 2  0.547765  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 3-mo (Agg)) =     0.1999
 1                             Degrees of freedom =   334.0000
 2                                              t =     6.7097
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     0.9686
 7                                      Hedge's g =     0.9664
 8                                  Glass's delta =     1.6395
 9                                              r =     0.3446)

In [27]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 6-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 6-mo (Treasury)  275.0  0.495175  0.223090  0.013453
 2                         combined  333.0  0.529035  0.221536  0.012140

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.468691  0.521659
 2   0.505154  0.552916  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Treasu...    0.1944
 1                              Degrees of freedom =   331.0000
 2                                               t =     6.4317
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9293
 7                                       Hedge's g =     0.9272
 8                                   Glass's delta =     1.5947
 9                                               r =     0.3333)

In [28]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 6-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   58.0  0.689576  0.121905  0.016007   0.657523
 1  Excess Return % 6-mo (Agg)  275.0  0.499683  0.225057  0.013571   0.472965
 2                    combined  333.0  0.532757  0.222612  0.012199   0.508760

    Interval
 0  0.721629
 1  0.526400
 2  0.556754  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 6-mo (Agg)) =     0.1899
 1                             Degrees of freedom =   331.0000
 2                                              t =     6.2309
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     0.9003
 7                                      Hedge's g =     0.8983
 8                                  Glass's delta =     1.5577
 9                                              r =     0.3240)

In [29]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 9-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0                              OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 9-mo (Treasury)  272.0  0.507613  0.219753  0.013325
 2                         combined  330.0  0.539594  0.217173  0.011955

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.481380  0.533846
 2   0.516077  0.563112  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Treasu...    0.1820
 1                              Degrees of freedom =   328.0000
 2                                               t =     6.1041
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8828
 7                                       Hedge's g =     0.8808
 8                                   Glass's delta =     1.4927
 9                                               r =     0.3194)

In [30]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 9-mo (Agg)'])

des, res

(                     Variable      N      Mean        SD        SE  95% Conf.  \
 0                         OAS   58.0  0.689576  0.121905  0.016007   0.657523
 1  Excess Return % 9-mo (Agg)  272.0  0.505828  0.213179  0.012926   0.480380
 2                    combined  330.0  0.538123  0.211930  0.011666   0.515173

    Interval
 0  0.721629
 1  0.531276
 2  0.561073  ,
                                  Independent t-test   results
 0  Difference (OAS - Excess Return % 9-mo (Agg)) =     0.1837
 1                             Degrees of freedom =   328.0000
 2                                              t =     6.3420
 3                          Two side test p value =     0.0000
 4                         Difference < 0 p value =     1.0000
 5                         Difference > 0 p value =     0.0000
 6                                      Cohen's d =     0.9172
 7                                      Hedge's g =     0.9152
 8                                  Glass's delta =     1.5073
 9                                              r =     0.3305)

In [31]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 12-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 12-mo (Treasury)  269.0  0.497147  0.207683  0.012663
 2                          combined  327.0  0.531278  0.208510  0.011531

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.472216  0.522078
 2   0.508594  0.553962  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Treas...    0.1924
 1                              Degrees of freedom =   325.0000
 2                                               t =     6.8031
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9849
 7                                       Hedge's g =     0.9826
 8                                   Glass's delta =     1.5785
 9                                               r =     0.3531)

In [32]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 12-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 12-mo (Agg)  269.0  0.499497  0.201386  0.012279
 2                     combined  327.0  0.533211  0.203044  0.011228

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.475322  0.523672
 2   0.511122  0.555300  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 12-mo (Agg)) =     0.1901
 1                              Degrees of freedom =   325.0000
 2                                               t =     6.9151
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0011
 7                                       Hedge's g =     0.9988
 8                                   Glass's delta =     1.5592
 9                                               r =     0.3581)

In [33]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 24-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 24-mo (Treasury)  257.0  0.507319  0.215835  0.013463
 2                          combined  315.0  0.540878  0.213738  0.012043

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.480806  0.533832
 2   0.517183  0.564572  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Treas...    0.1823
 1                              Degrees of freedom =   313.0000
 2                                               t =     6.2064
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9022
 7                                       Hedge's g =     0.9001
 8                                   Glass's delta =     1.4951
 9                                               r =     0.3310)

In [34]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 24-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 24-mo (Agg)  257.0  0.498248  0.219765  0.013709
 2                     combined  315.0  0.533477  0.218151  0.012291

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.471252  0.525244
 2   0.509293  0.557661  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 24-mo (Agg)) =     0.1913
 1                              Degrees of freedom =   313.0000
 2                                               t =     6.4063
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9313
 7                                       Hedge's g =     0.9291
 8                                   Glass's delta =     1.5695
 9                                               r =     0.3405)

In [35]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 36-mo (Treasury)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0                               OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 36-mo (Treasury)  245.0  0.493073  0.208462  0.013318
 2                          combined  303.0  0.530687  0.209551  0.012038

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.466840  0.519306
 2   0.506998  0.554377  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Treas...    0.1965
 1                              Degrees of freedom =   301.0000
 2                                               t =     6.8995
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0075
 7                                       Hedge's g =     1.0050
 8                                   Glass's delta =     1.6119
 9                                               r =     0.3695)

In [36]:
des, res = researchpy.ttest(df['OAS'], df1['Excess Return % 36-mo (Agg)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0                          OAS   58.0  0.689576  0.121905  0.016007
 1  Excess Return % 36-mo (Agg)  245.0  0.484863  0.217124  0.013872
 2                     combined  303.0  0.524049  0.217719  0.012508

    95% Conf.  Interval
 0   0.657523  0.721629
 1   0.457540  0.512186
 2   0.499436  0.548662  ,
                                   Independent t-test   results
 0  Difference (OAS - Excess Return % 36-mo (Agg)) =     0.2047
 1                              Degrees of freedom =   301.0000
 2                                               t =     6.9211
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0106
 7                                       Hedge's g =     1.0081
 8                                   Glass's delta =     1.6793
 9                                               r =     0.3705)