In [1]:
import numpy as np
import pandas as pd

In [2]:
df_IG = pd.read_excel('minmax_OAS_with_Returns.xlsx', sheet_name="IG")

In [3]:
df_IG.describe()

,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),...,Excess Return % 6-mo (Agg).1,Excess Return % 9-mo (Treasury).1,Excess Return % 9-mo (Agg).1,Excess Return % 12-mo (Treasury).1,Excess Return % 12-mo (Agg).1,Excess Return % 24-mo (Treasury).1,Excess Return % 24-mo (Agg).1,Excess Return % 36-mo (Treasury).1,Excess Return % 36-mo (Agg).1,Quadrant
count,279.000000,279.000000,279.000000,279.00000,279.000000,277.000000,277.000000,274.000000,274.000000,270.000000,...,274.000000,270.000000,270.000000,267.000000,267.000000,257.000000,257.000000,245.000000,245.000000,279.00000
mean,153.311828,0.479842,0.428779,0.01881,0.051063,0.142498,0.207539,0.337193,0.441347,0.518056,...,0.505984,0.481026,0.512701,0.510045,0.531783,0.536730,0.524591,0.555810,0.535684,2.55914
std,82.684933,1.539438,0.978524,1.40695,0.907811,2.719385,1.724687,4.019240,2.562217,5.008696,...,0.100017,0.120538,0.119355,0.120856,0.122997,0.134785,0.137815,0.144242,0.152340,1.08418
min,54.000000,-7.474000,-3.361900,-11.14400,-6.958000,-16.909000,-11.261500,-20.274000,-12.520800,-19.470000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000
25%,106.000000,-0.242500,-0.125750,-0.34750,-0.215700,-0.641000,-0.429300,-0.851250,-0.587950,-1.281500,...,0.465805,0.437718,0.460154,0.463808,0.476223,0.485529,0.463914,0.481230,0.436978,2.00000
50%,136.000000,0.536000,0.464200,0.13300,0.093700,0.389000,0.244300,0.320000,0.310550,0.656500,...,0.500878,0.484357,0.508119,0.514723,0.529275,0.536254,0.526679,0.575179,0.561777,3.00000
75%,172.500000,1.299000,1.056350,0.47500,0.391500,1.173000,0.860200,2.006500,1.465850,2.547250,...,0.545976,0.529859,0.566690,0.562349,0.583361,0.585171,0.597708,0.636482,0.624196,3.00000
max,608.000000,5.554000,3.730900,5.37600,3.609700,13.601000,8.681800,19.231000,13.096900,22.083000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.00000

In [4]:
# This is redundant so we are dropping them
df_IG = df_IG.drop(columns = ['Excess Return % 1-mo (Treasury).1','Excess Return % 1-mo (Agg).1','Excess Return % 3-mo (Treasury).1','Excess Return % 3-mo (Agg).1','Excess Return % 6-mo (Treasury).1','Excess Return % 6-mo (Agg).1','Excess Return % 9-mo (Treasury).1','Excess Return % 9-mo (Agg).1','Excess Return % 12-mo (Treasury).1','Excess Return % 12-mo (Agg).1','Excess Return % 24-mo (Treasury).1','Excess Return % 24-mo (Agg).1','Excess Return % 36-mo (Treasury).1','Excess Return % 36-mo (Agg).1','Unnamed: 18','Date.1','OAS.1','Total Return % 1-mo-LOC.1','Agg Returns.1'])

In [5]:
df_IG['Excess Return % 2-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(2,win_type='boxcar',center=True).sum().shift(-1)
df_IG["Excess Return % 2-mo (Treasury_)"].head()

0    0.336
1    0.335
2   -0.005
3   -0.147
4    0.216
Name: Excess Return % 2-mo (Treasury_), dtype: float64

In [6]:
df_IG['Excess Return % 3-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(3,win_type='boxcar',center=True).sum().shift(-1)
df_IG["Excess Return % 3-mo (Treasury_)"].head()

0    0.437
1    0.229
2   -0.046
3    0.110
4    0.384
Name: Excess Return % 3-mo (Treasury_), dtype: float64

In [7]:
df_IG['Excess Return % 4-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(4,win_type='boxcar',center=True).sum().shift(-2)
df_IG["Excess Return % 4-mo (Treasury_)"].head()

0    0.331
1    0.188
2    0.211
3    0.278
4    0.338
Name: Excess Return % 4-mo (Treasury_), dtype: float64

In [8]:
df_IG['Excess Return % 5-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(5,win_type='boxcar',center=True).sum().shift(-2)
df_IG["Excess Return % 5-mo (Treasury_)"].head()

0    0.290
1    0.445
2    0.379
3    0.232
4    0.347
Name: Excess Return % 5-mo (Treasury_), dtype: float64

In [9]:
df_IG['Excess Return % 6-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(6,win_type='boxcar',center=True).sum().shift(-3)
df_IG["Excess Return % 6-mo (Treasury_)"].head()

0    0.547
1    0.613
2    0.333
3    0.241
4   -0.261
Name: Excess Return % 6-mo (Treasury_), dtype: float64

In [10]:
df_IG['Excess Return % 7-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(7,win_type='boxcar',center=True).sum().shift(-3)
df_IG["Excess Return % 7-mo (Treasury_)"].head()

0    0.715
1    0.567
2    0.342
3   -0.367
4   -0.474
Name: Excess Return % 7-mo (Treasury_), dtype: float64

In [11]:
df_IG['Excess Return % 8-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(8,win_type='boxcar',center=True).sum().shift(-4)
df_IG["Excess Return % 8-mo (Treasury_)"].head()

0    0.669
1    0.576
2   -0.266
3   -0.580
4   -0.612
Name: Excess Return % 8-mo (Treasury_), dtype: float64

In [12]:
df_IG['Excess Return % 9-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(9,win_type='boxcar',center=True).sum().shift(-4)
df_IG["Excess Return % 9-mo (Treasury_)"].head()

0    0.678
1   -0.032
2   -0.479
3   -0.718
4   -1.019
Name: Excess Return % 9-mo (Treasury_), dtype: float64

In [13]:
df_IG['Excess Return % 10-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(10,win_type='boxcar',center=True).sum().shift(-5)
df_IG["Excess Return % 10-mo (Treasury_)"].head()

0    0.070
1   -0.245
2   -0.617
3   -1.125
4   -0.774
Name: Excess Return % 10-mo (Treasury_), dtype: float64

In [14]:
df_IG['Excess Return % 11-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(11,win_type='boxcar',center=True).sum().shift(-5)
df_IG["Excess Return % 11-mo (Treasury_)"].head()

0   -0.143
1   -0.383
2   -1.024
3   -0.880
4   -0.510
Name: Excess Return % 11-mo (Treasury_), dtype: float64

In [15]:
df_IG['Excess Return % 12-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(12,win_type='boxcar',center=True).sum().shift(-6)
df_IG["Excess Return % 12-mo (Treasury_)"].head()

0   -0.281
1   -0.790
2   -0.779
3   -0.616
4   -0.410
Name: Excess Return % 12-mo (Treasury_), dtype: float64

In [16]:
df_IG['Excess Return % 13-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(13,win_type='boxcar',center=True).sum().shift(-6)
df_IG["Excess Return % 13-mo (Treasury_)"].head()

0   -0.688
1   -0.545
2   -0.515
3   -0.516
4   -0.289
Name: Excess Return % 13-mo (Treasury_), dtype: float64

In [17]:
df_IG['Excess Return % 14-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(14,win_type='boxcar',center=True).sum().shift(-7)
df_IG["Excess Return % 14-mo (Treasury_)"].head()

0   -0.443
1   -0.281
2   -0.415
3   -0.395
4   -0.547
Name: Excess Return % 14-mo (Treasury_), dtype: float64

In [18]:
df_IG['Excess Return % 15-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(15,win_type='boxcar',center=True).sum().shift(-7)
df_IG["Excess Return % 15-mo (Treasury_)"].head()

0   -0.179
1   -0.181
2   -0.294
3   -0.653
4   -0.896
Name: Excess Return % 15-mo (Treasury_), dtype: float64

In [19]:
df_IG['Excess Return % 16-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(16,win_type='boxcar',center=True).sum().shift(-8)
df_IG["Excess Return % 16-mo (Treasury_)"].head()

0   -0.079
1   -0.060
2   -0.552
3   -1.002
4   -3.896
Name: Excess Return % 16-mo (Treasury_), dtype: float64

In [20]:
df_IG['Excess Return % 17-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(17,win_type='boxcar',center=True).sum().shift(-8)
df_IG["Excess Return % 17-mo (Treasury_)"].head()

0    0.042
1   -0.318
2   -0.901
3   -4.002
4   -3.953
Name: Excess Return % 17-mo (Treasury_), dtype: float64

In [21]:
df_IG['Excess Return % 18-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(18,win_type='boxcar',center=True).sum().shift(-9)
df_IG["Excess Return % 18-mo (Treasury_)"].head()

0   -0.216
1   -0.667
2   -3.901
3   -4.059
4   -4.726
Name: Excess Return % 18-mo (Treasury_), dtype: float64

In [22]:
df_IG['Excess Return % 19-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(19,win_type='boxcar',center=True).sum().shift(-9)
df_IG["Excess Return % 19-mo (Treasury_)"].head()

0   -0.565
1   -3.667
2   -3.958
3   -4.832
4   -3.064
Name: Excess Return % 19-mo (Treasury_), dtype: float64

In [23]:
df_IG['Excess Return % 20-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(20,win_type='boxcar',center=True).sum().shift(-10)
df_IG["Excess Return % 20-mo (Treasury_)"].head()

0   -3.565
1   -3.724
2   -4.731
3   -3.170
4   -2.669
Name: Excess Return % 20-mo (Treasury_), dtype: float64

In [24]:
df_IG['Excess Return % 21-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(21,win_type='boxcar',center=True).sum().shift(-10)
df_IG["Excess Return % 21-mo (Treasury_)"].head()

0   -3.622
1   -4.497
2   -3.069
3   -2.775
4   -2.350
Name: Excess Return % 21-mo (Treasury_), dtype: float64

In [25]:
df_IG['Excess Return % 22-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(22,win_type='boxcar',center=True).sum().shift(-11)
df_IG["Excess Return % 22-mo (Treasury_)"].head()

0   -4.395
1   -2.835
2   -2.674
3   -2.456
4   -1.891
Name: Excess Return % 22-mo (Treasury_), dtype: float64

In [26]:
df_IG['Excess Return % 23-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(23,win_type='boxcar',center=True).sum().shift(-11)
df_IG["Excess Return % 23-mo (Treasury_)"].head()

0   -2.733
1   -2.440
2   -2.355
3   -1.997
4   -1.453
Name: Excess Return % 23-mo (Treasury_), dtype: float64

In [27]:
df_IG['Excess Return % 24-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(24,win_type='boxcar',center=True).sum().shift(-12)
df_IG["Excess Return % 24-mo (Treasury_)"].head()

0   -2.338
1   -2.121
2   -1.896
3   -1.559
4   -1.452
Name: Excess Return % 24-mo (Treasury_), dtype: float64

In [28]:
df_IG['Excess Return % 25-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(25,win_type='boxcar',center=True).sum().shift(-12)
df_IG["Excess Return % 25-mo (Treasury_)"].head()

0   -2.019
1   -1.662
2   -1.458
3   -1.558
4   -1.644
Name: Excess Return % 25-mo (Treasury_), dtype: float64

In [29]:
df_IG['Excess Return % 26-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(26,win_type='boxcar',center=True).sum().shift(-13)
df_IG["Excess Return % 26-mo (Treasury_)"].head()

0   -1.560
1   -1.224
2   -1.457
3   -1.750
4   -1.971
Name: Excess Return % 26-mo (Treasury_), dtype: float64

In [30]:
df_IG['Excess Return % 27-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(27,win_type='boxcar',center=True).sum().shift(-13)
df_IG["Excess Return % 27-mo (Treasury_)"].head()

0   -1.122
1   -1.223
2   -1.649
3   -2.077
4   -2.301
Name: Excess Return % 27-mo (Treasury_), dtype: float64

In [31]:
df_IG['Excess Return % 28-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(28,win_type='boxcar',center=True).sum().shift(-14)
df_IG["Excess Return % 28-mo (Treasury_)"].head()

0   -1.121
1   -1.415
2   -1.976
3   -2.407
4   -2.591
Name: Excess Return % 28-mo (Treasury_), dtype: float64

In [32]:
df_IG['Excess Return % 29-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(29,win_type='boxcar',center=True).sum().shift(-14)
df_IG["Excess Return % 29-mo (Treasury_)"].head()

0   -1.313
1   -1.742
2   -2.306
3   -2.697
4   -2.232
Name: Excess Return % 29-mo (Treasury_), dtype: float64

In [33]:
df_IG['Excess Return % 30-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(30,win_type='boxcar',center=True).sum().shift(-15)
df_IG["Excess Return % 30-mo (Treasury_)"].head()

0   -1.640
1   -2.072
2   -2.596
3   -2.338
4   -1.984
Name: Excess Return % 30-mo (Treasury_), dtype: float64

In [34]:
df_IG['Excess Return % 31-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(31,win_type='boxcar',center=True).sum().shift(-15)
df_IG["Excess Return % 31-mo (Treasury_)"].head()

0   -1.970
1   -2.362
2   -2.237
3   -2.090
4   -1.470
Name: Excess Return % 31-mo (Treasury_), dtype: float64

In [35]:
df_IG['Excess Return % 32-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(32,win_type='boxcar',center=True).sum().shift(-16)
df_IG["Excess Return % 32-mo (Treasury_)"].head()

0   -2.260
1   -2.003
2   -1.989
3   -1.576
4   -1.282
Name: Excess Return % 32-mo (Treasury_), dtype: float64

In [36]:
df_IG['Excess Return % 33-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(33,win_type='boxcar',center=True).sum().shift(-16)
df_IG["Excess Return % 33-mo (Treasury_)"].head()

0   -1.901
1   -1.755
2   -1.475
3   -1.388
4   -1.737
Name: Excess Return % 33-mo (Treasury_), dtype: float64

In [37]:
df_IG['Excess Return % 34-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(34,win_type='boxcar',center=True).sum().shift(-17)
df_IG["Excess Return % 34-mo (Treasury_)"].head()

0   -1.653
1   -1.241
2   -1.287
3   -1.843
4   -2.316
Name: Excess Return % 34-mo (Treasury_), dtype: float64

In [38]:
df_IG['Excess Return % 35-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(35,win_type='boxcar',center=True).sum().shift(-17)
df_IG["Excess Return % 35-mo (Treasury_)"].head()

0   -1.139
1   -1.053
2   -1.742
3   -2.422
4   -3.393
Name: Excess Return % 35-mo (Treasury_), dtype: float64

In [39]:
df_IG['Excess Return % 36-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(36,win_type='boxcar',center=True).sum().shift(-18)
df_IG["Excess Return % 36-mo (Treasury_)"].head()

0   -0.951
1   -1.508
2   -2.321
3   -3.499
4   -4.230
Name: Excess Return % 36-mo (Treasury_), dtype: float64

In [40]:
df_IG.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),...,Excess Return % 27-mo (Treasury_),Excess Return % 28-mo (Treasury_),Excess Return % 29-mo (Treasury_),Excess Return % 30-mo (Treasury_),Excess Return % 31-mo (Treasury_),Excess Return % 32-mo (Treasury_),Excess Return % 33-mo (Treasury_),Excess Return % 34-mo (Treasury_),Excess Return % 35-mo (Treasury_),Excess Return % 36-mo (Treasury_)
0,1997-01-31,61,0.142,0.3062,0.102,-0.1642,0.437,-0.2998,0.547,0.1361,...,-1.122,-1.121,-1.313,-1.640,-1.970,-2.260,-1.901,-1.653,-1.139,-0.951
1,1997-02-28,59,0.255,0.2488,0.234,0.0062,0.229,-0.0155,0.613,1.3050,...,-1.223,-1.415,-1.742,-2.072,-2.362,-2.003,-1.755,-1.241,-1.053,-1.508
2,1997-03-31,57,-1.250,-1.1082,0.101,-0.1418,-0.046,-0.0510,0.333,0.6734,...,-1.649,-1.976,-2.306,-2.596,-2.237,-1.989,-1.475,-1.287,-1.742,-2.321
3,1997-04-30,59,1.617,1.4969,-0.106,0.1201,0.110,0.4359,0.241,1.1644,...,-2.077,-2.407,-2.697,-2.338,-2.090,-1.576,-1.388,-1.843,-2.422,-3.499
4,1997-05-31,61,0.916,0.9453,-0.041,-0.0293,0.384,1.3205,-0.261,1.0106,...,-2.301,-2.591,-2.232,-1.984,-1.470,-1.282,-1.737,-2.316,-3.393,-4.230

# DO the same thing for returns against AGG

In [41]:
df_IG['Excess Return % 2-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(2,win_type='boxcar',center=True).sum().shift(-1)
df_IG["Excess Return % 2-mo (Agg_)"].head()

0   -0.1580
1   -0.1356
2   -0.0217
3    0.0908
4    0.3158
Name: Excess Return % 2-mo (Agg_), dtype: float64

In [42]:
df_IG['Excess Return % 3-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(3,win_type='boxcar',center=True).sum().shift(-1)
df_IG["Excess Return % 3-mo (Agg_)"].head()

0   -0.2998
1   -0.0155
2   -0.0510
3    0.4359
4    1.3205
Name: Excess Return % 3-mo (Agg_), dtype: float64

In [43]:
df_IG['Excess Return % 4-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(4,win_type='boxcar',center=True).sum().shift(-2)
df_IG["Excess Return % 4-mo (Agg_)"].head()

0   -0.1797
1   -0.0448
2    0.2941
3    1.4406
4    0.6951
Name: Excess Return % 4-mo (Agg_), dtype: float64

In [44]:
df_IG['Excess Return % 5-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(5,win_type='boxcar',center=True).sum().shift(-2)
df_IG["Excess Return % 5-mo (Agg_)"].head()

0   -0.2090
1    0.3003
2    1.2988
3    0.8152
4    1.0443
Name: Excess Return % 5-mo (Agg_), dtype: float64

In [45]:
df_IG['Excess Return % 6-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(6,win_type='boxcar',center=True).sum().shift(-3)
df_IG["Excess Return % 6-mo (Agg_)"].head()

0    0.1361
1    1.3050
2    0.6734
3    1.1644
4    1.0106
Name: Excess Return % 6-mo (Agg_), dtype: float64

In [46]:
df_IG['Excess Return % 7-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(7,win_type='boxcar',center=True).sum().shift(-3)
df_IG["Excess Return % 7-mo (Agg_)"].head()

0    1.1408
1    0.6796
2    1.0226
3    1.1307
4    0.8511
Name: Excess Return % 7-mo (Agg_), dtype: float64

In [47]:
df_IG['Excess Return % 8-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(8,win_type='boxcar',center=True).sum().shift(-4)
df_IG["Excess Return % 8-mo (Agg_)"].head()

0    0.5154
1    1.0288
2    0.9889
3    0.9712
4    0.8953
Name: Excess Return % 8-mo (Agg_), dtype: float64

In [48]:
df_IG['Excess Return % 9-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(9,win_type='boxcar',center=True).sum().shift(-4)
df_IG["Excess Return % 9-mo (Agg_)"].head()

0    0.8646
1    0.9951
2    0.8294
3    1.0154
4    0.9305
Name: Excess Return % 9-mo (Agg_), dtype: float64

In [49]:
df_IG['Excess Return % 10-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(10,win_type='boxcar',center=True).sum().shift(-5)
df_IG["Excess Return % 10-mo (Agg_)"].head()

0    0.8309
1    0.8356
2    0.8736
3    1.0506
4    0.8538
Name: Excess Return % 10-mo (Agg_), dtype: float64

In [50]:
df_IG['Excess Return % 11-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(11,win_type='boxcar',center=True).sum().shift(-5)
df_IG["Excess Return % 11-mo (Agg_)"].head()

0    0.6714
1    0.8798
2    0.9088
3    0.9739
4    1.0062
Name: Excess Return % 11-mo (Agg_), dtype: float64

In [51]:
df_IG['Excess Return % 12-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(12,win_type='boxcar',center=True).sum().shift(-6)
df_IG["Excess Return % 12-mo (Agg_)"].head()

0    0.7156
1    0.9150
2    0.8321
3    1.1263
4    0.9952
Name: Excess Return % 12-mo (Agg_), dtype: float64

In [52]:
df_IG['Excess Return % 13-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(13,win_type='boxcar',center=True).sum().shift(-6)
df_IG["Excess Return % 13-mo (Agg_)"].head()

0    0.7508
1    0.8383
2    0.9845
3    1.1153
4    1.3116
Name: Excess Return % 13-mo (Agg_), dtype: float64

In [53]:
df_IG['Excess Return % 14-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(14,win_type='boxcar',center=True).sum().shift(-7)
df_IG["Excess Return % 14-mo (Agg_)"].head()

0    0.6741
1    0.9907
2    0.9735
3    1.4317
4    1.3255
Name: Excess Return % 14-mo (Agg_), dtype: float64

In [54]:
df_IG['Excess Return % 15-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(15,win_type='boxcar',center=True).sum().shift(-7)
df_IG["Excess Return % 15-mo (Agg_)"].head()

0    0.8265
1    0.9797
2    1.2899
3    1.4456
4    1.0318
Name: Excess Return % 15-mo (Agg_), dtype: float64

In [55]:
df_IG['Excess Return % 16-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(16,win_type='boxcar',center=True).sum().shift(-8)
df_IG["Excess Return % 16-mo (Agg_)"].head()

0    0.8155
1    1.2961
2    1.3038
3    1.1519
4   -0.4536
Name: Excess Return % 16-mo (Agg_), dtype: float64

In [56]:
df_IG['Excess Return % 17-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(17,win_type='boxcar',center=True).sum().shift(-8)
df_IG["Excess Return % 17-mo (Agg_)"].head()

0    1.1319
1    1.3100
2    1.0101
3   -0.3335
4    0.3108
Name: Excess Return % 17-mo (Agg_), dtype: float64

In [57]:
df_IG['Excess Return % 18-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(18,win_type='boxcar',center=True).sum().shift(-9)
df_IG["Excess Return % 18-mo (Agg_)"].head()

0    1.1458
1    1.0163
2   -0.4753
3    0.4309
4   -0.3157
Name: Excess Return % 18-mo (Agg_), dtype: float64

In [58]:
df_IG['Excess Return % 19-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(19,win_type='boxcar',center=True).sum().shift(-9)
df_IG["Excess Return % 19-mo (Agg_)"].head()

0    0.8521
1   -0.4691
2    0.2891
3   -0.1956
4    0.6600
Name: Excess Return % 19-mo (Agg_), dtype: float64

In [59]:
df_IG['Excess Return % 20-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(20,win_type='boxcar',center=True).sum().shift(-10)
df_IG["Excess Return % 20-mo (Agg_)"].head()

0   -0.6333
1    0.2953
2   -0.3374
3    0.7801
4    0.9543
Name: Excess Return % 20-mo (Agg_), dtype: float64

In [60]:
df_IG['Excess Return % 21-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(21,win_type='boxcar',center=True).sum().shift(-10)
df_IG["Excess Return % 21-mo (Agg_)"].head()

0    0.1311
1   -0.3312
2    0.6383
3    1.0744
4    1.2626
Name: Excess Return % 21-mo (Agg_), dtype: float64

In [61]:
df_IG['Excess Return % 22-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(22,win_type='boxcar',center=True).sum().shift(-11)
df_IG["Excess Return % 22-mo (Agg_)"].head()

0   -0.4954
1    0.6445
2    0.9326
3    1.3827
4    0.4483
Name: Excess Return % 22-mo (Agg_), dtype: float64

In [62]:
df_IG['Excess Return % 23-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(23,win_type='boxcar',center=True).sum().shift(-11)
df_IG["Excess Return % 23-mo (Agg_)"].head()

0    0.4803
1    0.9388
2    1.2409
3    0.5684
4    0.8031
Name: Excess Return % 23-mo (Agg_), dtype: float64

In [63]:
df_IG['Excess Return % 24-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(24,win_type='boxcar',center=True).sum().shift(-12)
df_IG["Excess Return % 24-mo (Agg_)"].head()

0    0.7746
1    1.2471
2    0.4266
3    0.9232
4    0.8333
Name: Excess Return % 24-mo (Agg_), dtype: float64

In [64]:
df_IG['Excess Return % 25-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(25,win_type='boxcar',center=True).sum().shift(-12)
df_IG["Excess Return % 25-mo (Agg_)"].head()

0    1.0829
1    0.4328
2    0.7814
3    0.9534
4    0.2622
Name: Excess Return % 25-mo (Agg_), dtype: float64

In [65]:
df_IG['Excess Return % 26-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(26,win_type='boxcar',center=True).sum().shift(-13)
df_IG["Excess Return % 26-mo (Agg_)"].head()

0    0.2686
1    0.7876
2    0.8116
3    0.3823
4    0.0878
Name: Excess Return % 26-mo (Agg_), dtype: float64

In [66]:
df_IG['Excess Return % 27-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(27,win_type='boxcar',center=True).sum().shift(-13)
df_IG["Excess Return % 27-mo (Agg_)"].head()

0    0.6234
1    0.8178
2    0.2405
3    0.2079
4   -0.0715
Name: Excess Return % 27-mo (Agg_), dtype: float64

In [67]:
df_IG['Excess Return % 28-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(28,win_type='boxcar',center=True).sum().shift(-14)
df_IG["Excess Return % 28-mo (Agg_)"].head()

0    0.6536
1    0.2467
2    0.0661
3    0.0486
4   -0.2776
Name: Excess Return % 28-mo (Agg_), dtype: float64

In [68]:
df_IG['Excess Return % 29-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(29,win_type='boxcar',center=True).sum().shift(-14)
df_IG["Excess Return % 29-mo (Agg_)"].head()

0    0.0825
1    0.0723
2   -0.0932
3   -0.1575
4   -0.3045
Name: Excess Return % 29-mo (Agg_), dtype: float64

In [69]:
df_IG['Excess Return % 30-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(30,win_type='boxcar',center=True).sum().shift(-15)
df_IG["Excess Return % 30-mo (Agg_)"].head()

0   -0.0919
1   -0.0870
2   -0.2993
3   -0.1844
4   -0.3625
Name: Excess Return % 30-mo (Agg_), dtype: float64

In [70]:
df_IG['Excess Return % 31-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(31,win_type='boxcar',center=True).sum().shift(-15)
df_IG["Excess Return % 31-mo (Agg_)"].head()

0   -0.2512
1   -0.2931
2   -0.3262
3   -0.2424
4   -0.2173
Name: Excess Return % 31-mo (Agg_), dtype: float64

In [71]:
df_IG['Excess Return % 32-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(32,win_type='boxcar',center=True).sum().shift(-16)
df_IG["Excess Return % 32-mo (Agg_)"].head()

0   -0.4573
1   -0.3200
2   -0.3842
3   -0.0972
4   -0.0931
Name: Excess Return % 32-mo (Agg_), dtype: float64

In [72]:
df_IG['Excess Return % 33-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(33,win_type='boxcar',center=True).sum().shift(-16)
df_IG["Excess Return % 33-mo (Agg_)"].head()

0   -0.4842
1   -0.3780
2   -0.2390
3    0.0270
4   -0.1007
Name: Excess Return % 33-mo (Agg_), dtype: float64

In [73]:
df_IG['Excess Return % 34-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(34,win_type='boxcar',center=True).sum().shift(-17)
df_IG["Excess Return % 34-mo (Agg_)"].head()

0   -0.5422
1   -0.2328
2   -0.1148
3    0.0194
4   -0.5361
Name: Excess Return % 34-mo (Agg_), dtype: float64

In [74]:
df_IG['Excess Return % 35-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(35,win_type='boxcar',center=True).sum().shift(-17)
df_IG["Excess Return % 35-mo (Agg_)"].head()

0   -0.3970
1   -0.1086
2   -0.1224
3   -0.4160
4   -0.7445
Name: Excess Return % 35-mo (Agg_), dtype: float64

In [75]:
df_IG['Excess Return % 36-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(36,win_type='boxcar',center=True).sum().shift(-18)
df_IG["Excess Return % 36-mo (Agg_)"].head()

0   -0.2728
1   -0.1162
2   -0.5578
3   -0.6244
4   -1.6942
Name: Excess Return % 36-mo (Agg_), dtype: float64

In [76]:
df_IG.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),...,Excess Return % 27-mo (Agg_),Excess Return % 28-mo (Agg_),Excess Return % 29-mo (Agg_),Excess Return % 30-mo (Agg_),Excess Return % 31-mo (Agg_),Excess Return % 32-mo (Agg_),Excess Return % 33-mo (Agg_),Excess Return % 34-mo (Agg_),Excess Return % 35-mo (Agg_),Excess Return % 36-mo (Agg_)
0,1997-01-31,61,0.142,0.3062,0.102,-0.1642,0.437,-0.2998,0.547,0.1361,...,0.6234,0.6536,0.0825,-0.0919,-0.2512,-0.4573,-0.4842,-0.5422,-0.3970,-0.2728
1,1997-02-28,59,0.255,0.2488,0.234,0.0062,0.229,-0.0155,0.613,1.3050,...,0.8178,0.2467,0.0723,-0.0870,-0.2931,-0.3200,-0.3780,-0.2328,-0.1086,-0.1162
2,1997-03-31,57,-1.250,-1.1082,0.101,-0.1418,-0.046,-0.0510,0.333,0.6734,...,0.2405,0.0661,-0.0932,-0.2993,-0.3262,-0.3842,-0.2390,-0.1148,-0.1224,-0.5578
3,1997-04-30,59,1.617,1.4969,-0.106,0.1201,0.110,0.4359,0.241,1.1644,...,0.2079,0.0486,-0.1575,-0.1844,-0.2424,-0.0972,0.0270,0.0194,-0.4160,-0.6244
4,1997-05-31,61,0.916,0.9453,-0.041,-0.0293,0.384,1.3205,-0.261,1.0106,...,-0.0715,-0.2776,-0.3045,-0.3625,-0.2173,-0.0931,-0.1007,-0.5361,-0.7445,-1.6942

In [77]:
df_IG = df_IG.drop(columns = ['Excess Return % 3-mo (Treasury)','Excess Return % 3-mo (Agg)','Excess Return % 6-mo (Treasury)','Excess Return % 6-mo (Agg)','Excess Return % 9-mo (Treasury)','Excess Return % 9-mo (Agg)','Excess Return % 12-mo (Treasury)','Excess Return % 12-mo (Agg)','Excess Return % 24-mo (Treasury)','Excess Return % 24-mo (Agg)','Excess Return % 36-mo (Treasury)','Excess Return % 36-mo (Agg)'])
df_IG.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Quadrant,Excess Return % 2-mo (Treasury_),Excess Return % 3-mo (Treasury_),Excess Return % 4-mo (Treasury_),...,Excess Return % 27-mo (Agg_),Excess Return % 28-mo (Agg_),Excess Return % 29-mo (Agg_),Excess Return % 30-mo (Agg_),Excess Return % 31-mo (Agg_),Excess Return % 32-mo (Agg_),Excess Return % 33-mo (Agg_),Excess Return % 34-mo (Agg_),Excess Return % 35-mo (Agg_),Excess Return % 36-mo (Agg_)
0,1997-01-31,61,0.142,0.3062,0.102,-0.1642,4,0.336,0.437,0.331,...,0.6234,0.6536,0.0825,-0.0919,-0.2512,-0.4573,-0.4842,-0.5422,-0.3970,-0.2728
1,1997-02-28,59,0.255,0.2488,0.234,0.0062,4,0.335,0.229,0.188,...,0.8178,0.2467,0.0723,-0.0870,-0.2931,-0.3200,-0.3780,-0.2328,-0.1086,-0.1162
2,1997-03-31,57,-1.250,-1.1082,0.101,-0.1418,4,-0.005,-0.046,0.211,...,0.2405,0.0661,-0.0932,-0.2993,-0.3262,-0.3842,-0.2390,-0.1148,-0.1224,-0.5578
3,1997-04-30,59,1.617,1.4969,-0.106,0.1201,4,-0.147,0.110,0.278,...,0.2079,0.0486,-0.1575,-0.1844,-0.2424,-0.0972,0.0270,0.0194,-0.4160,-0.6244
4,1997-05-31,61,0.916,0.9453,-0.041,-0.0293,4,0.216,0.384,0.338,...,-0.0715,-0.2776,-0.3045,-0.3625,-0.2173,-0.0931,-0.1007,-0.5361,-0.7445,-1.6942

In [78]:
df_IG.info() #

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 77 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               279 non-null    datetime64[ns]
 1   OAS                                279 non-null    int64
 2   Total Return % 1-mo-LOC            279 non-null    float64
 3   Agg Returns                        279 non-null    float64
 4   Excess Return % 1-mo (Treasury)    279 non-null    float64
 5   Excess Return % 1-mo (Agg)         279 non-null    float64
 6   Quadrant                           279 non-null    int64
 7   Excess Return % 2-mo (Treasury_)   278 non-null    float64
 8   Excess Return % 3-mo (Treasury_)   277 non-null    float64
 9   Excess Return % 4-mo (Treasury_)   276 non-null    float64
 10  Excess Return % 5-mo (Treasury_)   275 non-null    float64
 11  Excess Return % 6-mo (Treasury_)   274 non-null    float64
 12  Excess Return % 7-mo (Treasury_)   273 non-null    float64
 13  Excess Return % 8-mo (Treasury_)   272 non-null    float64
 14  Excess Return % 9-mo (Treasury_)   271 non-null    float64
 15  Excess Return % 10-mo (Treasury_)  270 non-null    float64
 16  Excess Return % 11-mo (Treasury_)  269 non-null    float64
 17  Excess Return % 12-mo (Treasury_)  268 non-null    float64
 18  Excess Return % 13-mo (Treasury_)  267 non-null    float64
 19  Excess Return % 14-mo (Treasury_)  266 non-null    float64
 20  Excess Return % 15-mo (Treasury_)  265 non-null    float64
 21  Excess Return % 16-mo (Treasury_)  264 non-null    float64
 22  Excess Return % 17-mo (Treasury_)  263 non-null    float64
 23  Excess Return % 18-mo (Treasury_)  262 non-null    float64
 24  Excess Return % 19-mo (Treasury_)  261 non-null    float64
 25  Excess Return % 20-mo (Treasury_)  260 non-null    float64
 26  Excess Return % 21-mo (Treasury_)  259 non-null    float64
 27  Excess Return % 22-mo (Treasury_)  258 non-null    float64
 28  Excess Return % 23-mo (Treasury_)  257 non-null    float64
 29  Excess Return % 24-mo (Treasury_)  256 non-null    float64
 30  Excess Return % 25-mo (Treasury_)  255 non-null    float64
 31  Excess Return % 26-mo (Treasury_)  254 non-null    float64
 32  Excess Return % 27-mo (Treasury_)  253 non-null    float64
 33  Excess Return % 28-mo (Treasury_)  252 non-null    float64
 34  Excess Return % 29-mo (Treasury_)  251 non-null    float64
 35  Excess Return % 30-mo (Treasury_)  250 non-null    float64
 36  Excess Return % 31-mo (Treasury_)  249 non-null    float64
 37  Excess Return % 32-mo (Treasury_)  248 non-null    float64
 38  Excess Return % 33-mo (Treasury_)  247 non-null    float64
 39  Excess Return % 34-mo (Treasury_)  246 non-null    float64
 40  Excess Return % 35-mo (Treasury_)  245 non-null    float64
 41  Excess Return % 36-mo (Treasury_)  244 non-null    float64
 42  Excess Return % 2-mo (Agg_)        278 non-null    float64
 43  Excess Return % 3-mo (Agg_)        277 non-null    float64
 44  Excess Return % 4-mo (Agg_)        276 non-null    float64
 45  Excess Return % 5-mo (Agg_)        275 non-null    float64
 46  Excess Return % 6-mo (Agg_)        274 non-null    float64
 47  Excess Return % 7-mo (Agg_)        273 non-null    float64
 48  Excess Return % 8-mo (Agg_)        272 non-null    float64
 49  Excess Return % 9-mo (Agg_)        271 non-null    float64
 50  Excess Return % 10-mo (Agg_)       270 non-null    float64
 51  Excess Return % 11-mo (Agg_)       269 non-null    float64
 52  Excess Return % 12-mo (Agg_)       268 non-null    float64
 53  Excess Return % 13-mo (Agg_)       267 non-null    float64
 54  Excess Return % 14-mo (Agg_)       266 non-null    float64
 55  Excess Return % 15-mo (Agg_)       265 non-null    float64
 56  Excess Return % 16-mo (Agg_)       264 non-null    float64
 57  Excess Return % 17-mo (Agg_)       263 non-null    float64
 58  Excess Return % 18-mo (Agg_)       262 non-null    float64
 59  Excess Return % 19-mo (Agg_)       261 non-null    float64
 60  Excess Return % 20-mo (Agg_)       260 non-null    float64
 61  Excess Return % 21-mo (Agg_)       259 non-null    float64
 62  Excess Return % 22-mo (Agg_)       258 non-null    float64
 63  Excess Return % 23-mo (Agg_)       257 non-null    float64
 64  Excess Return % 24-mo (Agg_)       256 non-null    float64
 65  Excess Return % 25-mo (Agg_)       255 non-null    float64
 66  Excess Return % 26-mo (Agg_)       254 non-null    float64
 67  Excess Return % 27-mo (Agg_)       253 non-null    float64
 68  Excess Return % 28-mo (Agg_)       252 non-null    float64
 69  Excess Return % 29-mo (Agg_)       251 non-null    float64
 70  Excess Return % 30-mo (Agg_)       250 non-null    float64
 71  Excess Return % 31-mo (Agg_)       249 non-null    float64
 72  Excess Return % 32-mo (Agg_)       248 non-null    float64
 73  Excess Return % 33-mo (Agg_)       247 non-null    float64
 74  Excess Return % 34-mo (Agg_)       246 non-null    float64
 75  Excess Return % 35-mo (Agg_)       245 non-null    float64
 76  Excess Return % 36-mo (Agg_)       244 non-null    float64
dtypes: datetime64[ns](1), float64(74), int64(2)
memory usage: 168.0 KB

# Now, lets get rid of outliers

In [79]:
# OAS Outlier Adjustment
q1 = df_IG["OAS"].quantile(0.25)
q3 = df_IG["OAS"].quantile(0.75)

iqr = q3 - q1

lower_bound = q1 -(1.5 * iqr) 
upper_bound = q3 +(1.5 * iqr)

df_IG = df_IG[(df_IG['OAS'] > lower_bound) & (df_IG['OAS'] < upper_bound)] # gets rid of outliers

In [81]:
print(lower_bound) # any value less than this will not be in the sample

6.25

In [82]:
print(upper_bound) # any value greater than this will not be in the sample

272.25

In [80]:
df_IG.describe()

,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Quadrant,Excess Return % 2-mo (Treasury_),Excess Return % 3-mo (Treasury_),Excess Return % 4-mo (Treasury_),Excess Return % 5-mo (Treasury_),...,Excess Return % 27-mo (Agg_),Excess Return % 28-mo (Agg_),Excess Return % 29-mo (Agg_),Excess Return % 30-mo (Agg_),Excess Return % 31-mo (Agg_),Excess Return % 32-mo (Agg_),Excess Return % 33-mo (Agg_),Excess Return % 34-mo (Agg_),Excess Return % 35-mo (Agg_),Excess Return % 36-mo (Agg_)
count,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,264.000000,263.000000,262.000000,...,240.000000,239.000000,238.000000,237.000000,236.000000,235.000000,234.000000,233.000000,232.000000,231.000000
mean,138.467925,0.524906,0.429252,0.082758,0.095654,2.501887,0.087170,0.141212,0.169947,0.164038,...,1.368364,1.452177,1.525321,1.608193,1.689864,1.769491,1.849698,1.927652,2.006208,2.083613
std,45.473934,1.226121,0.936511,0.889975,0.548312,1.077049,1.538984,1.809523,2.143818,2.589041,...,4.157903,4.229926,4.290089,4.356719,4.427791,4.491090,4.550779,4.606268,4.660969,4.720419
min,54.000000,-4.221000,-3.361900,-3.293000,-1.779200,1.000000,-13.022000,-13.659000,-12.598000,-18.563000,...,-15.485600,-15.605100,-15.492800,-15.466100,-15.681800,-15.960500,-15.894500,-16.110200,-16.071000,-15.977300
25%,101.000000,-0.210000,-0.123000,-0.302000,-0.206100,2.000000,-0.501000,-0.638000,-0.751500,-0.720250,...,-0.630575,-0.654100,-0.526150,-0.651400,-0.679725,-0.822950,-0.831425,-0.976600,-0.895475,-1.042050
50%,132.000000,0.539000,0.464200,0.149000,0.101000,3.000000,0.282000,0.381500,0.388000,0.346500,...,1.869750,1.912800,2.087850,2.330100,2.243400,2.517600,2.888750,3.064700,3.304650,3.460700
75%,167.000000,1.295000,1.062200,0.470000,0.385100,3.000000,0.808000,1.108250,1.441000,1.698750,...,4.267425,4.520500,4.592975,4.692800,4.849850,4.899350,4.979725,5.010200,5.313450,5.445950
max,265.000000,3.948000,2.695300,3.504000,2.335000,4.000000,4.581000,5.630000,6.608000,6.488000,...,8.134800,8.937700,8.698200,9.088700,9.290300,10.162300,10.120200,10.287600,9.961800,10.421600

# Time to Normalize our data, we use min/max scale

In [85]:
df_IG['OAS'] = pd.to_numeric(df_IG['OAS'],errors='coerce') # converting back to float64 for normalize


column_maxes = df_IG.max()
df_max = column_maxes.max()
column_mins = df_IG.min()
df_min = column_mins.min()
normalized_df = (df_IG - df_min) / (df_max - df_min)

TypeError: '>=' not supported between instances of 'Timestamp' and 'int'