In [1]:
import numpy as np
import pandas as pd

In [2]:
df_IG = pd.read_excel('minmax_OAS_with_Returns.xlsx', sheet_name="IG")

In [3]:
df_IG.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),...,Excess Return % 6-mo (Agg).1,Excess Return % 9-mo (Treasury).1,Excess Return % 9-mo (Agg).1,Excess Return % 12-mo (Treasury).1,Excess Return % 12-mo (Agg).1,Excess Return % 24-mo (Treasury).1,Excess Return % 24-mo (Agg).1,Excess Return % 36-mo (Treasury).1,Excess Return % 36-mo (Agg).1,Quadrant
0,1997-01-31,61,0.142,0.3062,0.102,-0.1642,0.437,-0.2998,0.547,0.1361,...,0.494069,0.467788,0.524759,0.478103,0.533126,0.464146,0.497527,0.490230,0.451547,4
1,1997-02-28,59,0.255,0.2488,0.234,0.0062,0.229,-0.0155,0.613,1.3050,...,0.539697,0.457031,0.518750,0.478338,0.530388,0.468278,0.511348,0.479237,0.456050,4
2,1997-03-31,57,-1.250,-1.1082,0.101,-0.1418,-0.046,-0.0510,0.333,0.6734,...,0.515042,0.451279,0.525495,0.481818,0.540103,0.472562,0.487347,0.463190,0.443353,4
3,1997-04-30,59,1.617,1.4969,-0.106,0.1201,0.110,0.4359,0.241,1.1644,...,0.534209,0.444035,0.522416,0.486217,0.535774,0.478979,0.501874,0.439940,0.441438,4
4,1997-05-31,61,0.916,0.9453,-0.041,-0.0293,0.384,1.3205,-0.261,1.0106,...,0.528205,0.450918,0.520697,0.489676,0.547189,0.481016,0.499244,0.425512,0.410678,4

In [7]:
df_IG['Excess Return % 3-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(3,win_type='boxcar',center=True).sum().shift(-1)
df_IG["Excess Return % 3-mo (Treasury_)"].head()

0    0.437
1    0.229
2   -0.046
3    0.110
4    0.384
Name: Excess Return % 3-mo (Treasury_), dtype: float64