In [1]:
import numpy as np
import pandas as pd

In [2]:
df_IG = pd.read_excel('minmax_OAS_with_Returns.xlsx', sheet_name="IG")

In [3]:
df_IG.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),...,Excess Return % 6-mo (Agg).1,Excess Return % 9-mo (Treasury).1,Excess Return % 9-mo (Agg).1,Excess Return % 12-mo (Treasury).1,Excess Return % 12-mo (Agg).1,Excess Return % 24-mo (Treasury).1,Excess Return % 24-mo (Agg).1,Excess Return % 36-mo (Treasury).1,Excess Return % 36-mo (Agg).1,Quadrant
0,1997-01-31,61,0.142,0.3062,0.102,-0.1642,0.437,-0.2998,0.547,0.1361,...,0.494069,0.467788,0.524759,0.478103,0.533126,0.464146,0.497527,0.490230,0.451547,4
1,1997-02-28,59,0.255,0.2488,0.234,0.0062,0.229,-0.0155,0.613,1.3050,...,0.539697,0.457031,0.518750,0.478338,0.530388,0.468278,0.511348,0.479237,0.456050,4
2,1997-03-31,57,-1.250,-1.1082,0.101,-0.1418,-0.046,-0.0510,0.333,0.6734,...,0.515042,0.451279,0.525495,0.481818,0.540103,0.472562,0.487347,0.463190,0.443353,4
3,1997-04-30,59,1.617,1.4969,-0.106,0.1201,0.110,0.4359,0.241,1.1644,...,0.534209,0.444035,0.522416,0.486217,0.535774,0.478979,0.501874,0.439940,0.441438,4
4,1997-05-31,61,0.916,0.9453,-0.041,-0.0293,0.384,1.3205,-0.261,1.0106,...,0.528205,0.450918,0.520697,0.489676,0.547189,0.481016,0.499244,0.425512,0.410678,4

In [4]:
# This is redundant so we are dropping them
df_IG.drop(columns = ['Excess Return % 1-mo (Treasury).1','Excess Return % 1-mo (Agg).1','Excess Return % 3-mo (Treasury).1','Excess Return % 3-mo (Agg).1','Excess Return % 6-mo (Treasury).1','Excess Return % 6-mo (Agg).1','Excess Return % 9-mo (Treasury).1','Excess Return % 9-mo (Agg).1','Excess Return % 12-mo (Treasury).1','Excess Return % 12-mo (Agg).1','Excess Return % 24-mo (Treasury).1','Excess Return % 24-mo (Agg).1','Excess Return % 36-mo (Treasury).1','Excess Return % 36-mo (Agg).1','Unnamed: 18','Date.1','OAS.1','Total Return % 1-mo-LOC.1','Agg Returns.1'])

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),Excess Return % 9-mo (Agg),Excess Return % 12-mo (Treasury),Excess Return % 12-mo (Agg),Excess Return % 24-mo (Treasury),Excess Return % 24-mo (Agg),Excess Return % 36-mo (Treasury),Excess Return % 36-mo (Agg),Quadrant
0,1997-01-31,61,0.142,0.3062,0.102,-0.1642,0.437,-0.2998,0.547,0.1361,-0.032,0.9951,-0.790,0.9150,-2.338,0.7746,-0.951,-0.2728,4
1,1997-02-28,59,0.255,0.2488,0.234,0.0062,0.229,-0.0155,0.613,1.3050,-0.479,0.8294,-0.779,0.8321,-2.121,1.2471,-1.508,-0.1162,4
2,1997-03-31,57,-1.250,-1.1082,0.101,-0.1418,-0.046,-0.0510,0.333,0.6734,-0.718,1.0154,-0.616,1.1263,-1.896,0.4266,-2.321,-0.5578,4
3,1997-04-30,59,1.617,1.4969,-0.106,0.1201,0.110,0.4359,0.241,1.1644,-1.019,0.9305,-0.410,0.9952,-1.559,0.9232,-3.499,-0.6244,4
4,1997-05-31,61,0.916,0.9453,-0.041,-0.0293,0.384,1.3205,-0.261,1.0106,-0.733,0.8831,-0.248,1.3409,-1.452,0.8333,-4.230,-1.6942,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,2019-11-30,111,0.217,-0.0512,0.622,0.2682,1.046,1.1043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
275,2019-12-31,101,0.315,-0.0696,1.061,0.3846,-1.454,0.3261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
276,2020-01-31,109,2.376,1.9245,-0.637,0.4515,-13.659,-7.0165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
277,2020-02-29,130,1.290,1.8000,-1.878,-0.5100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
278,2020-03-31,305,-7.474,-0.5160,-11.144,-6.9580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [5]:
df_IG['Excess Return % 2-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(2,win_type='boxcar',center=True).sum().shift(-1)
df_IG["Excess Return % 2-mo (Treasury_)"].head()

0    0.336
1    0.335
2   -0.005
3   -0.147
4    0.216
Name: Excess Return % 2-mo (Treasury_), dtype: float64

In [6]:
df_IG['Excess Return % 3-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(3,win_type='boxcar',center=True).sum().shift(-1)
df_IG["Excess Return % 3-mo (Treasury_)"].head()

0    0.437
1    0.229
2   -0.046
3    0.110
4    0.384
Name: Excess Return % 3-mo (Treasury_), dtype: float64

In [7]:
df_IG['Excess Return % 4-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(4,win_type='boxcar',center=True).sum().shift(-2)
df_IG["Excess Return % 4-mo (Treasury_)"].head()

0    0.331
1    0.188
2    0.211
3    0.278
4    0.338
Name: Excess Return % 4-mo (Treasury_), dtype: float64

In [10]:
df_IG['Excess Return % 5-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(5,win_type='boxcar',center=True).sum().shift(-2)
df_IG["Excess Return % 5-mo (Treasury_)"].head()

0    0.290
1    0.445
2    0.379
3    0.232
4    0.347
Name: Excess Return % 5-mo (Treasury_), dtype: float64

In [12]:
df_IG['Excess Return % 6-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(6,win_type='boxcar',center=True).sum().shift(-3)
df_IG["Excess Return % 6-mo (Treasury_)"].head()

0    0.547
1    0.613
2    0.333
3    0.241
4   -0.261
Name: Excess Return % 6-mo (Treasury_), dtype: float64

In [14]:
df_IG['Excess Return % 7-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(7,win_type='boxcar',center=True).sum().shift(-3)
df_IG["Excess Return % 7-mo (Treasury_)"].head()

0    0.715
1    0.567
2    0.342
3   -0.367
4   -0.474
Name: Excess Return % 7-mo (Treasury_), dtype: float64

In [16]:
df_IG['Excess Return % 8-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(8,win_type='boxcar',center=True).sum().shift(-4)
df_IG["Excess Return % 8-mo (Treasury_)"].head()

0    0.669
1    0.576
2   -0.266
3   -0.580
4   -0.612
Name: Excess Return % 8-mo (Treasury_), dtype: float64

In [22]:
df_IG['Excess Return % 9-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(9,win_type='boxcar',center=True).sum().shift(-4)
df_IG["Excess Return % 9-mo (Treasury_)"].head()

0    0.678
1   -0.032
2   -0.479
3   -0.718
4   -1.019
Name: Excess Return % 9-mo (Treasury_), dtype: float64

In [24]:
df_IG['Excess Return % 10-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(10,win_type='boxcar',center=True).sum().shift(-5)
df_IG["Excess Return % 10-mo (Treasury_)"].head()

0    0.070
1   -0.245
2   -0.617
3   -1.125
4   -0.774
Name: Excess Return % 10-mo (Treasury_), dtype: float64

In [25]:
df_IG['Excess Return % 11-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(11,win_type='boxcar',center=True).sum().shift(-5)
df_IG["Excess Return % 11-mo (Treasury_)"].head()

0   -0.143
1   -0.383
2   -1.024
3   -0.880
4   -0.510
Name: Excess Return % 11-mo (Treasury_), dtype: float64

In [26]:
df_IG['Excess Return % 12-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(12,win_type='boxcar',center=True).sum().shift(-6)
df_IG["Excess Return % 12-mo (Treasury_)"].head()

0   -0.281
1   -0.790
2   -0.779
3   -0.616
4   -0.410
Name: Excess Return % 12-mo (Treasury_), dtype: float64

In [27]:
df_IG['Excess Return % 13-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(13,win_type='boxcar',center=True).sum().shift(-6)
df_IG["Excess Return % 13-mo (Treasury_)"].head()

0   -0.688
1   -0.545
2   -0.515
3   -0.516
4   -0.289
Name: Excess Return % 13-mo (Treasury_), dtype: float64

In [28]:
df_IG['Excess Return % 14-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(14,win_type='boxcar',center=True).sum().shift(-7)
df_IG["Excess Return % 14-mo (Treasury_)"].head()

0   -0.443
1   -0.281
2   -0.415
3   -0.395
4   -0.547
Name: Excess Return % 14-mo (Treasury_), dtype: float64

In [29]:
df_IG['Excess Return % 15-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(15,win_type='boxcar',center=True).sum().shift(-7)
df_IG["Excess Return % 15-mo (Treasury_)"].head()

0   -0.179
1   -0.181
2   -0.294
3   -0.653
4   -0.896
Name: Excess Return % 15-mo (Treasury_), dtype: float64

In [30]:
df_IG['Excess Return % 16-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(16,win_type='boxcar',center=True).sum().shift(-8)
df_IG["Excess Return % 16-mo (Treasury_)"].head()

0   -0.079
1   -0.060
2   -0.552
3   -1.002
4   -3.896
Name: Excess Return % 16-mo (Treasury_), dtype: float64

In [31]:
df_IG['Excess Return % 17-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(17,win_type='boxcar',center=True).sum().shift(-8)
df_IG["Excess Return % 17-mo (Treasury_)"].head()

0    0.042
1   -0.318
2   -0.901
3   -4.002
4   -3.953
Name: Excess Return % 17-mo (Treasury_), dtype: float64

In [32]:
df_IG['Excess Return % 18-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(18,win_type='boxcar',center=True).sum().shift(-9)
df_IG["Excess Return % 18-mo (Treasury_)"].head()

0   -0.216
1   -0.667
2   -3.901
3   -4.059
4   -4.726
Name: Excess Return % 18-mo (Treasury_), dtype: float64

In [33]:
df_IG['Excess Return % 19-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(19,win_type='boxcar',center=True).sum().shift(-9)
df_IG["Excess Return % 19-mo (Treasury_)"].head()

0   -0.565
1   -3.667
2   -3.958
3   -4.832
4   -3.064
Name: Excess Return % 19-mo (Treasury_), dtype: float64

In [34]:
df_IG['Excess Return % 20-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(20,win_type='boxcar',center=True).sum().shift(-10)
df_IG["Excess Return % 20-mo (Treasury_)"].head()

0   -3.565
1   -3.724
2   -4.731
3   -3.170
4   -2.669
Name: Excess Return % 20-mo (Treasury_), dtype: float64

In [35]:
df_IG['Excess Return % 21-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(21,win_type='boxcar',center=True).sum().shift(-10)
df_IG["Excess Return % 21-mo (Treasury_)"].head()

0   -3.622
1   -4.497
2   -3.069
3   -2.775
4   -2.350
Name: Excess Return % 21-mo (Treasury_), dtype: float64

In [36]:
df_IG['Excess Return % 22-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(22,win_type='boxcar',center=True).sum().shift(-11)
df_IG["Excess Return % 22-mo (Treasury_)"].head()

0   -4.395
1   -2.835
2   -2.674
3   -2.456
4   -1.891
Name: Excess Return % 22-mo (Treasury_), dtype: float64

In [37]:
df_IG['Excess Return % 23-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(23,win_type='boxcar',center=True).sum().shift(-11)
df_IG["Excess Return % 23-mo (Treasury_)"].head()

0   -2.733
1   -2.440
2   -2.355
3   -1.997
4   -1.453
Name: Excess Return % 23-mo (Treasury_), dtype: float64

In [38]:
df_IG['Excess Return % 24-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(24,win_type='boxcar',center=True).sum().shift(-12)
df_IG["Excess Return % 24-mo (Treasury_)"].head()

0   -2.338
1   -2.121
2   -1.896
3   -1.559
4   -1.452
Name: Excess Return % 24-mo (Treasury_), dtype: float64

In [39]:
df_IG['Excess Return % 25-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(25,win_type='boxcar',center=True).sum().shift(-12)
df_IG["Excess Return % 25-mo (Treasury_)"].head()

0   -2.019
1   -1.662
2   -1.458
3   -1.558
4   -1.644
Name: Excess Return % 25-mo (Treasury_), dtype: float64

In [40]:
df_IG['Excess Return % 26-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(26,win_type='boxcar',center=True).sum().shift(-13)
df_IG["Excess Return % 26-mo (Treasury_)"].head()

0   -1.560
1   -1.224
2   -1.457
3   -1.750
4   -1.971
Name: Excess Return % 26-mo (Treasury_), dtype: float64

In [41]:
df_IG['Excess Return % 27-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(27,win_type='boxcar',center=True).sum().shift(-13)
df_IG["Excess Return % 27-mo (Treasury_)"].head()

0   -1.122
1   -1.223
2   -1.649
3   -2.077
4   -2.301
Name: Excess Return % 27-mo (Treasury_), dtype: float64

In [42]:
df_IG['Excess Return % 28-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(28,win_type='boxcar',center=True).sum().shift(-14)
df_IG["Excess Return % 28-mo (Treasury_)"].head()

0   -1.121
1   -1.415
2   -1.976
3   -2.407
4   -2.591
Name: Excess Return % 28-mo (Treasury_), dtype: float64

In [43]:
df_IG['Excess Return % 29-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(29,win_type='boxcar',center=True).sum().shift(-14)
df_IG["Excess Return % 29-mo (Treasury_)"].head()

0   -1.313
1   -1.742
2   -2.306
3   -2.697
4   -2.232
Name: Excess Return % 29-mo (Treasury_), dtype: float64

In [44]:
df_IG['Excess Return % 30-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(30,win_type='boxcar',center=True).sum().shift(-15)
df_IG["Excess Return % 30-mo (Treasury_)"].head()

0   -1.640
1   -2.072
2   -2.596
3   -2.338
4   -1.984
Name: Excess Return % 30-mo (Treasury_), dtype: float64

In [45]:
df_IG['Excess Return % 31-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(31,win_type='boxcar',center=True).sum().shift(-15)
df_IG["Excess Return % 31-mo (Treasury_)"].head()

0   -1.970
1   -2.362
2   -2.237
3   -2.090
4   -1.470
Name: Excess Return % 31-mo (Treasury_), dtype: float64

In [46]:
df_IG['Excess Return % 32-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(32,win_type='boxcar',center=True).sum().shift(-16)
df_IG["Excess Return % 32-mo (Treasury_)"].head()

0   -2.260
1   -2.003
2   -1.989
3   -1.576
4   -1.282
Name: Excess Return % 32-mo (Treasury_), dtype: float64

In [47]:
df_IG['Excess Return % 33-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(33,win_type='boxcar',center=True).sum().shift(-16)
df_IG["Excess Return % 33-mo (Treasury_)"].head()

0   -1.901
1   -1.755
2   -1.475
3   -1.388
4   -1.737
Name: Excess Return % 33-mo (Treasury_), dtype: float64

In [48]:
df_IG['Excess Return % 34-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(34,win_type='boxcar',center=True).sum().shift(-17)
df_IG["Excess Return % 34-mo (Treasury_)"].head()

0   -1.653
1   -1.241
2   -1.287
3   -1.843
4   -2.316
Name: Excess Return % 34-mo (Treasury_), dtype: float64

In [49]:
df_IG['Excess Return % 35-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(35,win_type='boxcar',center=True).sum().shift(-17)
df_IG["Excess Return % 35-mo (Treasury_)"].head()

0   -1.139
1   -1.053
2   -1.742
3   -2.422
4   -3.393
Name: Excess Return % 35-mo (Treasury_), dtype: float64

In [50]:
df_IG['Excess Return % 36-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(36,win_type='boxcar',center=True).sum().shift(-18)
df_IG["Excess Return % 36-mo (Treasury_)"].head()

0   -0.951
1   -1.508
2   -2.321
3   -3.499
4   -4.230
Name: Excess Return % 36-mo (Treasury_), dtype: float64