In [1]:
import numpy as np
import pandas as pd

In [2]:
df_IG = pd.read_excel('minmax_OAS_with_Returns.xlsx', sheet_name="IG")

In [3]:
df_IG.describe()

,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),Excess Return % 9-mo (Treasury),...,Excess Return % 6-mo (Agg).1,Excess Return % 9-mo (Treasury).1,Excess Return % 9-mo (Agg).1,Excess Return % 12-mo (Treasury).1,Excess Return % 12-mo (Agg).1,Excess Return % 24-mo (Treasury).1,Excess Return % 24-mo (Agg).1,Excess Return % 36-mo (Treasury).1,Excess Return % 36-mo (Agg).1,Quadrant
count,279.000000,279.000000,279.000000,279.00000,279.000000,277.000000,277.000000,274.000000,274.000000,270.000000,...,274.000000,270.000000,270.000000,267.000000,267.000000,257.000000,257.000000,245.000000,245.000000,279.00000
mean,153.311828,0.479842,0.428779,0.01881,0.051063,0.142498,0.207539,0.337193,0.441347,0.518056,...,0.505984,0.481026,0.512701,0.510045,0.531783,0.536730,0.524591,0.555810,0.535684,2.55914
std,82.684933,1.539438,0.978524,1.40695,0.907811,2.719385,1.724687,4.019240,2.562217,5.008696,...,0.100017,0.120538,0.119355,0.120856,0.122997,0.134785,0.137815,0.144242,0.152340,1.08418
min,54.000000,-7.474000,-3.361900,-11.14400,-6.958000,-16.909000,-11.261500,-20.274000,-12.520800,-19.470000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000
25%,106.000000,-0.242500,-0.125750,-0.34750,-0.215700,-0.641000,-0.429300,-0.851250,-0.587950,-1.281500,...,0.465805,0.437718,0.460154,0.463808,0.476223,0.485529,0.463914,0.481230,0.436978,2.00000
50%,136.000000,0.536000,0.464200,0.13300,0.093700,0.389000,0.244300,0.320000,0.310550,0.656500,...,0.500878,0.484357,0.508119,0.514723,0.529275,0.536254,0.526679,0.575179,0.561777,3.00000
75%,172.500000,1.299000,1.056350,0.47500,0.391500,1.173000,0.860200,2.006500,1.465850,2.547250,...,0.545976,0.529859,0.566690,0.562349,0.583361,0.585171,0.597708,0.636482,0.624196,3.00000
max,608.000000,5.554000,3.730900,5.37600,3.609700,13.601000,8.681800,19.231000,13.096900,22.083000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.00000

# Data Creation and Wrangling

In [4]:
# This is redundant so we are dropping them
df_IG = df_IG.drop(columns = ['Excess Return % 1-mo (Treasury).1','Excess Return % 1-mo (Agg).1','Excess Return % 3-mo (Treasury).1','Excess Return % 3-mo (Agg).1','Excess Return % 6-mo (Treasury).1','Excess Return % 6-mo (Agg).1','Excess Return % 9-mo (Treasury).1','Excess Return % 9-mo (Agg).1','Excess Return % 12-mo (Treasury).1','Excess Return % 12-mo (Agg).1','Excess Return % 24-mo (Treasury).1','Excess Return % 24-mo (Agg).1','Excess Return % 36-mo (Treasury).1','Excess Return % 36-mo (Agg).1','Unnamed: 18','Date.1','OAS.1','Total Return % 1-mo-LOC.1','Agg Returns.1'])

In [5]:
df_IG['Excess Return % 2-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(2,win_type='boxcar',center=True).sum().shift(-1)
df_IG["Excess Return % 2-mo (Treasury_)"].head()

0    0.336
1    0.335
2   -0.005
3   -0.147
4    0.216
Name: Excess Return % 2-mo (Treasury_), dtype: float64

In [6]:
df_IG['Excess Return % 3-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(3,win_type='boxcar',center=True).sum().shift(-1)
df_IG["Excess Return % 3-mo (Treasury_)"].head()

0    0.437
1    0.229
2   -0.046
3    0.110
4    0.384
Name: Excess Return % 3-mo (Treasury_), dtype: float64

In [7]:
df_IG['Excess Return % 4-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(4,win_type='boxcar',center=True).sum().shift(-2)
df_IG["Excess Return % 4-mo (Treasury_)"].head()

0    0.331
1    0.188
2    0.211
3    0.278
4    0.338
Name: Excess Return % 4-mo (Treasury_), dtype: float64

In [8]:
df_IG['Excess Return % 5-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(5,win_type='boxcar',center=True).sum().shift(-2)
df_IG["Excess Return % 5-mo (Treasury_)"].head()

0    0.290
1    0.445
2    0.379
3    0.232
4    0.347
Name: Excess Return % 5-mo (Treasury_), dtype: float64

In [9]:
df_IG['Excess Return % 6-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(6,win_type='boxcar',center=True).sum().shift(-3)
df_IG["Excess Return % 6-mo (Treasury_)"].head()

0    0.547
1    0.613
2    0.333
3    0.241
4   -0.261
Name: Excess Return % 6-mo (Treasury_), dtype: float64

In [10]:
df_IG['Excess Return % 7-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(7,win_type='boxcar',center=True).sum().shift(-3)
df_IG["Excess Return % 7-mo (Treasury_)"].head()

0    0.715
1    0.567
2    0.342
3   -0.367
4   -0.474
Name: Excess Return % 7-mo (Treasury_), dtype: float64

In [11]:
df_IG['Excess Return % 8-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(8,win_type='boxcar',center=True).sum().shift(-4)
df_IG["Excess Return % 8-mo (Treasury_)"].head()

0    0.669
1    0.576
2   -0.266
3   -0.580
4   -0.612
Name: Excess Return % 8-mo (Treasury_), dtype: float64

In [12]:
df_IG['Excess Return % 9-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(9,win_type='boxcar',center=True).sum().shift(-4)
df_IG["Excess Return % 9-mo (Treasury_)"].head()

0    0.678
1   -0.032
2   -0.479
3   -0.718
4   -1.019
Name: Excess Return % 9-mo (Treasury_), dtype: float64

In [13]:
df_IG['Excess Return % 10-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(10,win_type='boxcar',center=True).sum().shift(-5)
df_IG["Excess Return % 10-mo (Treasury_)"].head()

0    0.070
1   -0.245
2   -0.617
3   -1.125
4   -0.774
Name: Excess Return % 10-mo (Treasury_), dtype: float64

In [14]:
df_IG['Excess Return % 11-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(11,win_type='boxcar',center=True).sum().shift(-5)
df_IG["Excess Return % 11-mo (Treasury_)"].head()

0   -0.143
1   -0.383
2   -1.024
3   -0.880
4   -0.510
Name: Excess Return % 11-mo (Treasury_), dtype: float64

In [15]:
df_IG['Excess Return % 12-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(12,win_type='boxcar',center=True).sum().shift(-6)
df_IG["Excess Return % 12-mo (Treasury_)"].head()

0   -0.281
1   -0.790
2   -0.779
3   -0.616
4   -0.410
Name: Excess Return % 12-mo (Treasury_), dtype: float64

In [16]:
df_IG['Excess Return % 13-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(13,win_type='boxcar',center=True).sum().shift(-6)
df_IG["Excess Return % 13-mo (Treasury_)"].head()

0   -0.688
1   -0.545
2   -0.515
3   -0.516
4   -0.289
Name: Excess Return % 13-mo (Treasury_), dtype: float64

In [17]:
df_IG['Excess Return % 14-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(14,win_type='boxcar',center=True).sum().shift(-7)
df_IG["Excess Return % 14-mo (Treasury_)"].head()

0   -0.443
1   -0.281
2   -0.415
3   -0.395
4   -0.547
Name: Excess Return % 14-mo (Treasury_), dtype: float64

In [18]:
df_IG['Excess Return % 15-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(15,win_type='boxcar',center=True).sum().shift(-7)
df_IG["Excess Return % 15-mo (Treasury_)"].head()

0   -0.179
1   -0.181
2   -0.294
3   -0.653
4   -0.896
Name: Excess Return % 15-mo (Treasury_), dtype: float64

In [19]:
df_IG['Excess Return % 16-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(16,win_type='boxcar',center=True).sum().shift(-8)
df_IG["Excess Return % 16-mo (Treasury_)"].head()

0   -0.079
1   -0.060
2   -0.552
3   -1.002
4   -3.896
Name: Excess Return % 16-mo (Treasury_), dtype: float64

In [20]:
df_IG['Excess Return % 17-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(17,win_type='boxcar',center=True).sum().shift(-8)
df_IG["Excess Return % 17-mo (Treasury_)"].head()

0    0.042
1   -0.318
2   -0.901
3   -4.002
4   -3.953
Name: Excess Return % 17-mo (Treasury_), dtype: float64

In [21]:
df_IG['Excess Return % 18-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(18,win_type='boxcar',center=True).sum().shift(-9)
df_IG["Excess Return % 18-mo (Treasury_)"].head()

0   -0.216
1   -0.667
2   -3.901
3   -4.059
4   -4.726
Name: Excess Return % 18-mo (Treasury_), dtype: float64

In [22]:
df_IG['Excess Return % 19-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(19,win_type='boxcar',center=True).sum().shift(-9)
df_IG["Excess Return % 19-mo (Treasury_)"].head()

0   -0.565
1   -3.667
2   -3.958
3   -4.832
4   -3.064
Name: Excess Return % 19-mo (Treasury_), dtype: float64

In [23]:
df_IG['Excess Return % 20-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(20,win_type='boxcar',center=True).sum().shift(-10)
df_IG["Excess Return % 20-mo (Treasury_)"].head()

0   -3.565
1   -3.724
2   -4.731
3   -3.170
4   -2.669
Name: Excess Return % 20-mo (Treasury_), dtype: float64

In [24]:
df_IG['Excess Return % 21-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(21,win_type='boxcar',center=True).sum().shift(-10)
df_IG["Excess Return % 21-mo (Treasury_)"].head()

0   -3.622
1   -4.497
2   -3.069
3   -2.775
4   -2.350
Name: Excess Return % 21-mo (Treasury_), dtype: float64

In [25]:
df_IG['Excess Return % 22-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(22,win_type='boxcar',center=True).sum().shift(-11)
df_IG["Excess Return % 22-mo (Treasury_)"].head()

0   -4.395
1   -2.835
2   -2.674
3   -2.456
4   -1.891
Name: Excess Return % 22-mo (Treasury_), dtype: float64

In [26]:
df_IG['Excess Return % 23-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(23,win_type='boxcar',center=True).sum().shift(-11)
df_IG["Excess Return % 23-mo (Treasury_)"].head()

0   -2.733
1   -2.440
2   -2.355
3   -1.997
4   -1.453
Name: Excess Return % 23-mo (Treasury_), dtype: float64

In [27]:
df_IG['Excess Return % 24-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(24,win_type='boxcar',center=True).sum().shift(-12)
df_IG["Excess Return % 24-mo (Treasury_)"].head()

0   -2.338
1   -2.121
2   -1.896
3   -1.559
4   -1.452
Name: Excess Return % 24-mo (Treasury_), dtype: float64

In [28]:
df_IG['Excess Return % 25-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(25,win_type='boxcar',center=True).sum().shift(-12)
df_IG["Excess Return % 25-mo (Treasury_)"].head()

0   -2.019
1   -1.662
2   -1.458
3   -1.558
4   -1.644
Name: Excess Return % 25-mo (Treasury_), dtype: float64

In [29]:
df_IG['Excess Return % 26-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(26,win_type='boxcar',center=True).sum().shift(-13)
df_IG["Excess Return % 26-mo (Treasury_)"].head()

0   -1.560
1   -1.224
2   -1.457
3   -1.750
4   -1.971
Name: Excess Return % 26-mo (Treasury_), dtype: float64

In [30]:
df_IG['Excess Return % 27-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(27,win_type='boxcar',center=True).sum().shift(-13)
df_IG["Excess Return % 27-mo (Treasury_)"].head()

0   -1.122
1   -1.223
2   -1.649
3   -2.077
4   -2.301
Name: Excess Return % 27-mo (Treasury_), dtype: float64

In [31]:
df_IG['Excess Return % 28-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(28,win_type='boxcar',center=True).sum().shift(-14)
df_IG["Excess Return % 28-mo (Treasury_)"].head()

0   -1.121
1   -1.415
2   -1.976
3   -2.407
4   -2.591
Name: Excess Return % 28-mo (Treasury_), dtype: float64

In [32]:
df_IG['Excess Return % 29-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(29,win_type='boxcar',center=True).sum().shift(-14)
df_IG["Excess Return % 29-mo (Treasury_)"].head()

0   -1.313
1   -1.742
2   -2.306
3   -2.697
4   -2.232
Name: Excess Return % 29-mo (Treasury_), dtype: float64

In [33]:
df_IG['Excess Return % 30-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(30,win_type='boxcar',center=True).sum().shift(-15)
df_IG["Excess Return % 30-mo (Treasury_)"].head()

0   -1.640
1   -2.072
2   -2.596
3   -2.338
4   -1.984
Name: Excess Return % 30-mo (Treasury_), dtype: float64

In [34]:
df_IG['Excess Return % 31-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(31,win_type='boxcar',center=True).sum().shift(-15)
df_IG["Excess Return % 31-mo (Treasury_)"].head()

0   -1.970
1   -2.362
2   -2.237
3   -2.090
4   -1.470
Name: Excess Return % 31-mo (Treasury_), dtype: float64

In [35]:
df_IG['Excess Return % 32-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(32,win_type='boxcar',center=True).sum().shift(-16)
df_IG["Excess Return % 32-mo (Treasury_)"].head()

0   -2.260
1   -2.003
2   -1.989
3   -1.576
4   -1.282
Name: Excess Return % 32-mo (Treasury_), dtype: float64

In [36]:
df_IG['Excess Return % 33-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(33,win_type='boxcar',center=True).sum().shift(-16)
df_IG["Excess Return % 33-mo (Treasury_)"].head()

0   -1.901
1   -1.755
2   -1.475
3   -1.388
4   -1.737
Name: Excess Return % 33-mo (Treasury_), dtype: float64

In [37]:
df_IG['Excess Return % 34-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(34,win_type='boxcar',center=True).sum().shift(-17)
df_IG["Excess Return % 34-mo (Treasury_)"].head()

0   -1.653
1   -1.241
2   -1.287
3   -1.843
4   -2.316
Name: Excess Return % 34-mo (Treasury_), dtype: float64

In [38]:
df_IG['Excess Return % 35-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(35,win_type='boxcar',center=True).sum().shift(-17)
df_IG["Excess Return % 35-mo (Treasury_)"].head()

0   -1.139
1   -1.053
2   -1.742
3   -2.422
4   -3.393
Name: Excess Return % 35-mo (Treasury_), dtype: float64

In [39]:
df_IG['Excess Return % 36-mo (Treasury_)'] = df_IG['Excess Return % 1-mo (Treasury)'].rolling(36,win_type='boxcar',center=True).sum().shift(-18)
df_IG["Excess Return % 36-mo (Treasury_)"].head()

0   -0.951
1   -1.508
2   -2.321
3   -3.499
4   -4.230
Name: Excess Return % 36-mo (Treasury_), dtype: float64

In [40]:
df_IG.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),...,Excess Return % 27-mo (Treasury_),Excess Return % 28-mo (Treasury_),Excess Return % 29-mo (Treasury_),Excess Return % 30-mo (Treasury_),Excess Return % 31-mo (Treasury_),Excess Return % 32-mo (Treasury_),Excess Return % 33-mo (Treasury_),Excess Return % 34-mo (Treasury_),Excess Return % 35-mo (Treasury_),Excess Return % 36-mo (Treasury_)
0,1997-01-31,61,0.142,0.3062,0.102,-0.1642,0.437,-0.2998,0.547,0.1361,...,-1.122,-1.121,-1.313,-1.640,-1.970,-2.260,-1.901,-1.653,-1.139,-0.951
1,1997-02-28,59,0.255,0.2488,0.234,0.0062,0.229,-0.0155,0.613,1.3050,...,-1.223,-1.415,-1.742,-2.072,-2.362,-2.003,-1.755,-1.241,-1.053,-1.508
2,1997-03-31,57,-1.250,-1.1082,0.101,-0.1418,-0.046,-0.0510,0.333,0.6734,...,-1.649,-1.976,-2.306,-2.596,-2.237,-1.989,-1.475,-1.287,-1.742,-2.321
3,1997-04-30,59,1.617,1.4969,-0.106,0.1201,0.110,0.4359,0.241,1.1644,...,-2.077,-2.407,-2.697,-2.338,-2.090,-1.576,-1.388,-1.843,-2.422,-3.499
4,1997-05-31,61,0.916,0.9453,-0.041,-0.0293,0.384,1.3205,-0.261,1.0106,...,-2.301,-2.591,-2.232,-1.984,-1.470,-1.282,-1.737,-2.316,-3.393,-4.230

# DO the same thing for returns against AGG

In [41]:
df_IG['Excess Return % 2-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(2,win_type='boxcar',center=True).sum().shift(-1)
df_IG["Excess Return % 2-mo (Agg_)"].head()

0   -0.1580
1   -0.1356
2   -0.0217
3    0.0908
4    0.3158
Name: Excess Return % 2-mo (Agg_), dtype: float64

In [42]:
df_IG['Excess Return % 3-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(3,win_type='boxcar',center=True).sum().shift(-1)
df_IG["Excess Return % 3-mo (Agg_)"].head()

0   -0.2998
1   -0.0155
2   -0.0510
3    0.4359
4    1.3205
Name: Excess Return % 3-mo (Agg_), dtype: float64

In [43]:
df_IG['Excess Return % 4-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(4,win_type='boxcar',center=True).sum().shift(-2)
df_IG["Excess Return % 4-mo (Agg_)"].head()

0   -0.1797
1   -0.0448
2    0.2941
3    1.4406
4    0.6951
Name: Excess Return % 4-mo (Agg_), dtype: float64

In [44]:
df_IG['Excess Return % 5-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(5,win_type='boxcar',center=True).sum().shift(-2)
df_IG["Excess Return % 5-mo (Agg_)"].head()

0   -0.2090
1    0.3003
2    1.2988
3    0.8152
4    1.0443
Name: Excess Return % 5-mo (Agg_), dtype: float64

In [45]:
df_IG['Excess Return % 6-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(6,win_type='boxcar',center=True).sum().shift(-3)
df_IG["Excess Return % 6-mo (Agg_)"].head()

0    0.1361
1    1.3050
2    0.6734
3    1.1644
4    1.0106
Name: Excess Return % 6-mo (Agg_), dtype: float64

In [46]:
df_IG['Excess Return % 7-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(7,win_type='boxcar',center=True).sum().shift(-3)
df_IG["Excess Return % 7-mo (Agg_)"].head()

0    1.1408
1    0.6796
2    1.0226
3    1.1307
4    0.8511
Name: Excess Return % 7-mo (Agg_), dtype: float64

In [47]:
df_IG['Excess Return % 8-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(8,win_type='boxcar',center=True).sum().shift(-4)
df_IG["Excess Return % 8-mo (Agg_)"].head()

0    0.5154
1    1.0288
2    0.9889
3    0.9712
4    0.8953
Name: Excess Return % 8-mo (Agg_), dtype: float64

In [48]:
df_IG['Excess Return % 9-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(9,win_type='boxcar',center=True).sum().shift(-4)
df_IG["Excess Return % 9-mo (Agg_)"].head()

0    0.8646
1    0.9951
2    0.8294
3    1.0154
4    0.9305
Name: Excess Return % 9-mo (Agg_), dtype: float64

In [49]:
df_IG['Excess Return % 10-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(10,win_type='boxcar',center=True).sum().shift(-5)
df_IG["Excess Return % 10-mo (Agg_)"].head()

0    0.8309
1    0.8356
2    0.8736
3    1.0506
4    0.8538
Name: Excess Return % 10-mo (Agg_), dtype: float64

In [50]:
df_IG['Excess Return % 11-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(11,win_type='boxcar',center=True).sum().shift(-5)
df_IG["Excess Return % 11-mo (Agg_)"].head()

0    0.6714
1    0.8798
2    0.9088
3    0.9739
4    1.0062
Name: Excess Return % 11-mo (Agg_), dtype: float64

In [51]:
df_IG['Excess Return % 12-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(12,win_type='boxcar',center=True).sum().shift(-6)
df_IG["Excess Return % 12-mo (Agg_)"].head()

0    0.7156
1    0.9150
2    0.8321
3    1.1263
4    0.9952
Name: Excess Return % 12-mo (Agg_), dtype: float64

In [52]:
df_IG['Excess Return % 13-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(13,win_type='boxcar',center=True).sum().shift(-6)
df_IG["Excess Return % 13-mo (Agg_)"].head()

0    0.7508
1    0.8383
2    0.9845
3    1.1153
4    1.3116
Name: Excess Return % 13-mo (Agg_), dtype: float64

In [53]:
df_IG['Excess Return % 14-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(14,win_type='boxcar',center=True).sum().shift(-7)
df_IG["Excess Return % 14-mo (Agg_)"].head()

0    0.6741
1    0.9907
2    0.9735
3    1.4317
4    1.3255
Name: Excess Return % 14-mo (Agg_), dtype: float64

In [54]:
df_IG['Excess Return % 15-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(15,win_type='boxcar',center=True).sum().shift(-7)
df_IG["Excess Return % 15-mo (Agg_)"].head()

0    0.8265
1    0.9797
2    1.2899
3    1.4456
4    1.0318
Name: Excess Return % 15-mo (Agg_), dtype: float64

In [55]:
df_IG['Excess Return % 16-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(16,win_type='boxcar',center=True).sum().shift(-8)
df_IG["Excess Return % 16-mo (Agg_)"].head()

0    0.8155
1    1.2961
2    1.3038
3    1.1519
4   -0.4536
Name: Excess Return % 16-mo (Agg_), dtype: float64

In [56]:
df_IG['Excess Return % 17-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(17,win_type='boxcar',center=True).sum().shift(-8)
df_IG["Excess Return % 17-mo (Agg_)"].head()

0    1.1319
1    1.3100
2    1.0101
3   -0.3335
4    0.3108
Name: Excess Return % 17-mo (Agg_), dtype: float64

In [57]:
df_IG['Excess Return % 18-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(18,win_type='boxcar',center=True).sum().shift(-9)
df_IG["Excess Return % 18-mo (Agg_)"].head()

0    1.1458
1    1.0163
2   -0.4753
3    0.4309
4   -0.3157
Name: Excess Return % 18-mo (Agg_), dtype: float64

In [58]:
df_IG['Excess Return % 19-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(19,win_type='boxcar',center=True).sum().shift(-9)
df_IG["Excess Return % 19-mo (Agg_)"].head()

0    0.8521
1   -0.4691
2    0.2891
3   -0.1956
4    0.6600
Name: Excess Return % 19-mo (Agg_), dtype: float64

In [59]:
df_IG['Excess Return % 20-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(20,win_type='boxcar',center=True).sum().shift(-10)
df_IG["Excess Return % 20-mo (Agg_)"].head()

0   -0.6333
1    0.2953
2   -0.3374
3    0.7801
4    0.9543
Name: Excess Return % 20-mo (Agg_), dtype: float64

In [60]:
df_IG['Excess Return % 21-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(21,win_type='boxcar',center=True).sum().shift(-10)
df_IG["Excess Return % 21-mo (Agg_)"].head()

0    0.1311
1   -0.3312
2    0.6383
3    1.0744
4    1.2626
Name: Excess Return % 21-mo (Agg_), dtype: float64

In [61]:
df_IG['Excess Return % 22-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(22,win_type='boxcar',center=True).sum().shift(-11)
df_IG["Excess Return % 22-mo (Agg_)"].head()

0   -0.4954
1    0.6445
2    0.9326
3    1.3827
4    0.4483
Name: Excess Return % 22-mo (Agg_), dtype: float64

In [62]:
df_IG['Excess Return % 23-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(23,win_type='boxcar',center=True).sum().shift(-11)
df_IG["Excess Return % 23-mo (Agg_)"].head()

0    0.4803
1    0.9388
2    1.2409
3    0.5684
4    0.8031
Name: Excess Return % 23-mo (Agg_), dtype: float64

In [63]:
df_IG['Excess Return % 24-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(24,win_type='boxcar',center=True).sum().shift(-12)
df_IG["Excess Return % 24-mo (Agg_)"].head()

0    0.7746
1    1.2471
2    0.4266
3    0.9232
4    0.8333
Name: Excess Return % 24-mo (Agg_), dtype: float64

In [64]:
df_IG['Excess Return % 25-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(25,win_type='boxcar',center=True).sum().shift(-12)
df_IG["Excess Return % 25-mo (Agg_)"].head()

0    1.0829
1    0.4328
2    0.7814
3    0.9534
4    0.2622
Name: Excess Return % 25-mo (Agg_), dtype: float64

In [65]:
df_IG['Excess Return % 26-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(26,win_type='boxcar',center=True).sum().shift(-13)
df_IG["Excess Return % 26-mo (Agg_)"].head()

0    0.2686
1    0.7876
2    0.8116
3    0.3823
4    0.0878
Name: Excess Return % 26-mo (Agg_), dtype: float64

In [66]:
df_IG['Excess Return % 27-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(27,win_type='boxcar',center=True).sum().shift(-13)
df_IG["Excess Return % 27-mo (Agg_)"].head()

0    0.6234
1    0.8178
2    0.2405
3    0.2079
4   -0.0715
Name: Excess Return % 27-mo (Agg_), dtype: float64

In [67]:
df_IG['Excess Return % 28-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(28,win_type='boxcar',center=True).sum().shift(-14)
df_IG["Excess Return % 28-mo (Agg_)"].head()

0    0.6536
1    0.2467
2    0.0661
3    0.0486
4   -0.2776
Name: Excess Return % 28-mo (Agg_), dtype: float64

In [68]:
df_IG['Excess Return % 29-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(29,win_type='boxcar',center=True).sum().shift(-14)
df_IG["Excess Return % 29-mo (Agg_)"].head()

0    0.0825
1    0.0723
2   -0.0932
3   -0.1575
4   -0.3045
Name: Excess Return % 29-mo (Agg_), dtype: float64

In [69]:
df_IG['Excess Return % 30-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(30,win_type='boxcar',center=True).sum().shift(-15)
df_IG["Excess Return % 30-mo (Agg_)"].head()

0   -0.0919
1   -0.0870
2   -0.2993
3   -0.1844
4   -0.3625
Name: Excess Return % 30-mo (Agg_), dtype: float64

In [70]:
df_IG['Excess Return % 31-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(31,win_type='boxcar',center=True).sum().shift(-15)
df_IG["Excess Return % 31-mo (Agg_)"].head()

0   -0.2512
1   -0.2931
2   -0.3262
3   -0.2424
4   -0.2173
Name: Excess Return % 31-mo (Agg_), dtype: float64

In [71]:
df_IG['Excess Return % 32-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(32,win_type='boxcar',center=True).sum().shift(-16)
df_IG["Excess Return % 32-mo (Agg_)"].head()

0   -0.4573
1   -0.3200
2   -0.3842
3   -0.0972
4   -0.0931
Name: Excess Return % 32-mo (Agg_), dtype: float64

In [72]:
df_IG['Excess Return % 33-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(33,win_type='boxcar',center=True).sum().shift(-16)
df_IG["Excess Return % 33-mo (Agg_)"].head()

0   -0.4842
1   -0.3780
2   -0.2390
3    0.0270
4   -0.1007
Name: Excess Return % 33-mo (Agg_), dtype: float64

In [73]:
df_IG['Excess Return % 34-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(34,win_type='boxcar',center=True).sum().shift(-17)
df_IG["Excess Return % 34-mo (Agg_)"].head()

0   -0.5422
1   -0.2328
2   -0.1148
3    0.0194
4   -0.5361
Name: Excess Return % 34-mo (Agg_), dtype: float64

In [74]:
df_IG['Excess Return % 35-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(35,win_type='boxcar',center=True).sum().shift(-17)
df_IG["Excess Return % 35-mo (Agg_)"].head()

0   -0.3970
1   -0.1086
2   -0.1224
3   -0.4160
4   -0.7445
Name: Excess Return % 35-mo (Agg_), dtype: float64

In [75]:
df_IG['Excess Return % 36-mo (Agg_)'] = df_IG['Excess Return % 1-mo (Agg)'].rolling(36,win_type='boxcar',center=True).sum().shift(-18)
df_IG["Excess Return % 36-mo (Agg_)"].head()

0   -0.2728
1   -0.1162
2   -0.5578
3   -0.6244
4   -1.6942
Name: Excess Return % 36-mo (Agg_), dtype: float64

In [76]:
df_IG.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 3-mo (Treasury),Excess Return % 3-mo (Agg),Excess Return % 6-mo (Treasury),Excess Return % 6-mo (Agg),...,Excess Return % 27-mo (Agg_),Excess Return % 28-mo (Agg_),Excess Return % 29-mo (Agg_),Excess Return % 30-mo (Agg_),Excess Return % 31-mo (Agg_),Excess Return % 32-mo (Agg_),Excess Return % 33-mo (Agg_),Excess Return % 34-mo (Agg_),Excess Return % 35-mo (Agg_),Excess Return % 36-mo (Agg_)
0,1997-01-31,61,0.142,0.3062,0.102,-0.1642,0.437,-0.2998,0.547,0.1361,...,0.6234,0.6536,0.0825,-0.0919,-0.2512,-0.4573,-0.4842,-0.5422,-0.3970,-0.2728
1,1997-02-28,59,0.255,0.2488,0.234,0.0062,0.229,-0.0155,0.613,1.3050,...,0.8178,0.2467,0.0723,-0.0870,-0.2931,-0.3200,-0.3780,-0.2328,-0.1086,-0.1162
2,1997-03-31,57,-1.250,-1.1082,0.101,-0.1418,-0.046,-0.0510,0.333,0.6734,...,0.2405,0.0661,-0.0932,-0.2993,-0.3262,-0.3842,-0.2390,-0.1148,-0.1224,-0.5578
3,1997-04-30,59,1.617,1.4969,-0.106,0.1201,0.110,0.4359,0.241,1.1644,...,0.2079,0.0486,-0.1575,-0.1844,-0.2424,-0.0972,0.0270,0.0194,-0.4160,-0.6244
4,1997-05-31,61,0.916,0.9453,-0.041,-0.0293,0.384,1.3205,-0.261,1.0106,...,-0.0715,-0.2776,-0.3045,-0.3625,-0.2173,-0.0931,-0.1007,-0.5361,-0.7445,-1.6942

In [77]:
df_IG = df_IG.drop(columns = ['Excess Return % 3-mo (Treasury)','Excess Return % 3-mo (Agg)','Excess Return % 6-mo (Treasury)','Excess Return % 6-mo (Agg)','Excess Return % 9-mo (Treasury)','Excess Return % 9-mo (Agg)','Excess Return % 12-mo (Treasury)','Excess Return % 12-mo (Agg)','Excess Return % 24-mo (Treasury)','Excess Return % 24-mo (Agg)','Excess Return % 36-mo (Treasury)','Excess Return % 36-mo (Agg)'])
df_IG.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Quadrant,Excess Return % 2-mo (Treasury_),Excess Return % 3-mo (Treasury_),Excess Return % 4-mo (Treasury_),...,Excess Return % 27-mo (Agg_),Excess Return % 28-mo (Agg_),Excess Return % 29-mo (Agg_),Excess Return % 30-mo (Agg_),Excess Return % 31-mo (Agg_),Excess Return % 32-mo (Agg_),Excess Return % 33-mo (Agg_),Excess Return % 34-mo (Agg_),Excess Return % 35-mo (Agg_),Excess Return % 36-mo (Agg_)
0,1997-01-31,61,0.142,0.3062,0.102,-0.1642,4,0.336,0.437,0.331,...,0.6234,0.6536,0.0825,-0.0919,-0.2512,-0.4573,-0.4842,-0.5422,-0.3970,-0.2728
1,1997-02-28,59,0.255,0.2488,0.234,0.0062,4,0.335,0.229,0.188,...,0.8178,0.2467,0.0723,-0.0870,-0.2931,-0.3200,-0.3780,-0.2328,-0.1086,-0.1162
2,1997-03-31,57,-1.250,-1.1082,0.101,-0.1418,4,-0.005,-0.046,0.211,...,0.2405,0.0661,-0.0932,-0.2993,-0.3262,-0.3842,-0.2390,-0.1148,-0.1224,-0.5578
3,1997-04-30,59,1.617,1.4969,-0.106,0.1201,4,-0.147,0.110,0.278,...,0.2079,0.0486,-0.1575,-0.1844,-0.2424,-0.0972,0.0270,0.0194,-0.4160,-0.6244
4,1997-05-31,61,0.916,0.9453,-0.041,-0.0293,4,0.216,0.384,0.338,...,-0.0715,-0.2776,-0.3045,-0.3625,-0.2173,-0.0931,-0.1007,-0.5361,-0.7445,-1.6942

In [78]:
df_IG.info() #

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 77 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               279 non-null    datetime64[ns]
 1   OAS                                279 non-null    int64
 2   Total Return % 1-mo-LOC            279 non-null    float64
 3   Agg Returns                        279 non-null    float64
 4   Excess Return % 1-mo (Treasury)    279 non-null    float64
 5   Excess Return % 1-mo (Agg)         279 non-null    float64
 6   Quadrant                           279 non-null    int64
 7   Excess Return % 2-mo (Treasury_)   278 non-null    float64
 8   Excess Return % 3-mo (Treasury_)   277 non-null    float64
 9   Excess Return % 4-mo (Treasury_)   276 non-null    float64
 10  Excess Return % 5-mo (Treasury_)   275 non-null    float64
 11  Excess Return % 6-mo (Treasury_)   274 non-null    float64
 12  Excess Return % 7-mo (Treasury_)   273 non-null    float64
 13  Excess Return % 8-mo (Treasury_)   272 non-null    float64
 14  Excess Return % 9-mo (Treasury_)   271 non-null    float64
 15  Excess Return % 10-mo (Treasury_)  270 non-null    float64
 16  Excess Return % 11-mo (Treasury_)  269 non-null    float64
 17  Excess Return % 12-mo (Treasury_)  268 non-null    float64
 18  Excess Return % 13-mo (Treasury_)  267 non-null    float64
 19  Excess Return % 14-mo (Treasury_)  266 non-null    float64
 20  Excess Return % 15-mo (Treasury_)  265 non-null    float64
 21  Excess Return % 16-mo (Treasury_)  264 non-null    float64
 22  Excess Return % 17-mo (Treasury_)  263 non-null    float64
 23  Excess Return % 18-mo (Treasury_)  262 non-null    float64
 24  Excess Return % 19-mo (Treasury_)  261 non-null    float64
 25  Excess Return % 20-mo (Treasury_)  260 non-null    float64
 26  Excess Return % 21-mo (Treasury_)  259 non-null    float64
 27  Excess Return % 22-mo (Treasury_)  258 non-null    float64
 28  Excess Return % 23-mo (Treasury_)  257 non-null    float64
 29  Excess Return % 24-mo (Treasury_)  256 non-null    float64
 30  Excess Return % 25-mo (Treasury_)  255 non-null    float64
 31  Excess Return % 26-mo (Treasury_)  254 non-null    float64
 32  Excess Return % 27-mo (Treasury_)  253 non-null    float64
 33  Excess Return % 28-mo (Treasury_)  252 non-null    float64
 34  Excess Return % 29-mo (Treasury_)  251 non-null    float64
 35  Excess Return % 30-mo (Treasury_)  250 non-null    float64
 36  Excess Return % 31-mo (Treasury_)  249 non-null    float64
 37  Excess Return % 32-mo (Treasury_)  248 non-null    float64
 38  Excess Return % 33-mo (Treasury_)  247 non-null    float64
 39  Excess Return % 34-mo (Treasury_)  246 non-null    float64
 40  Excess Return % 35-mo (Treasury_)  245 non-null    float64
 41  Excess Return % 36-mo (Treasury_)  244 non-null    float64
 42  Excess Return % 2-mo (Agg_)        278 non-null    float64
 43  Excess Return % 3-mo (Agg_)        277 non-null    float64
 44  Excess Return % 4-mo (Agg_)        276 non-null    float64
 45  Excess Return % 5-mo (Agg_)        275 non-null    float64
 46  Excess Return % 6-mo (Agg_)        274 non-null    float64
 47  Excess Return % 7-mo (Agg_)        273 non-null    float64
 48  Excess Return % 8-mo (Agg_)        272 non-null    float64
 49  Excess Return % 9-mo (Agg_)        271 non-null    float64
 50  Excess Return % 10-mo (Agg_)       270 non-null    float64
 51  Excess Return % 11-mo (Agg_)       269 non-null    float64
 52  Excess Return % 12-mo (Agg_)       268 non-null    float64
 53  Excess Return % 13-mo (Agg_)       267 non-null    float64
 54  Excess Return % 14-mo (Agg_)       266 non-null    float64
 55  Excess Return % 15-mo (Agg_)       265 non-null    float64
 56  Excess Return % 16-mo (Agg_)       264 non-null    float64
 57  Excess Return % 17-mo (Agg_)       263 non-null    float64
 58  Excess Return % 18-mo (Agg_)       262 non-null    float64
 59  Excess Return % 19-mo (Agg_)       261 non-null    float64
 60  Excess Return % 20-mo (Agg_)       260 non-null    float64
 61  Excess Return % 21-mo (Agg_)       259 non-null    float64
 62  Excess Return % 22-mo (Agg_)       258 non-null    float64
 63  Excess Return % 23-mo (Agg_)       257 non-null    float64
 64  Excess Return % 24-mo (Agg_)       256 non-null    float64
 65  Excess Return % 25-mo (Agg_)       255 non-null    float64
 66  Excess Return % 26-mo (Agg_)       254 non-null    float64
 67  Excess Return % 27-mo (Agg_)       253 non-null    float64
 68  Excess Return % 28-mo (Agg_)       252 non-null    float64
 69  Excess Return % 29-mo (Agg_)       251 non-null    float64
 70  Excess Return % 30-mo (Agg_)       250 non-null    float64
 71  Excess Return % 31-mo (Agg_)       249 non-null    float64
 72  Excess Return % 32-mo (Agg_)       248 non-null    float64
 73  Excess Return % 33-mo (Agg_)       247 non-null    float64
 74  Excess Return % 34-mo (Agg_)       246 non-null    float64
 75  Excess Return % 35-mo (Agg_)       245 non-null    float64
 76  Excess Return % 36-mo (Agg_)       244 non-null    float64
dtypes: datetime64[ns](1), float64(74), int64(2)
memory usage: 168.0 KB

# Now, lets get rid of outliers

In [79]:
# OAS Outlier Adjustment
#q1 = df_IG["OAS"].quantile(0.25)
#q3 = df_IG["OAS"].quantile(0.75)

#iqr = q3 - q1

#lower_bound = q1 -(1.5 * iqr) 
#upper_bound = q3 +(1.5 * iqr)

#df_IG = df_IG[(df_IG['OAS'] > lower_bound) & (df_IG['OAS'] < upper_bound)] # gets rid of outliers

In [80]:
#print(lower_bound) # any value less than this will not be in the sample

In [81]:
#print(upper_bound) # any value greater than this will not be in the sample

In [82]:
#df_IG.describe()

In [83]:
#df_IG.describe()

In [84]:
#df_IG.head()

# Time to Normalize our data, we use min/max scale

In [85]:
df_IG['OAS'] = pd.to_numeric(df_IG['OAS'],errors='coerce') # converting back to float64 for normalize

#df_IG = df_IG.drop(columns = ['Date','Quadrant']) # dropping these so we can normalize (all variables must be floats)

df_IG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 77 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               279 non-null    datetime64[ns]
 1   OAS                                279 non-null    int64
 2   Total Return % 1-mo-LOC            279 non-null    float64
 3   Agg Returns                        279 non-null    float64
 4   Excess Return % 1-mo (Treasury)    279 non-null    float64
 5   Excess Return % 1-mo (Agg)         279 non-null    float64
 6   Quadrant                           279 non-null    int64
 7   Excess Return % 2-mo (Treasury_)   278 non-null    float64
 8   Excess Return % 3-mo (Treasury_)   277 non-null    float64
 9   Excess Return % 4-mo (Treasury_)   276 non-null    float64
 10  Excess Return % 5-mo (Treasury_)   275 non-null    float64
 11  Excess Return % 6-mo (Treasury_)   274 non-null    float64
 12  Excess Return % 7-mo (Treasury_)   273 non-null    float64
 13  Excess Return % 8-mo (Treasury_)   272 non-null    float64
 14  Excess Return % 9-mo (Treasury_)   271 non-null    float64
 15  Excess Return % 10-mo (Treasury_)  270 non-null    float64
 16  Excess Return % 11-mo (Treasury_)  269 non-null    float64
 17  Excess Return % 12-mo (Treasury_)  268 non-null    float64
 18  Excess Return % 13-mo (Treasury_)  267 non-null    float64
 19  Excess Return % 14-mo (Treasury_)  266 non-null    float64
 20  Excess Return % 15-mo (Treasury_)  265 non-null    float64
 21  Excess Return % 16-mo (Treasury_)  264 non-null    float64
 22  Excess Return % 17-mo (Treasury_)  263 non-null    float64
 23  Excess Return % 18-mo (Treasury_)  262 non-null    float64
 24  Excess Return % 19-mo (Treasury_)  261 non-null    float64
 25  Excess Return % 20-mo (Treasury_)  260 non-null    float64
 26  Excess Return % 21-mo (Treasury_)  259 non-null    float64
 27  Excess Return % 22-mo (Treasury_)  258 non-null    float64
 28  Excess Return % 23-mo (Treasury_)  257 non-null    float64
 29  Excess Return % 24-mo (Treasury_)  256 non-null    float64
 30  Excess Return % 25-mo (Treasury_)  255 non-null    float64
 31  Excess Return % 26-mo (Treasury_)  254 non-null    float64
 32  Excess Return % 27-mo (Treasury_)  253 non-null    float64
 33  Excess Return % 28-mo (Treasury_)  252 non-null    float64
 34  Excess Return % 29-mo (Treasury_)  251 non-null    float64
 35  Excess Return % 30-mo (Treasury_)  250 non-null    float64
 36  Excess Return % 31-mo (Treasury_)  249 non-null    float64
 37  Excess Return % 32-mo (Treasury_)  248 non-null    float64
 38  Excess Return % 33-mo (Treasury_)  247 non-null    float64
 39  Excess Return % 34-mo (Treasury_)  246 non-null    float64
 40  Excess Return % 35-mo (Treasury_)  245 non-null    float64
 41  Excess Return % 36-mo (Treasury_)  244 non-null    float64
 42  Excess Return % 2-mo (Agg_)        278 non-null    float64
 43  Excess Return % 3-mo (Agg_)        277 non-null    float64
 44  Excess Return % 4-mo (Agg_)        276 non-null    float64
 45  Excess Return % 5-mo (Agg_)        275 non-null    float64
 46  Excess Return % 6-mo (Agg_)        274 non-null    float64
 47  Excess Return % 7-mo (Agg_)        273 non-null    float64
 48  Excess Return % 8-mo (Agg_)        272 non-null    float64
 49  Excess Return % 9-mo (Agg_)        271 non-null    float64
 50  Excess Return % 10-mo (Agg_)       270 non-null    float64
 51  Excess Return % 11-mo (Agg_)       269 non-null    float64
 52  Excess Return % 12-mo (Agg_)       268 non-null    float64
 53  Excess Return % 13-mo (Agg_)       267 non-null    float64
 54  Excess Return % 14-mo (Agg_)       266 non-null    float64
 55  Excess Return % 15-mo (Agg_)       265 non-null    float64
 56  Excess Return % 16-mo (Agg_)       264 non-null    float64
 57  Excess Return % 17-mo (Agg_)       263 non-null    float64
 58  Excess Return % 18-mo (Agg_)       262 non-null    float64
 59  Excess Return % 19-mo (Agg_)       261 non-null    float64
 60  Excess Return % 20-mo (Agg_)       260 non-null    float64
 61  Excess Return % 21-mo (Agg_)       259 non-null    float64
 62  Excess Return % 22-mo (Agg_)       258 non-null    float64
 63  Excess Return % 23-mo (Agg_)       257 non-null    float64
 64  Excess Return % 24-mo (Agg_)       256 non-null    float64
 65  Excess Return % 25-mo (Agg_)       255 non-null    float64
 66  Excess Return % 26-mo (Agg_)       254 non-null    float64
 67  Excess Return % 27-mo (Agg_)       253 non-null    float64
 68  Excess Return % 28-mo (Agg_)       252 non-null    float64
 69  Excess Return % 29-mo (Agg_)       251 non-null    float64
 70  Excess Return % 30-mo (Agg_)       250 non-null    float64
 71  Excess Return % 31-mo (Agg_)       249 non-null    float64
 72  Excess Return % 32-mo (Agg_)       248 non-null    float64
 73  Excess Return % 33-mo (Agg_)       247 non-null    float64
 74  Excess Return % 34-mo (Agg_)       246 non-null    float64
 75  Excess Return % 35-mo (Agg_)       245 non-null    float64
 76  Excess Return % 36-mo (Agg_)       244 non-null    float64
dtypes: datetime64[ns](1), float64(74), int64(2)
memory usage: 168.0 KB

In [86]:
df_IG.head()

,Date,OAS,Total Return % 1-mo-LOC,Agg Returns,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Quadrant,Excess Return % 2-mo (Treasury_),Excess Return % 3-mo (Treasury_),Excess Return % 4-mo (Treasury_),...,Excess Return % 27-mo (Agg_),Excess Return % 28-mo (Agg_),Excess Return % 29-mo (Agg_),Excess Return % 30-mo (Agg_),Excess Return % 31-mo (Agg_),Excess Return % 32-mo (Agg_),Excess Return % 33-mo (Agg_),Excess Return % 34-mo (Agg_),Excess Return % 35-mo (Agg_),Excess Return % 36-mo (Agg_)
0,1997-01-31,61,0.142,0.3062,0.102,-0.1642,4,0.336,0.437,0.331,...,0.6234,0.6536,0.0825,-0.0919,-0.2512,-0.4573,-0.4842,-0.5422,-0.3970,-0.2728
1,1997-02-28,59,0.255,0.2488,0.234,0.0062,4,0.335,0.229,0.188,...,0.8178,0.2467,0.0723,-0.0870,-0.2931,-0.3200,-0.3780,-0.2328,-0.1086,-0.1162
2,1997-03-31,57,-1.250,-1.1082,0.101,-0.1418,4,-0.005,-0.046,0.211,...,0.2405,0.0661,-0.0932,-0.2993,-0.3262,-0.3842,-0.2390,-0.1148,-0.1224,-0.5578
3,1997-04-30,59,1.617,1.4969,-0.106,0.1201,4,-0.147,0.110,0.278,...,0.2079,0.0486,-0.1575,-0.1844,-0.2424,-0.0972,0.0270,0.0194,-0.4160,-0.6244
4,1997-05-31,61,0.916,0.9453,-0.041,-0.0293,4,0.216,0.384,0.338,...,-0.0715,-0.2776,-0.3045,-0.3625,-0.2173,-0.0931,-0.1007,-0.5361,-0.7445,-1.6942

In [87]:
# For P-value analysis we don't need these
df_IG = df_IG.drop(columns = ['Date', 'Quadrant', 'Agg Returns', 'Total Return % 1-mo-LOC'])

q1 = df_IG.quantile(0.25)
q3 = df_IG.quantile(0.75)

iqr = q3 - q1

lower_bound = q1 -(1.5 * iqr) 
upper_bound = q3 +(1.5 * iqr)

print(lower_bound)
print(upper_bound)

df_IG = df_IG[(df_IG > lower_bound) & (df_IG < upper_bound)] # gets rid of outliers on both return side and OAS side

OAS                                  6.250000
Excess Return % 1-mo (Treasury)     -1.581250
Excess Return % 1-mo (Agg)          -1.126500
Excess Return % 2-mo (Treasury_)    -2.588375
Excess Return % 3-mo (Treasury_)    -3.362000
                                      ...
Excess Return % 32-mo (Agg_)        -9.306600
Excess Return % 33-mo (Agg_)        -9.641275
Excess Return % 34-mo (Agg_)        -9.640963
Excess Return % 35-mo (Agg_)       -10.413300
Excess Return % 36-mo (Agg_)       -10.655862
Length: 73, dtype: float64
OAS                                 272.250000
Excess Return % 1-mo (Treasury)       1.708750
Excess Return % 1-mo (Agg)            1.302300
Excess Return % 2-mo (Treasury_)      2.930625
Excess Return % 3-mo (Treasury_)      3.894000
                                       ...
Excess Return % 32-mo (Agg_)         13.844000
Excess Return % 33-mo (Agg_)         14.051325
Excess Return % 34-mo (Agg_)         14.173738
Excess Return % 35-mo (Agg_)         15.286700
Excess Return % 36-mo (Agg_)         15.564837
Length: 73, dtype: float64

In [88]:
df_IG.head()

,OAS,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 2-mo (Treasury_),Excess Return % 3-mo (Treasury_),Excess Return % 4-mo (Treasury_),Excess Return % 5-mo (Treasury_),Excess Return % 6-mo (Treasury_),Excess Return % 7-mo (Treasury_),Excess Return % 8-mo (Treasury_),...,Excess Return % 27-mo (Agg_),Excess Return % 28-mo (Agg_),Excess Return % 29-mo (Agg_),Excess Return % 30-mo (Agg_),Excess Return % 31-mo (Agg_),Excess Return % 32-mo (Agg_),Excess Return % 33-mo (Agg_),Excess Return % 34-mo (Agg_),Excess Return % 35-mo (Agg_),Excess Return % 36-mo (Agg_)
0,61.0,0.102,-0.1642,0.336,0.437,0.331,0.290,0.547,0.715,0.669,...,0.6234,0.6536,0.0825,-0.0919,-0.2512,-0.4573,-0.4842,-0.5422,-0.3970,-0.2728
1,59.0,0.234,0.0062,0.335,0.229,0.188,0.445,0.613,0.567,0.576,...,0.8178,0.2467,0.0723,-0.0870,-0.2931,-0.3200,-0.3780,-0.2328,-0.1086,-0.1162
2,57.0,0.101,-0.1418,-0.005,-0.046,0.211,0.379,0.333,0.342,-0.266,...,0.2405,0.0661,-0.0932,-0.2993,-0.3262,-0.3842,-0.2390,-0.1148,-0.1224,-0.5578
3,59.0,-0.106,0.1201,-0.147,0.110,0.278,0.232,0.241,-0.367,-0.580,...,0.2079,0.0486,-0.1575,-0.1844,-0.2424,-0.0972,0.0270,0.0194,-0.4160,-0.6244
4,61.0,-0.041,-0.0293,0.216,0.384,0.338,0.347,-0.261,-0.474,-0.612,...,-0.0715,-0.2776,-0.3045,-0.3625,-0.2173,-0.0931,-0.1007,-0.5361,-0.7445,-1.6942

In [89]:
df_IG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 73 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   OAS                                265 non-null    float64
 1   Excess Return % 1-mo (Treasury)    249 non-null    float64
 2   Excess Return % 1-mo (Agg)         256 non-null    float64
 3   Excess Return % 2-mo (Treasury_)   254 non-null    float64
 4   Excess Return % 3-mo (Treasury_)   252 non-null    float64
 5   Excess Return % 4-mo (Treasury_)   257 non-null    float64
 6   Excess Return % 5-mo (Treasury_)   253 non-null    float64
 7   Excess Return % 6-mo (Treasury_)   253 non-null    float64
 8   Excess Return % 7-mo (Treasury_)   253 non-null    float64
 9   Excess Return % 8-mo (Treasury_)   251 non-null    float64
 10  Excess Return % 9-mo (Treasury_)   250 non-null    float64
 11  Excess Return % 10-mo (Treasury_)  248 non-null    float64
 12  Excess Return % 11-mo (Treasury_)  249 non-null    float64
 13  Excess Return % 12-mo (Treasury_)  249 non-null    float64
 14  Excess Return % 13-mo (Treasury_)  247 non-null    float64
 15  Excess Return % 14-mo (Treasury_)  245 non-null    float64
 16  Excess Return % 15-mo (Treasury_)  245 non-null    float64
 17  Excess Return % 16-mo (Treasury_)  243 non-null    float64
 18  Excess Return % 17-mo (Treasury_)  241 non-null    float64
 19  Excess Return % 18-mo (Treasury_)  241 non-null    float64
 20  Excess Return % 19-mo (Treasury_)  241 non-null    float64
 21  Excess Return % 20-mo (Treasury_)  240 non-null    float64
 22  Excess Return % 21-mo (Treasury_)  238 non-null    float64
 23  Excess Return % 22-mo (Treasury_)  236 non-null    float64
 24  Excess Return % 23-mo (Treasury_)  235 non-null    float64
 25  Excess Return % 24-mo (Treasury_)  235 non-null    float64
 26  Excess Return % 25-mo (Treasury_)  235 non-null    float64
 27  Excess Return % 26-mo (Treasury_)  234 non-null    float64
 28  Excess Return % 27-mo (Treasury_)  234 non-null    float64
 29  Excess Return % 28-mo (Treasury_)  232 non-null    float64
 30  Excess Return % 29-mo (Treasury_)  232 non-null    float64
 31  Excess Return % 30-mo (Treasury_)  232 non-null    float64
 32  Excess Return % 31-mo (Treasury_)  232 non-null    float64
 33  Excess Return % 32-mo (Treasury_)  233 non-null    float64
 34  Excess Return % 33-mo (Treasury_)  230 non-null    float64
 35  Excess Return % 34-mo (Treasury_)  230 non-null    float64
 36  Excess Return % 35-mo (Treasury_)  230 non-null    float64
 37  Excess Return % 36-mo (Treasury_)  228 non-null    float64
 38  Excess Return % 2-mo (Agg_)        260 non-null    float64
 39  Excess Return % 3-mo (Agg_)        264 non-null    float64
 40  Excess Return % 4-mo (Agg_)        262 non-null    float64
 41  Excess Return % 5-mo (Agg_)        260 non-null    float64
 42  Excess Return % 6-mo (Agg_)        256 non-null    float64
 43  Excess Return % 7-mo (Agg_)        255 non-null    float64
 44  Excess Return % 8-mo (Agg_)        253 non-null    float64
 45  Excess Return % 9-mo (Agg_)        254 non-null    float64
 46  Excess Return % 10-mo (Agg_)       252 non-null    float64
 47  Excess Return % 11-mo (Agg_)       252 non-null    float64
 48  Excess Return % 12-mo (Agg_)       251 non-null    float64
 49  Excess Return % 13-mo (Agg_)       250 non-null    float64
 50  Excess Return % 14-mo (Agg_)       248 non-null    float64
 51  Excess Return % 15-mo (Agg_)       246 non-null    float64
 52  Excess Return % 16-mo (Agg_)       245 non-null    float64
 53  Excess Return % 17-mo (Agg_)       245 non-null    float64
 54  Excess Return % 18-mo (Agg_)       244 non-null    float64
 55  Excess Return % 19-mo (Agg_)       243 non-null    float64
 56  Excess Return % 20-mo (Agg_)       242 non-null    float64
 57  Excess Return % 21-mo (Agg_)       241 non-null    float64
 58  Excess Return % 22-mo (Agg_)       240 non-null    float64
 59  Excess Return % 23-mo (Agg_)       239 non-null    float64
 60  Excess Return % 24-mo (Agg_)       238 non-null    float64
 61  Excess Return % 25-mo (Agg_)       238 non-null    float64
 62  Excess Return % 26-mo (Agg_)       236 non-null    float64
 63  Excess Return % 27-mo (Agg_)       236 non-null    float64
 64  Excess Return % 28-mo (Agg_)       235 non-null    float64
 65  Excess Return % 29-mo (Agg_)       234 non-null    float64
 66  Excess Return % 30-mo (Agg_)       234 non-null    float64
 67  Excess Return % 31-mo (Agg_)       233 non-null    float64
 68  Excess Return % 32-mo (Agg_)       233 non-null    float64
 69  Excess Return % 33-mo (Agg_)       232 non-null    float64
 70  Excess Return % 34-mo (Agg_)       232 non-null    float64
 71  Excess Return % 35-mo (Agg_)       232 non-null    float64
 72  Excess Return % 36-mo (Agg_)       231 non-null    float64
dtypes: float64(73)
memory usage: 159.2 KB

# We now will normalize our data with Min/Max scaling

In [90]:
# Now lets normalize our data
column_maxes = df_IG.max()
df_max = column_maxes
column_mins = df_IG.min()
df_min = column_mins
normalized_df = (df_IG - df_min) / (df_max - df_min)

normalized_df.describe()

,OAS,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 2-mo (Treasury_),Excess Return % 3-mo (Treasury_),Excess Return % 4-mo (Treasury_),Excess Return % 5-mo (Treasury_),Excess Return % 6-mo (Treasury_),Excess Return % 7-mo (Treasury_),Excess Return % 8-mo (Treasury_),...,Excess Return % 27-mo (Agg_),Excess Return % 28-mo (Agg_),Excess Return % 29-mo (Agg_),Excess Return % 30-mo (Agg_),Excess Return % 31-mo (Agg_),Excess Return % 32-mo (Agg_),Excess Return % 33-mo (Agg_),Excess Return % 34-mo (Agg_),Excess Return % 35-mo (Agg_),Excess Return % 36-mo (Agg_)
count,265.000000,249.000000,256.000000,254.000000,252.000000,257.000000,253.000000,253.000000,253.000000,251.000000,...,236.000000,235.000000,234.000000,234.000000,233.000000,233.000000,232.000000,232.000000,232.000000,231.000000
mean,0.400322,0.509477,0.480734,0.507307,0.499083,0.504676,0.515373,0.509209,0.536031,0.519001,...,0.503443,0.548171,0.490763,0.447970,0.463401,0.514846,0.510771,0.493191,0.491403,0.478865
std,0.215516,0.194349,0.207234,0.193341,0.192868,0.181551,0.192925,0.192404,0.196399,0.198520,...,0.178685,0.187768,0.181019,0.170950,0.173533,0.164916,0.168189,0.169889,0.173559,0.167888
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.222749,0.387691,0.347067,0.415392,0.392751,0.404670,0.404567,0.401629,0.428740,0.397086,...,0.370659,0.407163,0.351410,0.314903,0.328916,0.383030,0.373051,0.357067,0.348538,0.337948
50%,0.369668,0.518276,0.483626,0.525239,0.518775,0.510789,0.511524,0.499908,0.528512,0.518854,...,0.500425,0.559808,0.500088,0.454633,0.471482,0.540417,0.545833,0.534765,0.529842,0.509541
75%,0.535545,0.614808,0.605820,0.617723,0.620064,0.622884,0.652151,0.644308,0.679142,0.661436,...,0.643003,0.700574,0.633737,0.581695,0.598178,0.632227,0.628474,0.601289,0.612371,0.594232
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [91]:
# You will notice returns and OAS that are blank (NAN) are simply outliers!!
normalized_df.head(30)

,OAS,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 2-mo (Treasury_),Excess Return % 3-mo (Treasury_),Excess Return % 4-mo (Treasury_),Excess Return % 5-mo (Treasury_),Excess Return % 6-mo (Treasury_),Excess Return % 7-mo (Treasury_),Excess Return % 8-mo (Treasury_),...,Excess Return % 27-mo (Agg_),Excess Return % 28-mo (Agg_),Excess Return % 29-mo (Agg_),Excess Return % 30-mo (Agg_),Excess Return % 31-mo (Agg_),Excess Return % 32-mo (Agg_),Excess Return % 33-mo (Agg_),Excess Return % 34-mo (Agg_),Excess Return % 35-mo (Agg_),Excess Return % 36-mo (Agg_)
0,0.033175,0.500156,0.362818,0.525239,0.520042,0.499059,0.502071,0.515739,0.558081,0.529421,...,0.422108,0.462112,0.373938,0.326673,0.330995,0.383030,0.373307,0.349486,0.348749,0.344246
1,0.023697,0.541393,0.441524,0.525055,0.489048,0.483236,0.518534,0.521779,0.545577,0.521976,...,0.433347,0.438071,0.373374,0.326919,0.328916,0.389235,0.378118,0.363273,0.361548,0.350885
2,0.014218,0.499844,0.373164,0.462417,0.448070,0.485781,0.511524,0.496157,0.526569,0.454567,...,0.399970,0.427400,0.364222,0.316272,0.327274,0.386333,0.384415,0.368531,0.360935,0.332163
3,0.023697,0.435177,0.494134,0.436256,0.471316,0.493195,0.495911,0.487738,0.466672,0.429429,...,0.398085,0.426366,0.360666,0.322034,0.331432,0.399303,0.396465,0.374511,0.347906,0.329340
4,0.033175,0.455483,0.425127,0.503132,0.512144,0.499834,0.508125,0.441801,0.457633,0.426867,...,0.381931,0.407093,0.352537,0.313102,0.332677,0.399488,0.390680,0.349758,0.333327,0.283984
5,0.018957,0.548579,0.598060,0.541636,0.511399,0.505367,0.447902,0.426061,0.449438,0.397566,...,0.371710,0.407234,0.350950,0.321854,0.340292,0.400469,0.372283,0.341777,0.292481,0.263515
6,0.009479,0.520775,0.902725,0.485814,0.474445,0.409649,0.397982,0.389916,0.393343,0.396606,...,0.350202,0.383417,0.339895,0.310775,0.322795,0.365198,0.347208,0.284081,0.254440,0.266372
7,0.014218,0.453921,0.149792,0.456522,0.358814,0.367489,0.365481,0.337299,0.399848,0.404291,...,0.288761,0.332634,0.291205,0.260007,0.251353,0.310376,0.258669,0.216493,0.228159,0.235448
8,0.000000,0.471103,0.599954,0.352985,0.333929,0.357309,0.327138,0.363928,0.426037,0.415980,...,0.333314,0.376924,0.325368,0.269535,0.272040,0.295721,0.263801,0.262742,0.268131,0.255417
9,0.061611,0.278351,0.423095,0.312085,0.312025,0.311276,0.352204,0.387262,0.433725,0.424946,...,0.320305,0.355843,0.281981,0.241571,0.207603,0.256798,0.266669,0.259449,0.245782,0.247281
10,0.085308,0.401749,0.364988,0.398674,0.341976,0.405666,0.444822,0.452050,0.495311,0.452966,...,0.321814,0.332108,0.272320,0.195632,0.183870,0.276962,0.280668,0.254071,0.254258,0.218452
11,0.075829,0.425180,0.459076,0.362933,0.410222,0.458449,0.478067,0.482613,0.491510,0.442078,...,0.305863,0.329219,0.228623,0.177948,0.212246,0.296611,0.280899,0.268187,0.229664,0.216264
12,0.113744,0.341143,0.454919,0.433493,0.470124,0.484785,0.505576,0.471633,0.473684,0.212953,...,0.291259,0.270495,0.197860,0.196419,0.223711,0.287636,0.286022,0.234415,0.218334,0.218672
13,0.104265,0.544830,0.403233,0.557111,0.545671,0.543211,0.521402,0.476940,0.254625,0.240974,...,0.234316,0.238158,0.218724,0.208461,0.214305,0.293154,0.252095,0.223440,0.221254,0.259602
14,0.085308,0.550765,0.509053,0.530398,0.527194,0.487551,0.458311,0.179996,0.229112,0.159475,...,0.209143,0.267062,0.238190,0.204564,0.225914,0.264367,0.246007,0.231358,0.269063,0.267513
15,0.085308,0.499531,0.433580,0.504053,0.449411,0.419719,0.111630,0.150622,0.141505,0.271395,...,0.224181,0.274324,0.221224,0.204810,0.182947,0.247940,0.243678,0.269154,0.267177,0.272626
16,0.080569,0.506092,0.584804,0.438099,0.382506,0.076685,0.094955,0.070736,0.273465,0.295012,...,0.240734,0.265851,0.230531,0.169568,0.173021,0.253002,0.289506,0.274541,0.279780,0.268471
17,0.099526,0.387691,0.445081,0.351511,NaN,0.056988,0.000000,0.211750,0.296612,0.310864,...,0.213514,0.256451,0.173567,0.143113,0.162335,0.283921,0.280151,0.272607,0.260902,0.272812
18,0.132701,0.359263,0.303002,NaN,NaN,0.000000,0.203930,0.271504,0.345358,0.368265,...,0.221805,0.213461,0.161125,0.147481,0.211284,0.288260,0.291889,0.267131,0.278870,0.275369
19,0.345972,NaN,NaN,NaN,NaN,0.222530,0.282953,0.332632,0.413618,0.431271,...,0.197522,0.218341,0.182951,0.212392,0.231306,0.313870,0.300256,0.298880,0.295197,0.311787
20,0.369668,0.450484,0.791732,0.310427,0.578900,0.598207,0.635475,0.649158,0.704064,0.671523,...,0.271197,0.312073,0.320425,0.292400,0.318538,0.376070,0.386522,0.368375,0.386204,0.372215
21,0.445498,0.226804,0.149284,0.627119,0.646252,0.639814,0.690281,0.694455,0.708963,0.660716,...,0.232842,0.326029,0.284231,0.267755,0.275210,0.360452,0.355254,0.359503,0.349614,0.302104
22,0.327014,0.987504,0.889330,0.842299,0.808970,0.776143,0.818906,0.765282,0.758047,0.696421,...,0.326914,0.369538,0.333973,0.293708,0.327066,0.392118,0.409245,0.384742,0.337952,0.333049
23,0.308057,0.591690,0.574596,0.594878,0.629712,0.640699,0.642485,0.595626,0.590014,0.536947,...,0.276857,0.328020,0.273990,0.265779,0.282344,0.373571,0.362321,0.301638,0.299240,0.315370
24,0.293839,0.567948,0.581062,0.606669,0.636120,0.597101,0.580138,0.529557,0.528766,0.482107,...,0.275625,0.304191,0.280875,0.254741,0.295788,0.357556,0.308701,0.293132,0.310974,0.304843
25,0.260664,0.611684,0.062540,0.628592,0.588735,0.540555,0.511524,0.470168,0.477317,0.485309,...,0.251499,0.310720,0.267929,0.267630,0.277512,0.303435,0.299418,0.304289,0.299333,0.279371
26,0.251185,0.605123,0.602540,0.544215,0.491730,0.453580,0.427722,0.401629,0.468869,0.468417,...,0.322792,0.363216,0.344220,0.305454,0.273791,0.344907,0.361619,0.342624,0.322490,0.304775
27,0.251185,0.468604,0.452610,0.428150,0.377738,0.368596,0.350398,0.394400,0.452817,0.474502,...,0.306568,0.375654,0.321276,0.243060,0.261319,0.354121,0.347629,0.313781,0.297199,0.281237
28,0.260664,0.408310,0.174873,0.367723,0.328416,0.336395,0.388423,0.417002,0.496156,0.489472,...,0.337506,0.370318,0.270429,0.246731,0.287538,0.354835,0.333010,0.302850,0.286965,0.252729
29,0.289100,0.366136,0.358106,0.342299,0.313813,0.397366,0.435157,0.481607,0.528259,0.468417,...,0.367050,0.351518,0.307728,0.303393,0.318151,0.367425,0.349138,0.319368,0.283810,0.295567

In [92]:
# Output to excel for better sanity check 
normalized_df.to_excel("output.xlsx",
             sheet_name='Sheet_name_1')

normalized_df1 = normalized_df.copy() # Making copy to use for hypothesis test

# Now we move on to our Hypothesis Testing Segment

## Our hypothesis is that spreads that are in the 80th percentile have higher excess returns than average case.

In [93]:
# Selecting 
highspread = normalized_df["OAS"].quantile(.80) # every data point over the 75th percentile
print(highspread)

# pandas version of the SQL function 
normalized_df = normalized_df[(normalized_df['OAS'] > highspread)]

0.5734597156398105

# Below we have two dataframes

### normalized_df = a sample of spreads from the populaton that are above the 80th percentile

### normalized_df1 = the whole population, all spreads included.

## Our goal is to compare the excess returns of "high spreads" to all spreads.

## I will go over our actual hypothesis test parameters next.

In [94]:
normalized_df.describe() # Subset of the population, aka sample of Spreads > 80th percentile

,OAS,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 2-mo (Treasury_),Excess Return % 3-mo (Treasury_),Excess Return % 4-mo (Treasury_),Excess Return % 5-mo (Treasury_),Excess Return % 6-mo (Treasury_),Excess Return % 7-mo (Treasury_),Excess Return % 8-mo (Treasury_),...,Excess Return % 27-mo (Agg_),Excess Return % 28-mo (Agg_),Excess Return % 29-mo (Agg_),Excess Return % 30-mo (Agg_),Excess Return % 31-mo (Agg_),Excess Return % 32-mo (Agg_),Excess Return % 33-mo (Agg_),Excess Return % 34-mo (Agg_),Excess Return % 35-mo (Agg_),Excess Return % 36-mo (Agg_)
count,51.000000,36.000000,42.000000,41.000000,44.000000,44.000000,44.000000,47.000000,47.000000,46.000000,...,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,0.733296,0.493327,0.463613,0.551117,0.548309,0.616018,0.633054,0.603930,0.648313,0.645446,...,0.678038,0.737439,0.672826,0.615440,0.633898,0.675419,0.672928,0.648917,0.645132,0.627428
std,0.121372,0.274534,0.287512,0.283524,0.280502,0.219004,0.228887,0.262478,0.256442,0.253361,...,0.117189,0.117478,0.105772,0.099661,0.094814,0.081513,0.078203,0.076957,0.078140,0.074523
min,0.578199,0.000000,0.005958,0.029661,0.027567,0.111652,0.029846,0.000000,0.048745,0.000000,...,0.301140,0.393107,0.358542,0.280258,0.344097,0.426418,0.462422,0.479926,0.479648,0.471232
25%,0.635071,0.311153,0.284330,0.343036,0.343876,0.458117,0.488078,0.426885,0.501901,0.538928,...,0.622668,0.692988,0.641485,0.590080,0.601140,0.630945,0.625173,0.591552,0.595352,0.585253
50%,0.696682,0.436114,0.467852,0.556006,0.591343,0.637435,0.689963,0.664623,0.735997,0.696582,...,0.697340,0.755473,0.685752,0.628531,0.637860,0.676749,0.672943,0.649164,0.649383,0.626971
75%,0.810427,0.703218,0.664192,0.808585,0.728133,0.751798,0.800398,0.788113,0.812621,0.829297,...,0.764013,0.809003,0.735425,0.677788,0.688476,0.719011,0.722245,0.705168,0.701106,0.671517
max,1.000000,1.000000,0.959492,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.856385,0.951574,0.850377,0.787096,0.804338,0.862940,0.853713,0.832059,0.808458,0.797650

In [95]:
normalized_df1.describe()

,OAS,Excess Return % 1-mo (Treasury),Excess Return % 1-mo (Agg),Excess Return % 2-mo (Treasury_),Excess Return % 3-mo (Treasury_),Excess Return % 4-mo (Treasury_),Excess Return % 5-mo (Treasury_),Excess Return % 6-mo (Treasury_),Excess Return % 7-mo (Treasury_),Excess Return % 8-mo (Treasury_),...,Excess Return % 27-mo (Agg_),Excess Return % 28-mo (Agg_),Excess Return % 29-mo (Agg_),Excess Return % 30-mo (Agg_),Excess Return % 31-mo (Agg_),Excess Return % 32-mo (Agg_),Excess Return % 33-mo (Agg_),Excess Return % 34-mo (Agg_),Excess Return % 35-mo (Agg_),Excess Return % 36-mo (Agg_)
count,265.000000,249.000000,256.000000,254.000000,252.000000,257.000000,253.000000,253.000000,253.000000,251.000000,...,236.000000,235.000000,234.000000,234.000000,233.000000,233.000000,232.000000,232.000000,232.000000,231.000000
mean,0.400322,0.509477,0.480734,0.507307,0.499083,0.504676,0.515373,0.509209,0.536031,0.519001,...,0.503443,0.548171,0.490763,0.447970,0.463401,0.514846,0.510771,0.493191,0.491403,0.478865
std,0.215516,0.194349,0.207234,0.193341,0.192868,0.181551,0.192925,0.192404,0.196399,0.198520,...,0.178685,0.187768,0.181019,0.170950,0.173533,0.164916,0.168189,0.169889,0.173559,0.167888
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.222749,0.387691,0.347067,0.415392,0.392751,0.404670,0.404567,0.401629,0.428740,0.397086,...,0.370659,0.407163,0.351410,0.314903,0.328916,0.383030,0.373051,0.357067,0.348538,0.337948
50%,0.369668,0.518276,0.483626,0.525239,0.518775,0.510789,0.511524,0.499908,0.528512,0.518854,...,0.500425,0.559808,0.500088,0.454633,0.471482,0.540417,0.545833,0.534765,0.529842,0.509541
75%,0.535545,0.614808,0.605820,0.617723,0.620064,0.622884,0.652151,0.644308,0.679142,0.661436,...,0.643003,0.700574,0.633737,0.581695,0.598178,0.632227,0.628474,0.601289,0.612371,0.594232
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Our Hypothesis Test
\begin{equation*}
\mu1 = the \ mean \  Excess \ Return \ for \ 80th \ percentile \ spreads
\end{equation*}

\begin{equation*}
\mu2 = the \ mean \ Excess \ Return \ for \ all \ spreads 
\end{equation*}

\begin{equation*}
 H_0 = \mu1 - \mu2 = 0
\end{equation*}

\begin{equation*}
 H_a = \mu1 - \mu2 > 0
\end{equation*}
### We would like to ideally see if higher spreads result in higher returns or vice versa

In [96]:
import researchpy # for t-test stuff!

In [97]:
# start with Treasuries

des, res = researchpy.ttest(normalized_df['Excess Return % 1-mo (Treasury)'], normalized_df1['Excess Return % 1-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0  Excess Return % 1-mo (Treasury)   36.0  0.493327  0.274534  0.045756
 1  Excess Return % 1-mo (Treasury)  249.0  0.509477  0.194349  0.012316
 2                         combined  285.0  0.507437  0.205672  0.012183

    95% Conf.  Interval
 0   0.400438  0.586216
 1   0.485219  0.533735
 2   0.483456  0.531417  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 1-mo (Treasury) - ...   -0.0162
 1                              Degrees of freedom =   283.0000
 2                                               t =    -0.4398
 3                           Two side test p value =     0.6605
 4                          Difference < 0 p value =     0.3302
 5                          Difference > 0 p value =     0.6698
 6                                       Cohen's d =    -0.0784
 7                                       Hedge's g =    -0.0782
 8                                   Glass's delta =    -0.0588
 9                                               r =     0.0261)

In [98]:
des, res = researchpy.ttest(normalized_df['Excess Return % 2-mo (Treasury_)'], normalized_df1['Excess Return % 2-mo (Treasury_)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0  Excess Return % 2-mo (Treasury_)   41.0  0.551117  0.283524  0.044279
 1  Excess Return % 2-mo (Treasury_)  254.0  0.507307  0.193341  0.012131
 2                          combined  295.0  0.513396  0.208171  0.012120

    95% Conf.  Interval
 0   0.461626  0.640608
 1   0.483416  0.531198
 2   0.489542  0.537249  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 2-mo (Treasury_) -...    0.0438
 1                              Degrees of freedom =   293.0000
 2                                               t =     1.2516
 3                           Two side test p value =     0.2117
 4                          Difference < 0 p value =     0.8941
 5                          Difference > 0 p value =     0.1059
 6                                       Cohen's d =     0.2107
 7                                       Hedge's g =     0.2101
 8                                   Glass's delta =     0.1545
 9                                               r =     0.0729)

In [99]:
des, res = researchpy.ttest(normalized_df['Excess Return % 3-mo (Treasury_)'], normalized_df1['Excess Return % 3-mo (Treasury_)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0  Excess Return % 3-mo (Treasury_)   44.0  0.548309  0.280502  0.042287
 1  Excess Return % 3-mo (Treasury_)  252.0  0.499083  0.192868  0.012150
 2                          combined  296.0  0.506401  0.208390  0.012112

    95% Conf.  Interval
 0   0.463029  0.633590
 1   0.475155  0.523012
 2   0.482563  0.530239  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 3-mo (Treasury_) -...    0.0492
 1                              Degrees of freedom =   294.0000
 2                                               t =     1.4485
 3                           Two side test p value =     0.1486
 4                          Difference < 0 p value =     0.9257
 5                          Difference > 0 p value =     0.0743
 6                                       Cohen's d =     0.2367
 7                                       Hedge's g =     0.2361
 8                                   Glass's delta =     0.1755
 9                                               r =     0.0842)

In [100]:
des, res = researchpy.ttest(normalized_df['Excess Return % 4-mo (Treasury_)'], normalized_df1['Excess Return % 4-mo (Treasury_)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0  Excess Return % 4-mo (Treasury_)   44.0  0.616018  0.219004  0.033016
 1  Excess Return % 4-mo (Treasury_)  257.0  0.504676  0.181551  0.011325
 2                          combined  301.0  0.520952  0.191190  0.011020

    95% Conf.  Interval
 0   0.549435  0.682601
 1   0.482374  0.526978
 2   0.499266  0.542638  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 4-mo (Treasury_) -...    0.1113
 1                              Degrees of freedom =   299.0000
 2                                               t =     3.6417
 3                           Two side test p value =     0.0003
 4                          Difference < 0 p value =     0.9998
 5                          Difference > 0 p value =     0.0002
 6                                       Cohen's d =     0.5941
 7                                       Hedge's g =     0.5927
 8                                   Glass's delta =     0.5084
 9                                               r =     0.2061)

In [101]:
des, res = researchpy.ttest(normalized_df['Excess Return % 5-mo (Treasury_)'], normalized_df1['Excess Return % 5-mo (Treasury_)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0  Excess Return % 5-mo (Treasury_)   44.0  0.633054  0.228887  0.034506
 1  Excess Return % 5-mo (Treasury_)  253.0  0.515373  0.192925  0.012129
 2                          combined  297.0  0.532807  0.202612  0.011757

    95% Conf.  Interval
 0   0.563466  0.702642
 1   0.491486  0.539260
 2   0.509670  0.555945  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 5-mo (Treasury_) -...    0.1177
 1                              Degrees of freedom =   295.0000
 2                                               t =     3.6282
 3                           Two side test p value =     0.0003
 4                          Difference < 0 p value =     0.9998
 5                          Difference > 0 p value =     0.0002
 6                                       Cohen's d =     0.5926
 7                                       Hedge's g =     0.5911
 8                                   Glass's delta =     0.5141
 9                                               r =     0.2067)

In [102]:
des, res = researchpy.ttest(normalized_df['Excess Return % 6-mo (Treasury_)'], normalized_df1['Excess Return % 6-mo (Treasury_)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0  Excess Return % 6-mo (Treasury_)   47.0  0.603930  0.262478  0.038286
 1  Excess Return % 6-mo (Treasury_)  253.0  0.509209  0.192404  0.012096
 2                          combined  300.0  0.524048  0.207337  0.011971

    95% Conf.  Interval
 0   0.526863  0.680996
 1   0.485386  0.533031
 2   0.500491  0.547606  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 6-mo (Treasury_) -...    0.0947
 1                              Degrees of freedom =   298.0000
 2                                               t =     2.9119
 3                           Two side test p value =     0.0039
 4                          Difference < 0 p value =     0.9981
 5                          Difference > 0 p value =     0.0019
 6                                       Cohen's d =     0.4625
 7                                       Hedge's g =     0.4614
 8                                   Glass's delta =     0.3609
 9                                               r =     0.1663)

In [103]:
des, res = researchpy.ttest(normalized_df['Excess Return % 7-mo (Treasury_)'], normalized_df1['Excess Return % 7-mo (Treasury_)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0  Excess Return % 7-mo (Treasury_)   47.0  0.648313  0.256442  0.037406
 1  Excess Return % 7-mo (Treasury_)  253.0  0.536031  0.196399  0.012348
 2                          combined  300.0  0.553622  0.210471  0.012152

    95% Conf.  Interval
 0   0.573019  0.723608
 1   0.511713  0.560348
 2   0.529708  0.577535  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 7-mo (Treasury_) -...    0.1123
 1                              Degrees of freedom =   298.0000
 2                                               t =     3.4182
 3                           Two side test p value =     0.0007
 4                          Difference < 0 p value =     0.9996
 5                          Difference > 0 p value =     0.0004
 6                                       Cohen's d =     0.5429
 7                                       Hedge's g =     0.5416
 8                                   Glass's delta =     0.4378
 9                                               r =     0.1942)

In [104]:
des, res = researchpy.ttest(normalized_df['Excess Return % 8-mo (Treasury_)'], normalized_df1['Excess Return % 8-mo (Treasury_)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0  Excess Return % 8-mo (Treasury_)   46.0  0.645446  0.253361  0.037356
 1  Excess Return % 8-mo (Treasury_)  251.0  0.519001  0.198520  0.012530
 2                          combined  297.0  0.538585  0.212472  0.012329

    95% Conf.  Interval
 0   0.570207  0.720684
 1   0.494322  0.543679
 2   0.514321  0.562848  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 8-mo (Treasury_) -...    0.1264
 1                              Degrees of freedom =   295.0000
 2                                               t =     3.7936
 3                           Two side test p value =     0.0002
 4                          Difference < 0 p value =     0.9999
 5                          Difference > 0 p value =     0.0001
 6                                       Cohen's d =     0.6084
 7                                       Hedge's g =     0.6069
 8                                   Glass's delta =     0.4991
 9                                               r =     0.2157)

In [105]:
des, res = researchpy.ttest(normalized_df['Excess Return % 9-mo (Treasury_)'], normalized_df1['Excess Return % 9-mo (Treasury_)'])

des, res

(                           Variable      N      Mean        SD        SE  \
 0  Excess Return % 9-mo (Treasury_)   44.0  0.681225  0.212119  0.031978
 1  Excess Return % 9-mo (Treasury_)  250.0  0.531162  0.192795  0.012193
 2                          combined  294.0  0.553620  0.202650  0.011819

    95% Conf.  Interval
 0   0.616735  0.745715
 1   0.507146  0.555177
 2   0.530360  0.576881  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 9-mo (Treasury_) -...    0.1501
 1                              Degrees of freedom =   292.0000
 2                                               t =     4.6889
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.7666
 7                                       Hedge's g =     0.7646
 8                                   Glass's delta =     0.7075
 9                                               r =     0.2646)

In [106]:
des, res = researchpy.ttest(normalized_df['Excess Return % 10-mo (Treasury_)'], normalized_df1['Excess Return % 10-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 10-mo (Treasury_)   43.0  0.681443  0.188010  0.028671
 1  Excess Return % 10-mo (Treasury_)  248.0  0.527276  0.185015  0.011748
 2                           combined  291.0  0.550056  0.193074  0.011318

    95% Conf.  Interval
 0   0.623582  0.739304
 1   0.504136  0.550416
 2   0.527780  0.572333  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 10-mo (Treasury_) ...    0.1542
 1                              Degrees of freedom =   289.0000
 2                                               t =     5.0324
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8313
 7                                       Hedge's g =     0.8291
 8                                   Glass's delta =     0.8200
 9                                               r =     0.2838)

In [107]:
des, res = researchpy.ttest(normalized_df['Excess Return % 11-mo (Treasury_)'], normalized_df1['Excess Return % 11-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 11-mo (Treasury_)   44.0  0.669274  0.191859  0.028924
 1  Excess Return % 11-mo (Treasury_)  249.0  0.512020  0.186079  0.011792
 2                           combined  293.0  0.535635  0.194924  0.011388

    95% Conf.  Interval
 0   0.610943  0.727604
 1   0.488794  0.535245
 2   0.513222  0.558047  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 11-mo (Treasury_) ...    0.1573
 1                              Degrees of freedom =   291.0000
 2                                               t =     5.1438
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8412
 7                                       Hedge's g =     0.8390
 8                                   Glass's delta =     0.8196
 9                                               r =     0.2887)

In [108]:
des, res = researchpy.ttest(normalized_df['Excess Return % 12-mo (Treasury_)'], normalized_df1['Excess Return % 12-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 12-mo (Treasury_)   45.0  0.712949  0.215450  0.032117
 1  Excess Return % 12-mo (Treasury_)  249.0  0.555873  0.199131  0.012619
 2                           combined  294.0  0.579915  0.209148  0.012198

    95% Conf.  Interval
 0   0.648221  0.777678
 1   0.531018  0.580728
 2   0.555909  0.603921  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 12-mo (Treasury_) ...    0.1571
 1                              Degrees of freedom =   292.0000
 2                                               t =     4.8083
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.7789
 7                                       Hedge's g =     0.7769
 8                                   Glass's delta =     0.7291
 9                                               r =     0.2709)

In [109]:
des, res = researchpy.ttest(normalized_df['Excess Return % 13-mo (Treasury_)'], normalized_df1['Excess Return % 13-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 13-mo (Treasury_)   46.0  0.663569  0.221616  0.032675
 1  Excess Return % 13-mo (Treasury_)  247.0  0.532016  0.185162  0.011782
 2                           combined  293.0  0.552669  0.196853  0.011500

    95% Conf.  Interval
 0   0.597757  0.729381
 1   0.508810  0.555221
 2   0.530035  0.575303  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 13-mo (Treasury_) ...    0.1316
 1                              Degrees of freedom =   291.0000
 2                                               t =     4.2834
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.6878
 7                                       Hedge's g =     0.6861
 8                                   Glass's delta =     0.5936
 9                                               r =     0.2435)

In [110]:
des, res = researchpy.ttest(normalized_df['Excess Return % 14-mo (Treasury_)'], normalized_df1['Excess Return % 14-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 14-mo (Treasury_)   47.0  0.679759  0.215000  0.031361
 1  Excess Return % 14-mo (Treasury_)  245.0  0.539898  0.189350  0.012097
 2                           combined  292.0  0.562410  0.200051  0.011707

    95% Conf.  Interval
 0   0.616633  0.742885
 1   0.516069  0.563726
 2   0.539368  0.585451  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 14-mo (Treasury_) ...    0.1399
 1                              Degrees of freedom =   290.0000
 2                                               t =     4.5356
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.7223
 7                                       Hedge's g =     0.7204
 8                                   Glass's delta =     0.6505
 9                                               r =     0.2574)

In [111]:
des, res = researchpy.ttest(normalized_df['Excess Return % 15-mo (Treasury_)'], normalized_df1['Excess Return % 15-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 15-mo (Treasury_)   47.0  0.678378  0.190978  0.027857
 1  Excess Return % 15-mo (Treasury_)  245.0  0.522941  0.191878  0.012259
 2                           combined  292.0  0.547960  0.199776  0.011691

    95% Conf.  Interval
 0   0.622305  0.734452
 1   0.498794  0.547087
 2   0.524950  0.570969  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 15-mo (Treasury_) ...    0.1554
 1                              Degrees of freedom =   290.0000
 2                                               t =     5.0909
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8107
 7                                       Hedge's g =     0.8086
 8                                   Glass's delta =     0.8139
 9                                               r =     0.2864)

In [112]:
des, res = researchpy.ttest(normalized_df['Excess Return % 16-mo (Treasury_)'], normalized_df1['Excess Return % 16-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 16-mo (Treasury_)   48.0  0.660672  0.205061  0.029598
 1  Excess Return % 16-mo (Treasury_)  243.0  0.519159  0.185461  0.011897
 2                           combined  291.0  0.542501  0.195667  0.011470

    95% Conf.  Interval
 0   0.601129  0.720216
 1   0.495723  0.542594
 2   0.519926  0.565076  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 16-mo (Treasury_) ...    0.1415
 1                              Degrees of freedom =   289.0000
 2                                               t =     4.7457
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.7496
 7                                       Hedge's g =     0.7476
 8                                   Glass's delta =     0.6901
 9                                               r =     0.2689)

In [113]:
des, res = researchpy.ttest(normalized_df['Excess Return % 17-mo (Treasury_)'], normalized_df1['Excess Return % 17-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 17-mo (Treasury_)   48.0  0.676970  0.201110  0.029028
 1  Excess Return % 17-mo (Treasury_)  241.0  0.525780  0.188456  0.012140
 2                           combined  289.0  0.550891  0.198429  0.011672

    95% Conf.  Interval
 0   0.618574  0.735367
 1   0.501866  0.549693
 2   0.527917  0.573865  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 17-mo (Treasury_) ...    0.1512
 1                              Degrees of freedom =   287.0000
 2                                               t =     5.0190
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.7933
 7                                       Hedge's g =     0.7912
 8                                   Glass's delta =     0.7518
 9                                               r =     0.2841)

In [114]:
des, res = researchpy.ttest(normalized_df['Excess Return % 18-mo (Treasury_)'], normalized_df1['Excess Return % 18-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 18-mo (Treasury_)   49.0  0.651516  0.190371  0.027196
 1  Excess Return % 18-mo (Treasury_)  241.0  0.512477  0.176697  0.011382
 2                           combined  290.0  0.535970  0.186202  0.010934

    95% Conf.  Interval
 0   0.596835  0.706197
 1   0.490056  0.534899
 2   0.514449  0.557491  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 18-mo (Treasury_) ...    0.1390
 1                              Degrees of freedom =   288.0000
 2                                               t =     4.9553
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.7765
 7                                       Hedge's g =     0.7745
 8                                   Glass's delta =     0.7304
 9                                               r =     0.2803)

In [115]:
des, res = researchpy.ttest(normalized_df['Excess Return % 19-mo (Treasury_)'], normalized_df1['Excess Return % 19-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 19-mo (Treasury_)   50.0  0.647868  0.189109  0.026744
 1  Excess Return % 19-mo (Treasury_)  241.0  0.511522  0.176925  0.011397
 2                           combined  291.0  0.534949  0.186018  0.010905

    95% Conf.  Interval
 0   0.594124  0.701613
 1   0.489072  0.533973
 2   0.513487  0.556412  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 19-mo (Treasury_) ...    0.1363
 1                              Degrees of freedom =   289.0000
 2                                               t =     4.9002
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.7615
 7                                       Hedge's g =     0.7595
 8                                   Glass's delta =     0.7210
 9                                               r =     0.2770)

In [116]:
des, res = researchpy.ttest(normalized_df['Excess Return % 20-mo (Treasury_)'], normalized_df1['Excess Return % 20-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 20-mo (Treasury_)   51.0  0.630974  0.193320  0.027070
 1  Excess Return % 20-mo (Treasury_)  240.0  0.500645  0.175321  0.011317
 2                           combined  291.0  0.523486  0.185038  0.010847

    95% Conf.  Interval
 0   0.576601  0.685346
 1   0.478351  0.522938
 2   0.502137  0.544835  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 20-mo (Treasury_) ...    0.1303
 1                              Degrees of freedom =   289.0000
 2                                               t =     4.7336
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.7299
 7                                       Hedge's g =     0.7280
 8                                   Glass's delta =     0.6742
 9                                               r =     0.2682)

In [117]:
des, res = researchpy.ttest(normalized_df['Excess Return % 21-mo (Treasury_)'], normalized_df1['Excess Return % 21-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 21-mo (Treasury_)   50.0  0.697977  0.199563  0.028223
 1  Excess Return % 21-mo (Treasury_)  238.0  0.549221  0.194539  0.012610
 2                           combined  288.0  0.575047  0.203070  0.011966

    95% Conf.  Interval
 0   0.641262  0.754693
 1   0.524379  0.574063
 2   0.551495  0.598599  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 21-mo (Treasury_) ...    0.1488
 1                              Degrees of freedom =   286.0000
 2                                               t =     4.8934
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.7613
 7                                       Hedge's g =     0.7593
 8                                   Glass's delta =     0.7454
 9                                               r =     0.2779)

In [118]:
des, res = researchpy.ttest(normalized_df['Excess Return % 22-mo (Treasury_)'], normalized_df1['Excess Return % 22-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 22-mo (Treasury_)   50.0  0.684096  0.195677  0.027673
 1  Excess Return % 22-mo (Treasury_)  236.0  0.537302  0.190586  0.012406
 2                           combined  286.0  0.562965  0.199131  0.011775

    95% Conf.  Interval
 0   0.628485  0.739706
 1   0.512860  0.561743
 2   0.539788  0.586142  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 22-mo (Treasury_) ...    0.1468
 1                              Degrees of freedom =   284.0000
 2                                               t =     4.9244
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.7667
 7                                       Hedge's g =     0.7646
 8                                   Glass's delta =     0.7502
 9                                               r =     0.2805)

In [119]:
des, res = researchpy.ttest(normalized_df['Excess Return % 23-mo (Treasury_)'], normalized_df1['Excess Return % 23-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 23-mo (Treasury_)   50.0  0.671541  0.185910  0.026292
 1  Excess Return % 23-mo (Treasury_)  235.0  0.524036  0.184020  0.012004
 2                           combined  285.0  0.549914  0.192414  0.011398

    95% Conf.  Interval
 0   0.618706  0.724376
 1   0.500386  0.547686
 2   0.527479  0.572348  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 23-mo (Treasury_) ...    0.1475
 1                              Degrees of freedom =   283.0000
 2                                               t =     5.1377
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8001
 7                                       Hedge's g =     0.7980
 8                                   Glass's delta =     0.7934
 9                                               r =     0.2921)

In [120]:
des, res = researchpy.ttest(normalized_df['Excess Return % 24-mo (Treasury_)'], normalized_df1['Excess Return % 24-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 24-mo (Treasury_)   51.0  0.664740  0.188343  0.026373
 1  Excess Return % 24-mo (Treasury_)  235.0  0.511670  0.184954  0.012065
 2                           combined  286.0  0.538966  0.194306  0.011490

    95% Conf.  Interval
 0   0.611768  0.717713
 1   0.487900  0.535440
 2   0.516351  0.561581  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 24-mo (Treasury_) ...    0.1531
 1                              Degrees of freedom =   284.0000
 2                                               t =     5.3402
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8249
 7                                       Hedge's g =     0.8228
 8                                   Glass's delta =     0.8127
 9                                               r =     0.3021)

In [121]:
des, res = researchpy.ttest(normalized_df['Excess Return % 25-mo (Treasury_)'], normalized_df1['Excess Return % 25-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 25-mo (Treasury_)   51.0  0.672516  0.183167  0.025648
 1  Excess Return % 25-mo (Treasury_)  235.0  0.516236  0.187164  0.012209
 2                           combined  286.0  0.544104  0.195548  0.011563

    95% Conf.  Interval
 0   0.620999  0.724032
 1   0.492182  0.540290
 2   0.521344  0.566864  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 25-mo (Treasury_) ...    0.1563
 1                              Degrees of freedom =   284.0000
 2                                               t =     5.4255
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8381
 7                                       Hedge's g =     0.8359
 8                                   Glass's delta =     0.8532
 9                                               r =     0.3065)

In [122]:
des, res = researchpy.ttest(normalized_df['Excess Return % 26-mo (Treasury_)'], normalized_df1['Excess Return % 26-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 26-mo (Treasury_)   51.0  0.718290  0.175955  0.024639
 1  Excess Return % 26-mo (Treasury_)  234.0  0.544064  0.199846  0.013064
 2                           combined  285.0  0.575242  0.206622  0.012239

    95% Conf.  Interval
 0   0.668802  0.767778
 1   0.518325  0.569804
 2   0.551150  0.599333  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 26-mo (Treasury_) ...    0.1742
 1                              Degrees of freedom =   283.0000
 2                                               t =     5.7569
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8896
 7                                       Hedge's g =     0.8873
 8                                   Glass's delta =     0.9902
 9                                               r =     0.3238)

In [123]:
des, res = researchpy.ttest(normalized_df['Excess Return % 27-mo (Treasury_)'], normalized_df1['Excess Return % 27-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 27-mo (Treasury_)   51.0  0.703002  0.160931  0.022535
 1  Excess Return % 27-mo (Treasury_)  234.0  0.531042  0.193336  0.012639
 2                           combined  285.0  0.561814  0.198962  0.011786

    95% Conf.  Interval
 0   0.657740  0.748265
 1   0.506141  0.555943
 2   0.538616  0.585012  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 27-mo (Treasury_) ...    0.1720
 1                              Degrees of freedom =   283.0000
 2                                               t =     5.9183
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9146
 7                                       Hedge's g =     0.9122
 8                                   Glass's delta =     1.0685
 9                                               r =     0.3319)

In [124]:
des, res = researchpy.ttest(normalized_df['Excess Return % 28-mo (Treasury_)'], normalized_df1['Excess Return % 28-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 28-mo (Treasury_)   51.0  0.703923  0.162183  0.022710
 1  Excess Return % 28-mo (Treasury_)  232.0  0.520445  0.199855  0.013121
 2                           combined  283.0  0.553510  0.205847  0.012236

    95% Conf.  Interval
 0   0.658308  0.749537
 1   0.494592  0.546297
 2   0.529424  0.577596  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 28-mo (Treasury_) ...    0.1835
 1                              Degrees of freedom =   281.0000
 2                                               t =     6.1252
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9473
 7                                       Hedge's g =     0.9448
 8                                   Glass's delta =     1.1313
 9                                               r =     0.3432)

In [125]:
des, res = researchpy.ttest(normalized_df['Excess Return % 29-mo (Treasury_)'], normalized_df1['Excess Return % 29-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 29-mo (Treasury_)   51.0  0.704157  0.148317  0.020769
 1  Excess Return % 29-mo (Treasury_)  232.0  0.525755  0.197138  0.012943
 2                           combined  283.0  0.557906  0.201132  0.011956

    95% Conf.  Interval
 0   0.662442  0.745872
 1   0.500254  0.551256
 2   0.534371  0.581440  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 29-mo (Treasury_) ...    0.1784
 1                              Degrees of freedom =   281.0000
 2                                               t =     6.0914
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9421
 7                                       Hedge's g =     0.9395
 8                                   Glass's delta =     1.2028
 9                                               r =     0.3415)

In [126]:
des, res = researchpy.ttest(normalized_df['Excess Return % 30-mo (Treasury_)'], normalized_df1['Excess Return % 30-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 30-mo (Treasury_)   51.0  0.713081  0.142768  0.019992
 1  Excess Return % 30-mo (Treasury_)  232.0  0.536532  0.196046  0.012871
 2                           combined  283.0  0.568348  0.199294  0.011847

    95% Conf.  Interval
 0   0.672927  0.753235
 1   0.511172  0.561891
 2   0.545029  0.591668  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 30-mo (Treasury_) ...    0.1765
 1                              Degrees of freedom =   281.0000
 2                                               t =     6.0827
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9407
 7                                       Hedge's g =     0.9382
 8                                   Glass's delta =     1.2366
 9                                               r =     0.3411)

In [127]:
des, res = researchpy.ttest(normalized_df['Excess Return % 31-mo (Treasury_)'], normalized_df1['Excess Return % 31-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 31-mo (Treasury_)   51.0  0.637654  0.129774  0.018172
 1  Excess Return % 31-mo (Treasury_)  232.0  0.472432  0.189649  0.012451
 2                           combined  283.0  0.502207  0.191037  0.011356

    95% Conf.  Interval
 0   0.601155  0.674154
 1   0.447900  0.496964
 2   0.479854  0.524560  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 31-mo (Treasury_) ...    0.1652
 1                              Degrees of freedom =   281.0000
 2                                               t =     5.9202
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9156
 7                                       Hedge's g =     0.9131
 8                                   Glass's delta =     1.2732
 9                                               r =     0.3330)

In [128]:
des, res = researchpy.ttest(normalized_df['Excess Return % 32-mo (Treasury_)'], normalized_df1['Excess Return % 32-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 32-mo (Treasury_)   51.0  0.634770  0.111262  0.015580
 1  Excess Return % 32-mo (Treasury_)  233.0  0.488360  0.175408  0.011491
 2                           combined  284.0  0.514652  0.174870  0.010377

    95% Conf.  Interval
 0   0.603477  0.666063
 1   0.465719  0.511000
 2   0.494226  0.535077  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 32-mo (Treasury_) ...    0.1464
 1                              Degrees of freedom =   282.0000
 2                                               t =     5.7102
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8828
 7                                       Hedge's g =     0.8804
 8                                   Glass's delta =     1.3159
 9                                               r =     0.3219)

In [129]:
des, res = researchpy.ttest(normalized_df['Excess Return % 33-mo (Treasury_)'], normalized_df1['Excess Return % 33-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 33-mo (Treasury_)   51.0  0.706684  0.117552  0.016461
 1  Excess Return % 33-mo (Treasury_)  230.0  0.534400  0.192694  0.012706
 2                           combined  281.0  0.565669  0.193030  0.011515

    95% Conf.  Interval
 0   0.673622  0.739746
 1   0.509364  0.559435
 2   0.543001  0.588336  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 33-mo (Treasury_) ...    0.1723
 1                              Degrees of freedom =   279.0000
 2                                               t =     6.1319
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9491
 7                                       Hedge's g =     0.9465
 8                                   Glass's delta =     1.4656
 9                                               r =     0.3446)

In [130]:
des, res = researchpy.ttest(normalized_df['Excess Return % 34-mo (Treasury_)'], normalized_df1['Excess Return % 34-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 34-mo (Treasury_)   51.0  0.639365  0.101671  0.014237
 1  Excess Return % 34-mo (Treasury_)  230.0  0.487625  0.179276  0.011821
 2                           combined  281.0  0.515165  0.177664  0.010599

    95% Conf.  Interval
 0   0.610770  0.667961
 1   0.464333  0.510917
 2   0.494302  0.536028  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 34-mo (Treasury_) ...    0.1517
 1                              Degrees of freedom =   279.0000
 2                                               t =     5.8347
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9031
 7                                       Hedge's g =     0.9006
 8                                   Glass's delta =     1.4925
 9                                               r =     0.3298)

In [131]:
des, res = researchpy.ttest(normalized_df['Excess Return % 35-mo (Treasury_)'], normalized_df1['Excess Return % 35-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 35-mo (Treasury_)   51.0  0.623184  0.092455  0.012946
 1  Excess Return % 35-mo (Treasury_)  230.0  0.474814  0.178701  0.011783
 2                           combined  281.0  0.501742  0.175858  0.010491

    95% Conf.  Interval
 0   0.597181  0.649188
 1   0.451596  0.498031
 2   0.481091  0.522393  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 35-mo (Treasury_) ...    0.1484
 1                              Degrees of freedom =   279.0000
 2                                               t =     5.7553
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8908
 7                                       Hedge's g =     0.8884
 8                                   Glass's delta =     1.6048
 9                                               r =     0.3258)

In [132]:
des, res = researchpy.ttest(normalized_df['Excess Return % 36-mo (Treasury_)'], normalized_df1['Excess Return % 36-mo (Treasury_)'])

des, res

(                            Variable      N      Mean        SD        SE  \
 0  Excess Return % 36-mo (Treasury_)   51.0  0.733600  0.100966  0.014138
 1  Excess Return % 36-mo (Treasury_)  228.0  0.551702  0.206441  0.013672
 2                           combined  279.0  0.584952  0.203945  0.012210

    95% Conf.  Interval
 0   0.705203  0.761997
 1   0.524762  0.578642
 2   0.560916  0.608987  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 36-mo (Treasury_) ...    0.1819
 1                              Degrees of freedom =   277.0000
 2                                               t =     6.1244
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9487
 7                                       Hedge's g =     0.9461
 8                                   Glass's delta =     1.8016
 9                                               r =     0.3453)

### Now the same thing but with AGG as benchmark

In [133]:
des, res = researchpy.ttest(normalized_df['Excess Return % 1-mo (Treasury)'], normalized_df1['Excess Return % 1-mo (Treasury)'])

des, res

(                          Variable      N      Mean        SD        SE  \
 0  Excess Return % 1-mo (Treasury)   36.0  0.493327  0.274534  0.045756
 1  Excess Return % 1-mo (Treasury)  249.0  0.509477  0.194349  0.012316
 2                         combined  285.0  0.507437  0.205672  0.012183

    95% Conf.  Interval
 0   0.400438  0.586216
 1   0.485219  0.533735
 2   0.483456  0.531417  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 1-mo (Treasury) - ...   -0.0162
 1                              Degrees of freedom =   283.0000
 2                                               t =    -0.4398
 3                           Two side test p value =     0.6605
 4                          Difference < 0 p value =     0.3302
 5                          Difference > 0 p value =     0.6698
 6                                       Cohen's d =    -0.0784
 7                                       Hedge's g =    -0.0782
 8                                   Glass's delta =    -0.0588
 9                                               r =     0.0261)

In [134]:
des, res = researchpy.ttest(normalized_df['Excess Return % 2-mo (Agg_)'], normalized_df1['Excess Return % 2-mo (Agg_)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0  Excess Return % 2-mo (Agg_)   45.0  0.534295  0.252070  0.037576
 1  Excess Return % 2-mo (Agg_)  260.0  0.494664  0.181011  0.011226
 2                     combined  305.0  0.500511  0.193157  0.011060

    95% Conf.  Interval
 0   0.458565  0.610025
 1   0.472558  0.516769
 2   0.478747  0.522275  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 2-mo (Agg_) - Exce...    0.0396
 1                              Degrees of freedom =   303.0000
 2                                               t =     1.2721
 3                           Two side test p value =     0.2043
 4                          Difference < 0 p value =     0.8978
 5                          Difference > 0 p value =     0.1022
 6                                       Cohen's d =     0.2054
 7                                       Hedge's g =     0.2049
 8                                   Glass's delta =     0.1572
 9                                               r =     0.0729)

In [135]:
des, res = researchpy.ttest(normalized_df['Excess Return % 3-mo (Agg_)'], normalized_df1['Excess Return % 3-mo (Agg_)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0  Excess Return % 3-mo (Agg_)   48.0  0.553961  0.252216  0.036404
 1  Excess Return % 3-mo (Agg_)  264.0  0.494330  0.189307  0.011651
 2                     combined  312.0  0.503504  0.200958  0.011377

    95% Conf.  Interval
 0   0.480725  0.627197
 1   0.471389  0.517271
 2   0.481118  0.525889  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 3-mo (Agg_) - Exce...    0.0596
 1                              Degrees of freedom =   310.0000
 2                                               t =     1.8990
 3                           Two side test p value =     0.0585
 4                          Difference < 0 p value =     0.9708
 5                          Difference > 0 p value =     0.0292
 6                                       Cohen's d =     0.2980
 7                                       Hedge's g =     0.2973
 8                                   Glass's delta =     0.2364
 9                                               r =     0.1072)

In [136]:
des, res = researchpy.ttest(normalized_df['Excess Return % 4-mo (Agg_)'], normalized_df1['Excess Return % 4-mo (Agg_)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0  Excess Return % 4-mo (Agg_)   47.0  0.584769  0.264496  0.038581
 1  Excess Return % 4-mo (Agg_)  262.0  0.504475  0.193086  0.011929
 2                     combined  309.0  0.516688  0.207064  0.011779

    95% Conf.  Interval
 0   0.507110  0.662427
 1   0.480986  0.527964
 2   0.493509  0.539866  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 4-mo (Agg_) - Exce...    0.0803
 1                              Degrees of freedom =   307.0000
 2                                               t =     2.4681
 3                           Two side test p value =     0.0141
 4                          Difference < 0 p value =     0.9929
 5                          Difference > 0 p value =     0.0071
 6                                       Cohen's d =     0.3910
 7                                       Hedge's g =     0.3900
 8                                   Glass's delta =     0.3036
 9                                               r =     0.1395)

In [137]:
des, res = researchpy.ttest(normalized_df['Excess Return % 5-mo (Agg_)'], normalized_df1['Excess Return % 5-mo (Agg_)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0  Excess Return % 5-mo (Agg_)   46.0  0.574146  0.245256  0.036161
 1  Excess Return % 5-mo (Agg_)  260.0  0.454491  0.196546  0.012189
 2                     combined  306.0  0.472478  0.208599  0.011925

    95% Conf.  Interval
 0   0.501314  0.646978
 1   0.430488  0.478493
 2   0.449013  0.495944  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 5-mo (Agg_) - Exce...    0.1197
 1                              Degrees of freedom =   304.0000
 2                                               t =     3.6582
 3                           Two side test p value =     0.0003
 4                          Difference < 0 p value =     0.9999
 5                          Difference > 0 p value =     0.0001
 6                                       Cohen's d =     0.5851
 7                                       Hedge's g =     0.5837
 8                                   Glass's delta =     0.4879
 9                                               r =     0.2053)

In [138]:
des, res = researchpy.ttest(normalized_df['Excess Return % 6-mo (Agg_)'], normalized_df1['Excess Return % 6-mo (Agg_)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0  Excess Return % 6-mo (Agg_)   45.0  0.604543  0.237390  0.035388
 1  Excess Return % 6-mo (Agg_)  256.0  0.492468  0.184444  0.011528
 2                     combined  301.0  0.509224  0.196938  0.011351

    95% Conf.  Interval
 0   0.533223  0.675863
 1   0.469767  0.515170
 2   0.486885  0.531562  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 6-mo (Agg_) - Exce...    0.1121
 1                              Degrees of freedom =   299.0000
 2                                               t =     3.5897
 3                           Two side test p value =     0.0004
 4                          Difference < 0 p value =     0.9998
 5                          Difference > 0 p value =     0.0002
 6                                       Cohen's d =     0.5803
 7                                       Hedge's g =     0.5788
 8                                   Glass's delta =     0.4721
 9                                               r =     0.2033)

In [139]:
des, res = researchpy.ttest(normalized_df['Excess Return % 7-mo (Agg_)'], normalized_df1['Excess Return % 7-mo (Agg_)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0  Excess Return % 7-mo (Agg_)   46.0  0.624677  0.248535  0.036644
 1  Excess Return % 7-mo (Agg_)  255.0  0.493249  0.192122  0.012031
 2                     combined  301.0  0.513334  0.206786  0.011919

    95% Conf.  Interval
 0   0.550871  0.698482
 1   0.469555  0.516942
 2   0.489879  0.536789  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 7-mo (Agg_) - Exce...    0.1314
 1                              Degrees of freedom =   299.0000
 2                                               t =     4.0692
 3                           Two side test p value =     0.0001
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.6518
 7                                       Hedge's g =     0.6502
 8                                   Glass's delta =     0.5288
 9                                               r =     0.2291)

In [140]:
des, res = researchpy.ttest(normalized_df['Excess Return % 8-mo (Agg_)'], normalized_df1['Excess Return % 8-mo (Agg_)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0  Excess Return % 8-mo (Agg_)   45.0  0.630833  0.235972  0.035177
 1  Excess Return % 8-mo (Agg_)  253.0  0.485864  0.190766  0.011993
 2                     combined  298.0  0.507755  0.204525  0.011848

    95% Conf.  Interval
 0   0.559939  0.701727
 1   0.462244  0.509484
 2   0.484439  0.531072  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 8-mo (Agg_) - Exce...    0.1450
 1                              Degrees of freedom =   296.0000
 2                                               t =     4.5223
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.7317
 7                                       Hedge's g =     0.7298
 8                                   Glass's delta =     0.6143
 9                                               r =     0.2542)

In [141]:
des, res = researchpy.ttest(normalized_df['Excess Return % 9-mo (Agg_)'], normalized_df1['Excess Return % 9-mo (Agg_)'])

des, res

(                      Variable      N      Mean        SD        SE  \
 0  Excess Return % 9-mo (Agg_)   46.0  0.626622  0.210166  0.030987
 1  Excess Return % 9-mo (Agg_)  254.0  0.466675  0.178608  0.011207
 2                     combined  300.0  0.491201  0.192283  0.011101

    95% Conf.  Interval
 0   0.564210  0.689033
 1   0.444605  0.488746
 2   0.469354  0.513047  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 9-mo (Agg_) - Exce...    0.1599
 1                              Degrees of freedom =   298.0000
 2                                               t =     5.4331
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8706
 7                                       Hedge's g =     0.8684
 8                                   Glass's delta =     0.7610
 9                                               r =     0.3002)

In [142]:
des, res = researchpy.ttest(normalized_df['Excess Return % 10-mo (Agg_)'], normalized_df1['Excess Return % 10-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 10-mo (Agg_)   44.0  0.648071  0.203331  0.030653
 1  Excess Return % 10-mo (Agg_)  252.0  0.473550  0.183496  0.011559
 2                      combined  296.0  0.499492  0.196322  0.011411

    95% Conf.  Interval
 0   0.586253  0.709889
 1   0.450785  0.496315
 2   0.477035  0.521950  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 10-mo (Agg_) - Exc...    0.1745
 1                              Degrees of freedom =   294.0000
 2                                               t =     5.7264
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9356
 7                                       Hedge's g =     0.9332
 8                                   Glass's delta =     0.8583
 9                                               r =     0.3168)

In [143]:
des, res = researchpy.ttest(normalized_df['Excess Return % 11-mo (Agg_)'], normalized_df1['Excess Return % 11-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 11-mo (Agg_)   44.0  0.682678  0.180070  0.027147
 1  Excess Return % 11-mo (Agg_)  252.0  0.489268  0.182918  0.011523
 2                      combined  296.0  0.518018  0.194795  0.011322

    95% Conf.  Interval
 0   0.627932  0.737424
 1   0.466574  0.511962
 2   0.495736  0.540301  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 11-mo (Agg_) - Exc...    0.1934
 1                              Degrees of freedom =   294.0000
 2                                               t =     6.4861
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0598
 7                                       Hedge's g =     1.0571
 8                                   Glass's delta =     1.0741
 9                                               r =     0.3538)

In [144]:
des, res = researchpy.ttest(normalized_df['Excess Return % 12-mo (Agg_)'], normalized_df1['Excess Return % 12-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 12-mo (Agg_)   45.0  0.708652  0.202132  0.030132
 1  Excess Return % 12-mo (Agg_)  251.0  0.519007  0.189336  0.011951
 2                      combined  296.0  0.547838  0.202795  0.011787

    95% Conf.  Interval
 0   0.647924  0.769379
 1   0.495470  0.542544
 2   0.524640  0.571036  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 12-mo (Agg_) - Exc...    0.1896
 1                              Degrees of freedom =   294.0000
 2                                               t =     6.1236
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9913
 7                                       Hedge's g =     0.9888
 8                                   Glass's delta =     0.9382
 9                                               r =     0.3363)

In [145]:
des, res = researchpy.ttest(normalized_df['Excess Return % 13-mo (Agg_)'], normalized_df1['Excess Return % 13-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 13-mo (Agg_)   46.0  0.671563  0.214683  0.031653
 1  Excess Return % 13-mo (Agg_)  250.0  0.505510  0.183961  0.011635
 2                      combined  296.0  0.531316  0.198057  0.011512

    95% Conf.  Interval
 0   0.607811  0.735316
 1   0.482595  0.528425
 2   0.508660  0.553971  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 13-mo (Agg_) - Exc...    0.1661
 1                              Degrees of freedom =   294.0000
 2                                               t =     5.4767
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8786
 7                                       Hedge's g =     0.8764
 8                                   Glass's delta =     0.7735
 9                                               r =     0.3043)

In [146]:
des, res = researchpy.ttest(normalized_df['Excess Return % 14-mo (Agg_)'], normalized_df1['Excess Return % 14-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 14-mo (Agg_)   46.0  0.685924  0.226941  0.033461
 1  Excess Return % 14-mo (Agg_)  248.0  0.514400  0.199524  0.012670
 2                      combined  294.0  0.541237  0.212992  0.012422

    95% Conf.  Interval
 0   0.618530  0.753317
 1   0.489446  0.539355
 2   0.516790  0.565685  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 14-mo (Agg_) - Exc...    0.1715
 1                              Degrees of freedom =   292.0000
 2                                               t =     5.2378
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8408
 7                                       Hedge's g =     0.8387
 8                                   Glass's delta =     0.7558
 9                                               r =     0.2931)

In [147]:
des, res = researchpy.ttest(normalized_df['Excess Return % 15-mo (Agg_)'], normalized_df1['Excess Return % 15-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 15-mo (Agg_)   46.0  0.701706  0.192019  0.028312
 1  Excess Return % 15-mo (Agg_)  246.0  0.522368  0.192676  0.012285
 2                      combined  292.0  0.550620  0.203077  0.011884

    95% Conf.  Interval
 0   0.644683  0.758728
 1   0.498171  0.546565
 2   0.527230  0.574010  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 15-mo (Agg_) - Exc...    0.1793
 1                              Degrees of freedom =   290.0000
 2                                               t =     5.7973
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9313
 7                                       Hedge's g =     0.9289
 8                                   Glass's delta =     0.9340
 9                                               r =     0.3223)

In [148]:
des, res = researchpy.ttest(normalized_df['Excess Return % 16-mo (Agg_)'], normalized_df1['Excess Return % 16-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 16-mo (Agg_)   46.0  0.719041  0.174349  0.025706
 1  Excess Return % 16-mo (Agg_)  245.0  0.534030  0.191842  0.012256
 2                      combined  291.0  0.563276  0.200633  0.011761

    95% Conf.  Interval
 0   0.667265  0.770816
 1   0.509889  0.558172
 2   0.540128  0.586424  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 16-mo (Agg_) - Exc...    0.1850
 1                              Degrees of freedom =   289.0000
 2                                               t =     6.0846
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9777
 7                                       Hedge's g =     0.9752
 8                                   Glass's delta =     1.0611
 9                                               r =     0.3370)

In [149]:
des, res = researchpy.ttest(normalized_df['Excess Return % 17-mo (Agg_)'], normalized_df1['Excess Return % 17-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 17-mo (Agg_)   48.0  0.658853  0.181541  0.026203
 1  Excess Return % 17-mo (Agg_)  245.0  0.494742  0.180409  0.011526
 2                      combined  293.0  0.521627  0.190273  0.011116

    95% Conf.  Interval
 0   0.606138  0.711567
 1   0.472039  0.517445
 2   0.499749  0.543504  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 17-mo (Agg_) - Exc...    0.1641
 1                              Degrees of freedom =   291.0000
 2                                               t =     5.7572
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9087
 7                                       Hedge's g =     0.9064
 8                                   Glass's delta =     0.9040
 9                                               r =     0.3198)

In [150]:
des, res = researchpy.ttest(normalized_df['Excess Return % 18-mo (Agg_)'], normalized_df1['Excess Return % 18-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 18-mo (Agg_)   49.0  0.661686  0.181792  0.025970
 1  Excess Return % 18-mo (Agg_)  244.0  0.504221  0.178713  0.011441
 2                      combined  293.0  0.530554  0.188352  0.011004

    95% Conf.  Interval
 0   0.609470  0.713903
 1   0.481685  0.526757
 2   0.508898  0.552211  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 18-mo (Agg_) - Exc...    0.1575
 1                              Degrees of freedom =   291.0000
 2                                               t =     5.6124
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8786
 7                                       Hedge's g =     0.8763
 8                                   Glass's delta =     0.8662
 9                                               r =     0.3125)

In [151]:
des, res = researchpy.ttest(normalized_df['Excess Return % 19-mo (Agg_)'], normalized_df1['Excess Return % 19-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 19-mo (Agg_)   50.0  0.645141  0.190983  0.027009
 1  Excess Return % 19-mo (Agg_)  243.0  0.487594  0.187036  0.011998
 2                      combined  293.0  0.514479  0.196565  0.011483

    95% Conf.  Interval
 0   0.590864  0.699417
 1   0.463959  0.511228
 2   0.491878  0.537080  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 19-mo (Agg_) - Exc...    0.1575
 1                              Degrees of freedom =   291.0000
 2                                               t =     5.4049
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8393
 7                                       Hedge's g =     0.8372
 8                                   Glass's delta =     0.8249
 9                                               r =     0.3020)

In [152]:
des, res = researchpy.ttest(normalized_df['Excess Return % 20-mo (Agg_)'], normalized_df1['Excess Return % 20-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 20-mo (Agg_)   51.0  0.642628  0.186550  0.026122
 1  Excess Return % 20-mo (Agg_)  242.0  0.492528  0.180111  0.011578
 2                      combined  293.0  0.518655  0.189693  0.011082

    95% Conf.  Interval
 0   0.590160  0.695096
 1   0.469721  0.515335
 2   0.496844  0.540466  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 20-mo (Agg_) - Exc...    0.1501
 1                              Degrees of freedom =   291.0000
 2                                               t =     5.3753
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8282
 7                                       Hedge's g =     0.8261
 8                                   Glass's delta =     0.8046
 9                                               r =     0.3005)

In [153]:
des, res = researchpy.ttest(normalized_df['Excess Return % 21-mo (Agg_)'], normalized_df1['Excess Return % 21-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 21-mo (Agg_)   51.0  0.654006  0.174392  0.024420
 1  Excess Return % 21-mo (Agg_)  241.0  0.491964  0.184622  0.011893
 2                      combined  292.0  0.520266  0.192705  0.011277

    95% Conf.  Interval
 0   0.604958  0.703055
 1   0.468537  0.515391
 2   0.498070  0.542461  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 21-mo (Agg_) - Exc...    0.1620
 1                              Degrees of freedom =   290.0000
 2                                               t =     5.7480
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.8860
 7                                       Hedge's g =     0.8837
 8                                   Glass's delta =     0.9292
 9                                               r =     0.3198)

In [154]:
des, res = researchpy.ttest(normalized_df['Excess Return % 22-mo (Agg_)'], normalized_df1['Excess Return % 22-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 22-mo (Agg_)   51.0  0.649001  0.158386  0.022178
 1  Excess Return % 22-mo (Agg_)  240.0  0.489286  0.180160  0.011629
 2                      combined  291.0  0.517277  0.186480  0.010932

    95% Conf.  Interval
 0   0.604455  0.693548
 1   0.466377  0.512195
 2   0.495762  0.538792  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 22-mo (Agg_) - Exc...    0.1597
 1                              Degrees of freedom =   289.0000
 2                                               t =     5.8659
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9045
 7                                       Hedge's g =     0.9021
 8                                   Glass's delta =     1.0084
 9                                               r =     0.3262)

In [155]:
des, res = researchpy.ttest(normalized_df['Excess Return % 23-mo (Agg_)'], normalized_df1['Excess Return % 23-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 23-mo (Agg_)   51.0  0.660906  0.148835  0.020841
 1  Excess Return % 23-mo (Agg_)  239.0  0.498264  0.179493  0.011610
 2                      combined  290.0  0.526867  0.184964  0.010861

    95% Conf.  Interval
 0   0.619046  0.702767
 1   0.475392  0.521136
 2   0.505489  0.548244  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 23-mo (Agg_) - Exc...    0.1626
 1                              Degrees of freedom =   288.0000
 2                                               t =     6.0406
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9317
 7                                       Hedge's g =     0.9293
 8                                   Glass's delta =     1.0928
 9                                               r =     0.3353)

In [156]:
des, res = researchpy.ttest(normalized_df['Excess Return % 24-mo (Agg_)'], normalized_df1['Excess Return % 24-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 24-mo (Agg_)   51.0  0.707990  0.147516  0.020656
 1  Excess Return % 24-mo (Agg_)  238.0  0.538788  0.183405  0.011888
 2                      combined  289.0  0.568647  0.188769  0.011104

    95% Conf.  Interval
 0   0.666501  0.749480
 1   0.515367  0.562208
 2   0.546792  0.590502  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 24-mo (Agg_) - Exc...    0.1692
 1                              Degrees of freedom =   287.0000
 2                                               t =     6.1717
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9523
 7                                       Hedge's g =     0.9498
 8                                   Glass's delta =     1.1470
 9                                               r =     0.3423)

In [157]:
des, res = researchpy.ttest(normalized_df['Excess Return % 25-mo (Agg_)'], normalized_df1['Excess Return % 25-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 25-mo (Agg_)   51.0  0.624408  0.123025  0.017227
 1  Excess Return % 25-mo (Agg_)  238.0  0.475862  0.164326  0.010652
 2                      combined  289.0  0.502076  0.167532  0.009855

    95% Conf.  Interval
 0   0.589807  0.659009
 1   0.454878  0.496846
 2   0.482679  0.521472  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 25-mo (Agg_) - Exc...    0.1485
 1                              Degrees of freedom =   287.0000
 2                                               t =     6.0965
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9407
 7                                       Hedge's g =     0.9382
 8                                   Glass's delta =     1.2075
 9                                               r =     0.3386)

In [158]:
des, res = researchpy.ttest(normalized_df['Excess Return % 26-mo (Agg_)'], normalized_df1['Excess Return % 26-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 26-mo (Agg_)   51.0  0.774304  0.138929  0.019454
 1  Excess Return % 26-mo (Agg_)  236.0  0.584736  0.197134  0.012832
 2                      combined  287.0  0.618422  0.201434  0.011890

    95% Conf.  Interval
 0   0.735230  0.813379
 1   0.559455  0.610017
 2   0.595019  0.641826  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 26-mo (Agg_) - Exc...    0.1896
 1                              Degrees of freedom =   285.0000
 2                                               t =     6.5220
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0071
 7                                       Hedge's g =     1.0045
 8                                   Glass's delta =     1.3645
 9                                               r =     0.3604)

In [159]:
des, res = researchpy.ttest(normalized_df['Excess Return % 27-mo (Agg_)'], normalized_df1['Excess Return % 27-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 27-mo (Agg_)   51.0  0.678038  0.117189  0.016410
 1  Excess Return % 27-mo (Agg_)  236.0  0.503443  0.178685  0.011631
 2                      combined  287.0  0.534469  0.181950  0.010740

    95% Conf.  Interval
 0   0.645078  0.710998
 1   0.480528  0.526359
 2   0.513329  0.555609  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 27-mo (Agg_) - Exc...    0.1746
 1                              Degrees of freedom =   285.0000
 2                                               t =     6.6699
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0300
 7                                       Hedge's g =     1.0272
 8                                   Glass's delta =     1.4899
 9                                               r =     0.3674)

In [160]:
des, res = researchpy.ttest(normalized_df['Excess Return % 28-mo (Agg_)'], normalized_df1['Excess Return % 28-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 28-mo (Agg_)   51.0  0.737439  0.117478  0.016450
 1  Excess Return % 28-mo (Agg_)  235.0  0.548171  0.187768  0.012249
 2                      combined  286.0  0.581922  0.191406  0.011318

    95% Conf.  Interval
 0   0.704398  0.770480
 1   0.524040  0.572303
 2   0.559644  0.604199  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 28-mo (Agg_) - Exc...    0.1893
 1                              Degrees of freedom =   284.0000
 2                                               t =     6.9056
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0668
 7                                       Hedge's g =     1.0639
 8                                   Glass's delta =     1.6111
 9                                               r =     0.3792)

In [161]:
des, res = researchpy.ttest(normalized_df['Excess Return % 29-mo (Agg_)'], normalized_df1['Excess Return % 29-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 29-mo (Agg_)   51.0  0.672826  0.105772  0.014811
 1  Excess Return % 29-mo (Agg_)  234.0  0.490763  0.181019  0.011834
 2                      combined  285.0  0.523343  0.183686  0.010881

    95% Conf.  Interval
 0   0.643078  0.702575
 1   0.467449  0.514078
 2   0.501926  0.544760  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 29-mo (Agg_) - Exc...    0.1821
 1                              Degrees of freedom =   283.0000
 2                                               t =     6.9236
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0699
 7                                       Hedge's g =     1.0671
 8                                   Glass's delta =     1.7213
 9                                               r =     0.3806)

In [162]:
des, res = researchpy.ttest(normalized_df['Excess Return % 30-mo (Agg_)'], normalized_df1['Excess Return % 30-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 30-mo (Agg_)   51.0  0.615440  0.099661  0.013955
 1  Excess Return % 30-mo (Agg_)  234.0  0.447970  0.170950  0.011175
 2                      combined  285.0  0.477939  0.172800  0.010236

    95% Conf.  Interval
 0   0.587410  0.643470
 1   0.425953  0.469988
 2   0.457791  0.498086  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 30-mo (Agg_) - Exc...    0.1675
 1                              Degrees of freedom =   283.0000
 2                                               t =     6.7448
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0423
 7                                       Hedge's g =     1.0395
 8                                   Glass's delta =     1.6804
 9                                               r =     0.3721)

In [163]:
des, res = researchpy.ttest(normalized_df['Excess Return % 31-mo (Agg_)'], normalized_df1['Excess Return % 31-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 31-mo (Agg_)   51.0  0.633898  0.094814  0.013277
 1  Excess Return % 31-mo (Agg_)  233.0  0.463401  0.173533  0.011369
 2                      combined  284.0  0.494019  0.174852  0.010376

    95% Conf.  Interval
 0   0.607231  0.660565
 1   0.441003  0.485800
 2   0.473596  0.514442  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 31-mo (Agg_) - Exc...    0.1705
 1                              Degrees of freedom =   282.0000
 2                                               t =     6.7917
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0500
 7                                       Hedge's g =     1.0472
 8                                   Glass's delta =     1.7982
 9                                               r =     0.3749)

In [164]:
des, res = researchpy.ttest(normalized_df['Excess Return % 32-mo (Agg_)'], normalized_df1['Excess Return % 32-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 32-mo (Agg_)   51.0  0.675419  0.081513  0.011414
 1  Excess Return % 32-mo (Agg_)  233.0  0.514846  0.164916  0.010804
 2                      combined  284.0  0.543681  0.165173  0.009801

    95% Conf.  Interval
 0   0.652493  0.698345
 1   0.493559  0.536132
 2   0.524389  0.562974  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 32-mo (Agg_) - Exc...    0.1606
 1                              Degrees of freedom =   282.0000
 2                                               t =     6.7679
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0463
 7                                       Hedge's g =     1.0435
 8                                   Glass's delta =     1.9699
 9                                               r =     0.3738)

In [165]:
des, res = researchpy.ttest(normalized_df['Excess Return % 33-mo (Agg_)'], normalized_df1['Excess Return % 33-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 33-mo (Agg_)   51.0  0.672928  0.078203  0.010951
 1  Excess Return % 33-mo (Agg_)  232.0  0.510771  0.168189  0.011042
 2                      combined  283.0  0.539994  0.167793  0.009974

    95% Conf.  Interval
 0   0.650933  0.694923
 1   0.489015  0.532527
 2   0.520360  0.559627  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 33-mo (Agg_) - Exc...    0.1622
 1                              Degrees of freedom =   281.0000
 2                                               t =     6.7203
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     1.0393
 7                                       Hedge's g =     1.0366
 8                                   Glass's delta =     2.0735
 9                                               r =     0.3721)

In [166]:
des, res = researchpy.ttest(normalized_df['Excess Return % 34-mo (Agg_)'], normalized_df1['Excess Return % 34-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 34-mo (Agg_)   51.0  0.648917  0.076957  0.010776
 1  Excess Return % 34-mo (Agg_)  232.0  0.493191  0.169889  0.011154
 2                      combined  283.0  0.521255  0.168190  0.009998

    95% Conf.  Interval
 0   0.627272  0.670561
 1   0.471215  0.515167
 2   0.501575  0.540935  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 34-mo (Agg_) - Exc...    0.1557
 1                              Degrees of freedom =   281.0000
 2                                               t =     6.3965
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9893
 7                                       Hedge's g =     0.9866
 8                                   Glass's delta =     2.0235
 9                                               r =     0.3565)

In [167]:
des, res = researchpy.ttest(normalized_df['Excess Return % 35-mo (Agg_)'], normalized_df1['Excess Return % 35-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 35-mo (Agg_)   51.0  0.645132  0.078140  0.010942
 1  Excess Return % 35-mo (Agg_)  232.0  0.491403  0.173559  0.011395
 2                      combined  283.0  0.519107  0.171060  0.010168

    95% Conf.  Interval
 0   0.623154  0.667109
 1   0.468952  0.513854
 2   0.499091  0.539123  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 35-mo (Agg_) - Exc...    0.1537
 1                              Degrees of freedom =   281.0000
 2                                               t =     6.1825
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9562
 7                                       Hedge's g =     0.9536
 8                                   Glass's delta =     1.9674
 9                                               r =     0.3460)

In [168]:
des, res = researchpy.ttest(normalized_df['Excess Return % 36-mo (Agg_)'], normalized_df1['Excess Return % 36-mo (Agg_)'])

des, res

(                       Variable      N      Mean        SD        SE  \
 0  Excess Return % 36-mo (Agg_)   51.0  0.627428  0.074523  0.010435
 1  Excess Return % 36-mo (Agg_)  231.0  0.478865  0.167888  0.011046
 2                      combined  282.0  0.505733  0.165349  0.009846

    95% Conf.  Interval
 0   0.606468  0.648388
 1   0.457101  0.500630
 2   0.486351  0.525115  ,
                                   Independent t-test   results
 0  Difference (Excess Return % 36-mo (Agg_) - Exc...    0.1486
 1                              Degrees of freedom =   280.0000
 2                                               t =     6.1797
 3                           Two side test p value =     0.0000
 4                          Difference < 0 p value =     1.0000
 5                          Difference > 0 p value =     0.0000
 6                                       Cohen's d =     0.9561
 7                                       Hedge's g =     0.9535
 8                                   Glass's delta =     1.9935
 9                                               r =     0.3464)

# We now will export p-value and excess return mean data to excel and start the analysis in a new jupyter notebooks